azure-blob-upload.yaml
id: azure-blob-upload
namespace: company.team
tasks:
  - id: extract
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/salaries.csv
  - id: load
    type: io.kestra.plugin.azure.storage.blob.Upload
    endpoint: https://kestra.blob.core.windows.net
    connectionString: "{{ secret('AZURE_CONNECTION_STRING') }}"
    container: kestra
    from: "{{ outputs.extract.uri }}"
    name: data.csv
extend:
  title: Extract data via an HTTP API call and upload it as a file to Azure Blog
    Storage
  description: This flow downloads a file via an HTTPS request and then upload it
    to Azure Blob Storage.
  tags:
    - Azure
    - Outputs
  ee: false
  demo: false
  meta_description: This flow downloads a file via an HTTPS request and then
    upload it to Azure Blob Storage.
