company.team.scan_dynamodb_table.yml
id: scan_dynamodb_table
namespace: company.team
tasks:
  - id: extract_data
    type: io.kestra.plugin.aws.dynamodb.Scan
    tableName: demo
    fetchType: FETCH
    region: "{{ secret('AWS_DEFAULT_REGION') }}"
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
  - id: process_data
    type: io.kestra.plugin.scripts.shell.Commands
    runner: PROCESS
    commands:
      - echo {{ outputs.extract_data.rows }}
extend:
  title: Extract and process data from DynamoDB
  description: >-
    This flow scans a DynamoDB table and outputs the extracted data as a JSON
    string. The subsequent task processes that data.


    The `tableName` property must point to an already existing DynamoDB table.


    It's recommended to set the `accessKeyId` and `secretKeyId` properties as
    secrets.


    This flow assumes AWS credentials stored as secrets `AWS_ACCESS_KEY_ID`,
    `AWS_SECRET_ACCESS_KEY` and `AWS_DEFAULT_REGION`.
  tags:
    - AWS
  ee: false
  demo: false
  meta_description: This flow scans a DynamoDB table and outputs the extracted
    data as a JSON string. The subsequent task processes that data.
