load-to-cloud-storage.yaml
id: load-to-cloud-storage
namespace: company.team

tasks:
  - id: data
    type: io.kestra.plugin.core.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

  - id: cloud_storage
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.data.uri }}"
    to: gs://kestra-demo/data.csv

extend:
  title: Download data and upload to Google Cloud Storage
  description: >-
    This blueprint shows how to download a CSV file via http Download, and
    upload it to GCS.

    > Note: Authentication to GCP can be done by setting the
    `GOOGLE_APPLICATION_CREDENTIALS` variable in environment (via a service
    account for example).
  tags:
    - GCP
    - Software Engineering
  ee: false
  demo: false
  meta_description: This flow download data and upload it to Google Cloud Storage.
