python-generate-outputs-simple.yaml
id: python-generate-outputs-simple
namespace: company.team

tasks:
  - id: generate_output
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install kestra
    script: |
      from kestra import Kestra
      
      marks = [79, 91, 85, 64, 82]
      Kestra.outputs({"total_marks": sum(marks),"average_marks": sum(marks)/len(marks)})

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: 
      - "Total Marks: {{ outputs.generate_output.vars.total_marks }}"
      - "Average Marks: {{ outputs.generate_output.vars.average_marks }}"
extend:
  title: Run a simple Python script to generate outputs and log them
  description: >-
    This flow generates outputs in a simple Python script, and then logs them.

    The flow has two tasks:
    1. Generate outputs using Python script
    2. Log the outputs generated in the prior task
  tags:
    - Python
    - Outputs
  ee: false
  demo: true
  meta_description: This flow generates outputs using Python script and logs the outputs
