sanitychecks/plugins/plugin-redis/keys-json.yaml
id: keys-json
namespace: sanitycheck.plugin.redis

inputs:
  - id: cs
    type: SECRET
    defaults: "redis://:redis@localhost:6379/0"

tasks:
  - id: set
    type: io.kestra.plugin.redis.string.Set
    url: "{{ inputs.cs }}"
    serdeType: JSON
    key: "key_json_{{ execution.id }}"
    value: |
      {{ {
        "flow": flow.id,
        "namespace": flow.namespace
      } | toJson }}

  - id: get
    type: io.kestra.plugin.redis.string.Get
    url: "{{ inputs.cs }}"
    serdeType: JSON
    key: "key_json_{{ execution.id }}"

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Invalid get data {{ outputs.get.data.flow }}"
    conditions:
      - "{{ outputs.get.data.flow == flow.id }}"
      - "{{ outputs.get.data.namespace == flow.namespace }}"
