flows/ai-blog-post-generator.yaml
id: ai-blog-post-generator
namespace: company.team

inputs:
  - id: post_topic
    type: STRING
    displayName: Blog post topic
    description: The topic or title idea for the new blog post to generate
  - id: brand_url
    type: STRING
    displayName: Brand RSS feed URL
    description: RSS feed URL for your existing blog articles (used to extract brand voice)
    defaults: "https://yourblog.com/feed"
  - id: target_audience
    type: STRING
    displayName: Target audience
    description: Target audience for tone calibration (e.g., software engineers, marketing managers)
    defaults: "software engineers"
  - id: cms_api_url
    type: STRING
    displayName: WordPress REST API base URL
    description: WordPress REST API base URL (e.g., https://yourblog.com/wp-json/wp/v2)
    defaults: "https://yourblog.com/wp-json/wp/v2"

tasks:
  - id: fetch_reference_articles
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.brand_url }}"
    method: GET
    headers:
      Accept: "application/rss+xml, application/xml, text/xml, application/json"

  - id: extract_brand_voice
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o
    maxTokens: 800
    jsonResponseSchema: |
      {
        "type": "object",
        "properties": {
          "tone": {"type": "string"},
          "vocabulary": {"type": "string"},
          "structure_pattern": {"type": "string"},
          "example_opening": {"type": "string"},
          "content_guidelines": {"type": "string"}
        },
        "required": ["tone", "vocabulary", "structure_pattern", "example_opening", "content_guidelines"]
      }
    messages:
      - role: system
        content: |
          You are a brand voice analyst. Given sample blog content, extract the writing style and brand voice.
          Analyze and return structured JSON with:
          - tone: overall tone (e.g., "technical and direct", "conversational and encouraging")
          - vocabulary: characteristic word choices, jargon level, formality
          - structure_pattern: typical article structure (e.g., "problem → solution → example → CTA")
          - example_opening: a sample opening sentence in this brand's style
          - content_guidelines: key rules about what this brand does/avoids (bullet list as string)
      - role: user
        content: |
          Analyze the brand voice from this blog content (first 3000 characters):
          {{ outputs.fetch_reference_articles.body | truncate(3000) }}

  - id: generate_blog_post
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o
    maxTokens: 2000
    messages:
      - role: system
        content: |
          You are an expert content writer. Write a complete, publication-ready blog post that perfectly
          matches the provided brand voice profile. The post should be in Markdown format with:
          - A compelling H1 title
          - An engaging introduction (2-3 paragraphs)
          - 3-4 H2 sections with substantive content
          - A conclusion with a clear takeaway

          Target audience: {{ inputs.target_audience }}
          Write for this audience specifically — calibrate depth, examples, and terminology accordingly.
          Match the brand voice exactly. Do not add meta-commentary about the writing.
      - role: user
        content: |
          Brand voice profile:
          {{ outputs.extract_brand_voice.choices[0].message.content }}

          Topic to write about: {{ inputs.post_topic }}

          Write the full blog post now.

  - id: prepare_wp_payload
    type: io.kestra.plugin.scripts.python.Script
    dependencies:
      - markdown2
    inputFiles:
      post_content.md: "{{ outputs.generate_blog_post.choices[0].message.content }}"
    script: |
      import json
      import re
      import markdown2
      from kestra import Kestra

      with open("post_content.md") as f:
          md_content = f.read()

      # Extract H1 title from markdown
      title_match = re.search(r'^#\s+(.+)$', md_content, re.MULTILINE)
      title = title_match.group(1).strip() if title_match else "{{ inputs.post_topic }}"

      # Remove the H1 from content (WordPress uses title field separately)
      body_md = re.sub(r'^#\s+.+\n', '', md_content, count=1).strip()

      # Convert Markdown to HTML
      html_content = markdown2.markdown(body_md, extras=["fenced-code-blocks", "tables", "header-ids"])

      # Generate excerpt from first paragraph
      first_para = re.search(r'<p>(.+?)</p>', html_content, re.DOTALL)
      excerpt = re.sub(r'<[^>]+>', '', first_para.group(1))[:300] if first_para else ""

      # Count words
      word_count = len(md_content.split())

      payload = {
          "title": title,
          "content": html_content,
          "status": "draft",
          "excerpt": excerpt
      }

      Kestra.outputs({
          "payload": json.dumps(payload),
          "title": title,
          "word_count": word_count,
          "excerpt": excerpt
      })

  - id: publish_to_cms
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.cms_api_url }}/posts"
    method: POST
    contentType: "application/json"
    headers:
      Authorization: "Basic {{ secret('WP_AUTH_TOKEN') }}"
    body: "{{ outputs.prepare_wp_payload.vars.payload }}"

  - id: notify_slack
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    messageText: |
      :pencil: *New Blog Draft Created*

      *Topic:* {{ inputs.post_topic }}
      *Title:* {{ outputs.prepare_wp_payload.vars.title }}
      *Words:* {{ outputs.prepare_wp_payload.vars.word_count }}
      *Status:* Draft saved to WordPress
      *Audience:* {{ inputs.target_audience }}

      _Review and publish at: {{ inputs.cms_api_url | replace('/wp-json/wp/v2', '/wp-admin/') }}_

extend:
  title: Generate AI Blog Posts in Your Brand Voice and Publish to WordPress as Draft
  metaTitle: AI Blog Post Generator with OpenAI and Kestra
  shortDescription: Extract your brand voice from an RSS feed, generate an on-brand blog post with OpenAI GPT-4o, and save it to WordPress as a draft.
  description: |
    Generate publication-ready blog posts that match your existing brand voice and land in WordPress as a draft, all from a single topic input. This AI blog post generator solves the biggest problem with automated content: generic, off-brand writing. Instead of feeding the model abstract style rules, it learns from your real published articles via your RSS feed, builds a structured brand voice profile with OpenAI GPT-4o, writes a full Markdown article calibrated to your target audience, converts it to clean HTML, and posts it to WordPress for human review and one-click publishing. It is a complete content automation pipeline combining AI text generation, CMS publishing, and Slack notifications in declarative YAML.

    ## How it works

    1. `fetch_reference_articles` (`io.kestra.plugin.core.http.Request`) pulls your existing blog content from the RSS feed at the `brand_url` input.
    2. `extract_brand_voice` (`io.kestra.plugin.openai.ChatCompletion`) analyzes the sample content with `gpt-4o` and a `jsonResponseSchema`, returning structured tone, vocabulary, structure pattern, example opening, and content guidelines.
    3. `generate_blog_post` (`io.kestra.plugin.openai.ChatCompletion`) writes a full Markdown article (H1 title, intro, 3-4 H2 sections, conclusion) using the voice profile and the `target_audience` input as generation constraints.
    4. `prepare_wp_payload` (`io.kestra.plugin.scripts.python.Script`) uses the `markdown2` dependency to convert Markdown to HTML, split out the title, build an excerpt, count words, and emit a WordPress payload.
    5. `publish_to_cms` (`io.kestra.plugin.core.http.Request`) POSTs the draft to the WordPress REST API at `cms_api_url` using Basic authentication.
    6. `notify_slack` (`io.kestra.plugin.slack.notifications.SlackIncomingWebhook`) sends the title, word count, status, and a review link to your content channel.

    ## What you get

    - On-brand drafts learned from your real articles, not generic AI prose
    - Audience-calibrated depth, examples, and terminology
    - Clean HTML, an excerpt, and word count ready for editorial review
    - A WordPress draft (never auto-published) plus a Slack heads-up per run

    ## Who it's for

    - Content teams that publish regularly and want consistent, on-brand drafts
    - Marketing automation owners triggering posts from keyword or campaign calendars
    - Solo bloggers and founders maintaining cadence without the time cost
    - Agencies running one flow per client brand via different `brand_url` inputs

    ## Why orchestrate this with Kestra

    OpenAI and WordPress have no shared scheduler or workflow engine that can chain a model call into a CMS publish, add a script step in between, and notify a team. Kestra fills that gap. You get event triggers, automatic retries on flaky HTTP or API calls, full execution lineage across every task, and a declarative YAML definition you can version control. The brand voice profile, generation, payload prep, publish, and notification run as one observable pipeline instead of glue scripts.

    ## Prerequisites

    - A Kestra instance
    - An existing blog with a reachable RSS feed and a WordPress site with the REST API enabled
    - A WordPress application password for Basic auth and a Slack incoming webhook

    ### Secrets

    - `OPENAI_API_KEY`: API key for the OpenAI GPT-4o calls
    - `WP_AUTH_TOKEN`: base64 Basic auth token for the WordPress REST API
    - `SLACK_WEBHOOK_URL`: Slack incoming webhook URL for notifications

    ## Quick start

    1. Add the `OPENAI_API_KEY`, `WP_AUTH_TOKEN`, and `SLACK_WEBHOOK_URL` secrets to your Kestra instance.
    2. Set the `brand_url`, `cms_api_url`, and `target_audience` input defaults for your site.
    3. Execute the flow with a `post_topic`.
    4. Review the generated draft in WordPress and publish when ready.

    ## How to extend

    - Add a `io.kestra.plugin.core.flow.Pause` task before `publish_to_cms` for a human-approval gate.
    - Auto-populate SEO meta description and keywords from an additional model call.
    - Target other CMS platforms (Ghost, Contentful, Strapi) by swapping the publish Request.
    - Chain into a social post generator for LinkedIn and X variants of the same article.

    ## Links

    - [plugin-openai docs](https://kestra.io/plugins/plugin-openai)
    - [plugin-slack docs](https://kestra.io/plugins/plugin-slack)
    - [plugin-scripts-python docs](https://kestra.io/plugins/plugin-scripts-python)
  tags:
    - AI
    - Business
  ee: false
  demo: false
  metaDescription: Automate brand-consistent blog creation with Kestra and OpenAI GPT-4o. Extract your writing style, generate an on-brand post, and publish to WordPress as a draft.
