flows/ai-github-pr-review.yaml
id: ai-github-pr-review
namespace: company.team

inputs:
  - id: repo_owner
    type: STRING
    displayName: Repository owner
    description: GitHub username or organization owning the repository
    defaults: "your-org"
  - id: repo_name
    type: STRING
    displayName: Repository name
    description: Name of the GitHub repository to monitor for new pull requests
    defaults: "your-repo"
  - id: pull_number
    type: INT
    displayName: Pull request number
    description: The PR number to review
    defaults: 1
  - id: review_guidelines
    type: STRING
    displayName: Code review guidelines
    description: Custom coding standards or best practices for the AI reviewer to apply
    defaults: |
      - Prefer clear variable names over abbreviations
      - Functions should have a single responsibility
      - Avoid deeply nested conditionals; prefer early returns
      - All public APIs must have docstrings
      - No hardcoded credentials or magic strings

tasks:
  - id: fetch_pr_diff
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.repo_owner }}/{{ inputs.repo_name }}/pulls/{{ inputs.pull_number }}/files"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('GITHUB_TOKEN') }}"
      Accept: "application/vnd.github.v3+json"
      X-GitHub-Api-Version: "2022-11-28"

  - id: fetch_pr_metadata
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.repo_owner }}/{{ inputs.repo_name }}/pulls/{{ inputs.pull_number }}"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('GITHUB_TOKEN') }}"
      Accept: "application/vnd.github.v3+json"
      X-GitHub-Api-Version: "2022-11-28"

  - id: generate_review
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o
    maxTokens: 2000
    messages:
      - role: system
        content: |
          You are a senior software engineer performing a thorough code review.
          Review the pull request diff below and provide actionable, constructive feedback.

          Apply these coding guidelines:
          {{ inputs.review_guidelines }}

          Structure your review as:
          ## Summary
          Brief description of what this PR does.

          ## Issues Found
          List specific problems with file path and line context. Rate each as [CRITICAL], [MAJOR], or [MINOR].

          ## Suggestions
          Improvement suggestions that are not blocking.

          ## Verdict
          One of: ✅ APPROVED | ⚠️ APPROVED WITH SUGGESTIONS | ❌ CHANGES REQUESTED
      - role: user
        content: |
          PR Title: {{ outputs.fetch_pr_metadata.body | json | jq('.title') | first }}
          PR Description: {{ outputs.fetch_pr_metadata.body | json | jq('.body') | first }}

          Changed files and diffs:
          {{ outputs.fetch_pr_diff.body }}

  - id: post_review_comment
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.github.com/repos/{{ inputs.repo_owner }}/{{ inputs.repo_name }}/issues/{{ inputs.pull_number }}/comments"
    method: POST
    contentType: "application/json"
    headers:
      Authorization: "Bearer {{ secret('GITHUB_TOKEN') }}"
      Accept: "application/vnd.github.v3+json"
      X-GitHub-Api-Version: "2022-11-28"
    body: |
      {
        "body": "## 🤖 Automated AI Code Review\n\n{{ outputs.generate_review.choices[0].message.content | replace('\"', '\\\"') | replace('\n', '\\n') }}\n\n---\n_Reviewed by Kestra AI Code Review workflow_"
      }

triggers:
  - id: github_webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('WEBHOOK_KEY') }}"

extend:
  title: Automatically Review GitHub Pull Requests with OpenAI GPT-4o and Post Comments
  shortDescription: "This blueprint automates GitHub pull request code reviews by fetching diffs via the GitHub API, sending them to OpenAI GPT-4o with configurable coding guidelines, and posting the AI-generated review as a PR comment."
  description: |
    This blueprint **automates GitHub pull request code reviews** by fetching diffs via the
    GitHub API, sending them to **OpenAI GPT-4o** with configurable coding guidelines, and
    posting the AI-generated review directly as a **PR comment** — reducing review latency
    and ensuring consistent standards enforcement.

    It demonstrates how to:

    1. Fetch the **PR diff and metadata** from the GitHub REST API, retrieving all changed
       files and the PR title and description as context for the AI reviewer.
    2. Send the diff and **custom coding guidelines** to **GPT-4o**, instructing it to
       produce a structured review covering a summary, categorized issues (CRITICAL/MAJOR/MINOR),
       suggestions, and a final verdict.
    3. Post the AI-generated review as a **comment on the pull request** using the GitHub
       Issues API, making it immediately visible to contributors.
    4. Trigger the review on-demand via a **Webhook**, enabling integration with GitHub
       Actions, external CI pipelines, or manual invocation from the Kestra UI.

    This pattern is ideal for:
      - **Engineering teams** that want consistent first-pass code review coverage across all PRs
      - **Open source projects** with high PR volume where maintainer bandwidth is limited
      - **Solo developers** who want an AI pair reviewer before requesting human review
      - Teams that need **custom guidelines enforced** (security rules, style guides, API contracts)

    The flow can be extended to fetch coding guidelines from a database or Notion page,
    add a GitHub label (e.g., "AI-reviewed") after posting the comment, escalate
    CRITICAL findings to a Slack channel, or trigger automatically from a GitHub webhook.
  tags:
    - AI
    - DevOps
  ee: false
  demo: false
  meta_description: |
    Automatically review GitHub pull requests with OpenAI GPT-4o. Fetches diffs and metadata
    from the GitHub API, generates a structured code review with configurable guidelines, and
    posts the result as a PR comment — triggered via webhook.
