flows/ai-model-router.yaml
id: ai-model-router
namespace: company.team

inputs:
  - id: question
    type: STRING
    displayName: User question
    description: The question or task to route to the optimal AI model
    defaults: "Write a Python function that implements binary search"

tasks:
  - id: classify_request
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o-mini
    maxTokens: 10
    jsonResponseSchema: |
      {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "enum": ["coding", "reasoning", "search", "general"]
          }
        },
        "required": ["category"]
      }
    messages:
      - role: system
        content: |
          Classify the user's request into exactly one category:
          - "coding": writing, debugging, or explaining code
          - "reasoning": math, logic, analysis, or multi-step problem solving
          - "search": questions requiring recent or factual real-world information
          - "general": everything else (summaries, creative writing, Q&A, translation)
          Respond with JSON only.
      - role: user
        content: "{{ inputs.question }}"

  - id: route_to_model
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ outputs.classify_request.choices[0].message.content | json | jq('.category') | first }}"
    cases:
      coding:
        - id: coding_model
          type: io.kestra.plugin.anthropic.ChatCompletion
          apiKey: "{{ secret('ANTHROPIC_API_KEY') }}"
          model: claude-opus-4-5
          maxTokens: 2048
          messages:
            - type: USER
              content: "{{ inputs.question }}"

      reasoning:
        - id: reasoning_model
          type: io.kestra.plugin.gemini.ChatCompletion
          apiKey: "{{ secret('GEMINI_API_KEY') }}"
          model: gemini-2.5-flash
          messages:
            - role: user
              content: "{{ inputs.question }}"

      search:
        - id: search_model
          type: io.kestra.plugin.perplexity.ChatCompletion
          apiKey: "{{ secret('PERPLEXITY_API_KEY') }}"
          model: sonar
          messages:
            - role: user
              content: "{{ inputs.question }}"

    defaults:
      - id: general_model
        type: io.kestra.plugin.openai.ChatCompletion
        apiKey: "{{ secret('OPENAI_API_KEY') }}"
        model: gpt-4o-mini
        maxTokens: 1024
        messages:
          - role: user
            content: "{{ inputs.question }}"

pluginDefaults:
  - type: io.kestra.plugin.anthropic.ChatCompletion
    values:
      apiKey: "{{ secret('ANTHROPIC_API_KEY') }}"

extend:
  title: Route AI Requests to the Optimal Model Based on Query Classification
  metaTitle: AI Model Router with OpenAI on Kestra
  shortDescription: Classify every prompt with OpenAI, then route it to the best-fit LLM across Anthropic, Gemini, Perplexity, and OpenAI for quality and cost.
  description: |
    Build an AI model router that classifies each incoming prompt and dispatches it to the most suitable large language model, so you stop paying frontier prices for simple questions and stop sending hard problems to weak models. A lightweight OpenAI classifier reads the request, tags it as coding, reasoning, search, or general, and a single routing decision picks the right provider for the job. This solves the core problem of multi-provider AI: choosing the right model per request, with full observability over every classification and response.

    ## How it works

    1. The `classify_request` task (`io.kestra.plugin.openai.ChatCompletion`, model `gpt-4o-mini`) classifies the user prompt into one of four categories using a constrained `jsonResponseSchema` and a small `maxTokens` budget, keeping classification fast and cheap.
    2. The `route_to_model` task (`io.kestra.plugin.core.flow.Switch`) reads the category with a `jq` expression over the classifier output and selects a branch.
    3. Coding prompts go to `coding_model` (`io.kestra.plugin.anthropic.ChatCompletion`, Claude Opus). Reasoning prompts go to `reasoning_model` (`io.kestra.plugin.gemini.ChatCompletion`, Gemini 2.5 Flash). Search prompts go to `search_model` (`io.kestra.plugin.perplexity.ChatCompletion`, Sonar) for real-time web retrieval.
    4. Anything else falls through to the Switch `defaults`, hitting `general_model` (`io.kestra.plugin.openai.ChatCompletion`, `gpt-4o-mini`) for cost-efficient general answers.

    ## What you get

    - A working, auditable routing layer across four AI providers in one declarative flow.
    - Cheap pre-classification with structured JSON output instead of brittle string parsing.
    - Per-request model selection that matches each task to a specialized model.
    - Full execution history showing what was classified, where it routed, and what came back.

    ## Who it's for

    - AI platform and chatbot teams serving diverse query types.
    - Cost-conscious teams avoiding frontier models for trivial prompts.
    - Engineers building observable multi-provider LLM pipelines.

    ## Why orchestrate this with Kestra

    A provider SDK can call one model, but it cannot coordinate classification, branching, retries, and lineage across several vendors. Kestra adds event and schedule triggers, automatic retries on transient API errors, and full execution lineage so every routing decision is logged and replayable. The entire pipeline is declarative YAML you can version and review, filling the gap that no single LLM provider's own client can cover: vendor-agnostic routing with auditability.

    ## Prerequisites

    - A Kestra instance (`>= 0.16`).
    - Active accounts with OpenAI, Anthropic, Google Gemini, and Perplexity.

    ### Secrets

    - `OPENAI_API_KEY`: used by the classifier and the general fallback model.
    - `ANTHROPIC_API_KEY`: used by the coding branch.
    - `GEMINI_API_KEY`: used by the reasoning branch.
    - `PERPLEXITY_API_KEY`: used by the search branch.

    ## Quick start

    1. Add `OPENAI_API_KEY`, `ANTHROPIC_API_KEY`, `GEMINI_API_KEY`, and `PERPLEXITY_API_KEY` as Kestra secrets.
    2. Create the flow from this blueprint.
    3. Run it with the default `question` input, or supply your own prompt.
    4. Inspect the execution to see the classification and the branch that handled it.

    ## How to extend

    - Add new categories and Switch cases for more specialized models.
    - Weight routing by cost or latency targets per category.
    - A/B test two models on the same category and compare outputs.
    - Log classification and response quality to a database for continuous tuning.

    ## Links

    - [Plugin OpenAI documentation](https://kestra.io/plugins/plugin-openai)
  tags:
    - AI
    - Core
  ee: false
  demo: false
  metaDescription: Build an AI model router on Kestra. Classify prompts with OpenAI, then route coding, reasoning, search, and general queries to the best-fit LLM.
