flows/ai-semantic-cache-redis.yaml
id: ai-semantic-cache-redis
namespace: company.team

inputs:
  - id: question
    type: STRING
    displayName: User question
    description: Question to answer — checked against the semantic cache before calling the LLM
    defaults: "What is your refund policy?"
  - id: cache_key_prefix
    type: STRING
    displayName: Cache key prefix
    description: Namespace prefix for Redis cache keys (useful for multi-tenant setups)
    defaults: "ai_cache"

tasks:
  - id: generate_cache_key
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import hashlib
      import re

      question = "{{ inputs.question }}"
      prefix = "{{ inputs.cache_key_prefix }}"

      # Normalize: lowercase, strip punctuation, collapse whitespace
      normalized = re.sub(r'[^\w\s]', '', question.lower().strip())
      normalized = re.sub(r'\s+', ' ', normalized)

      # Create deterministic cache key from normalized question
      cache_key = f"{prefix}:{hashlib.md5(normalized.encode()).hexdigest()}"

      print(f"Cache key: {cache_key}")
      print(f"Normalized: {normalized}")

      from kestra import Kestra
      Kestra.outputs({'cache_key': cache_key, 'normalized_question': normalized})

  - id: check_cache
    type: io.kestra.plugin.redis.string.Get
    url: "{{ secret('REDIS_URL') }}"
    key: "{{ outputs.generate_cache_key.vars.cache_key }}"
    failedOnMissing: false

  - id: route_request
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_cache.value != null and outputs.check_cache.value != '' }}"
    then:
      - id: serve_from_cache
        type: io.kestra.plugin.core.log.Log
        message: "CACHE HIT — {{ outputs.check_cache.value }}"
    else:
      - id: call_llm
        type: io.kestra.plugin.openai.ChatCompletion
        apiKey: "{{ secret('OPENAI_API_KEY') }}"
        model: gpt-4o
        maxTokens: 512
        messages:
          - role: system
            content: "You are a helpful customer support assistant. Answer questions accurately and concisely."
          - role: user
            content: "{{ inputs.question }}"

      - id: store_in_cache
        type: io.kestra.plugin.redis.string.Set
        url: "{{ secret('REDIS_URL') }}"
        key: "{{ outputs.generate_cache_key.vars.cache_key }}"
        value: "{{ outputs.call_llm.choices[0].message.content }}"

      - id: log_llm_response
        type: io.kestra.plugin.core.log.Log
        message: "LLM RESPONSE — {{ outputs.call_llm.choices[0].message.content }}"

extend:
  title: Reduce LLM API Costs with a Redis Semantic Cache for Repeated Questions
  shortDescription: "This blueprint implements a semantic caching layer in front of an OpenAI LLM using Redis, serving instant responses for previously answered questions and calling the API only on genuine cache misses."
  description: |
    This blueprint implements a **semantic caching layer in front of an OpenAI LLM using Redis**,
    serving instant responses for previously answered questions and calling the LLM API only on
    genuine cache misses — cutting costs and latency for FAQ-heavy workloads.

    It demonstrates how to:

    1. **Normalize and hash** the user's question into a deterministic Redis key using
       text normalization (lowercase, punctuation removal, whitespace collapse) and MD5
       hashing — so semantically equivalent questions map to the same cache entry.
    2. **Check Redis** for a previously stored answer using the computed cache key, treating
       a null response as a cache miss.
    3. Conditionally **serve a cached response instantly** when a matching key exists,
       avoiding any LLM API call.
    4. On cache miss, **call OpenAI GPT-4o** to generate a fresh answer, then **write
       the result back to Redis** for future lookups.

    This pattern is ideal for:
      - **Customer support chatbots** where users repeatedly ask the same questions in
        slightly different phrasing
      - **Documentation assistants** with a bounded knowledge domain and high query repetition
      - **Internal FAQ systems** where LLM API cost and latency are optimization targets
      - Any workflow where **deterministic or near-deterministic answers** can be safely cached

    The flow can be extended to set Redis key TTL for cache expiration, add a similarity
    threshold so semantically close-but-different questions are not incorrectly served cached
    answers, log cache hit/miss rates to a monitoring dashboard, or build a true semantic
    cache using vector similarity with the Kestra AI RAG plugin.
  tags:
    - AI
    - Engineering
  ee: false
  demo: false
  meta_description: |
    Reduce LLM API costs by caching answers in Redis. Normalizes questions into deterministic
    cache keys and serves instant responses on hits — calling OpenAI GPT-4o only when no
    matching cached answer exists.
