flows/ai-semantic-cache-redis.yaml
id: ai-semantic-cache-redis
namespace: company.team

inputs:
  - id: question
    type: STRING
    displayName: User question
    description: Question to answer — checked against the semantic cache before calling the LLM
    defaults: "What is your refund policy?"
  - id: cache_key_prefix
    type: STRING
    displayName: Cache key prefix
    description: Namespace prefix for Redis cache keys (useful for multi-tenant setups)
    defaults: "ai_cache"

tasks:
  - id: generate_cache_key
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import hashlib
      import re

      question = "{{ inputs.question }}"
      prefix = "{{ inputs.cache_key_prefix }}"

      # Normalize: lowercase, strip punctuation, collapse whitespace
      normalized = re.sub(r'[^\w\s]', '', question.lower().strip())
      normalized = re.sub(r'\s+', ' ', normalized)

      # Create deterministic cache key from normalized question
      cache_key = f"{prefix}:{hashlib.md5(normalized.encode()).hexdigest()}"

      print(f"Cache key: {cache_key}")
      print(f"Normalized: {normalized}")

      from kestra import Kestra
      Kestra.outputs({'cache_key': cache_key, 'normalized_question': normalized})

  - id: check_cache
    type: io.kestra.plugin.redis.string.Get
    url: "{{ secret('REDIS_URL') }}"
    key: "{{ outputs.generate_cache_key.vars.cache_key }}"
    failedOnMissing: false

  - id: route_request
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.check_cache.value != null and outputs.check_cache.value != '' }}"
    then:
      - id: serve_from_cache
        type: io.kestra.plugin.core.log.Log
        message: "CACHE HIT — {{ outputs.check_cache.value }}"
    else:
      - id: call_llm
        type: io.kestra.plugin.openai.ChatCompletion
        apiKey: "{{ secret('OPENAI_API_KEY') }}"
        model: gpt-4o
        maxTokens: 512
        messages:
          - role: system
            content: "You are a helpful customer support assistant. Answer questions accurately and concisely."
          - role: user
            content: "{{ inputs.question }}"

      - id: store_in_cache
        type: io.kestra.plugin.redis.string.Set
        url: "{{ secret('REDIS_URL') }}"
        key: "{{ outputs.generate_cache_key.vars.cache_key }}"
        value: "{{ outputs.call_llm.choices[0].message.content }}"

      - id: log_llm_response
        type: io.kestra.plugin.core.log.Log
        message: "LLM RESPONSE — {{ outputs.call_llm.choices[0].message.content }}"

extend:
  title: Reduce LLM API Costs with a Redis Semantic Cache for Repeated Questions
  metaTitle: Redis LLM Cache with Kestra to Cut OpenAI Costs
  shortDescription: Cache LLM answers in Redis so repeated questions are served instantly and OpenAI is only called on a genuine cache miss.
  description: |
    Cut OpenAI API spend and response latency by putting a Redis caching layer in front of your LLM. This blueprint normalizes each incoming question into a deterministic cache key, looks it up in Redis with `io.kestra.plugin.redis.string.Get`, and serves the stored answer instantly when it exists. Only on a true cache miss does it call the model, then writes the fresh answer back to Redis for next time. It solves the classic FAQ problem where users ask the same thing in slightly different wording and you pay for the same completion again and again.

    ## How it works

    1. The `generate_cache_key` task (`io.kestra.plugin.scripts.python.Script`) normalizes the `question` input (lowercase, strip punctuation, collapse whitespace) and MD5-hashes it with a `cache_key_prefix`, so semantically equivalent phrasings map to one key. It returns `cache_key` and `normalized_question` via `Kestra.outputs`.
    2. `check_cache` (`io.kestra.plugin.redis.string.Get`) reads that key from Redis with `failedOnMissing: false`, so a miss returns null instead of erroring.
    3. `route_request` (`io.kestra.plugin.core.flow.If`) branches on whether the cached value is present and non-empty.
    4. On a hit, `serve_from_cache` logs the stored answer with no model call. On a miss, `call_llm` (`io.kestra.plugin.openai.ChatCompletion`, `gpt-4o`) generates an answer, `store_in_cache` (`io.kestra.plugin.redis.string.Set`) persists it, and `log_llm_response` logs the result.

    ## What you get

    - Instant responses for repeated questions, served straight from Redis
    - Lower OpenAI bills: the model runs only on genuine cache misses
    - A reusable, tenant-aware key scheme via `cache_key_prefix`
    - Full execution lineage showing every hit and miss

    ## Who it's for

    - Teams running customer support or FAQ chatbots on top of an LLM
    - Platform and AI engineers optimizing token cost and latency
    - Anyone serving documentation or internal Q&A assistants over a bounded domain

    ## Why orchestrate this with Kestra

    Redis is a cache, not a scheduler: it cannot trigger on events, retry a failed model call, or give you visibility into why a question hit or missed. Kestra wraps the whole pattern in declarative YAML, adds event triggers and retries, branches with `io.kestra.plugin.core.flow.If`, and records execution lineage across the Python, Redis, and OpenAI tasks so the cache layer is observable and reproducible.

    ## Prerequisites

    - A reachable Redis instance
    - An OpenAI API key with access to `gpt-4o`

    ### Secrets

    - `REDIS_URL`: connection URL for your Redis instance
    - `OPENAI_API_KEY`: OpenAI API key for the chat completion call

    ## Quick start

    1. Add the `REDIS_URL` and `OPENAI_API_KEY` secrets to your namespace.
    2. Add this flow to a Kestra namespace.
    3. Execute it with the default `question`, or supply your own and a `cache_key_prefix`.
    4. Run it twice with the same question and confirm the second execution is a cache hit.

    ## How to extend

    - Set a TTL on `store_in_cache` so cached answers expire and refresh.
    - Add a vector similarity step so near-duplicate questions reuse one answer.
    - Track hit and miss rates and push them to a monitoring dashboard.
    - Swap the model or add a per-tenant `cache_key_prefix` for multi-tenant isolation.

    ## Links

    - [Redis plugin documentation](https://kestra.io/plugins/plugin-redis)
    - [Redis orchestration with Kestra](https://kestra.io/orchestration/redis)
  tags:
    - AI
    - Core
  ee: false
  demo: false
  metaDescription: Cache LLM answers in Redis with Kestra to cut OpenAI costs. Normalizes questions into keys and serves instant responses on cache hits.
