flows/ai-seo-website-audit.yaml
id: ai-seo-website-audit
namespace: company.team

inputs:
  - id: landing_page_url
    type: STRING
    displayName: Landing page URL
    description: The full URL of the webpage to audit (e.g., https://example.com/landing)
  - id: recipient_email
    type: STRING
    displayName: Report recipient email
    description: Email address where the SEO audit report will be sent
  - id: openai_model
    type: STRING
    displayName: OpenAI model
    description: The OpenAI model to use for the audit analysis
    defaults: "gpt-4o"

tasks:
  - id: scrape_website
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.landing_page_url }}"
    method: GET
    headers:
      User-Agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"

  - id: content_audit
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: "{{ inputs.openai_model }}"
    messages:
      - role: system
        content: >-
          You are a world-class SEO expert specializing in content optimization
          for search engine rankings and user engagement.
      - role: user
        content: |
          Analyze the content of the following webpage and perform a detailed SEO Content Audit.

          Structure your audit in two parts:

          ## Analysis
          - **Content Quality Assessment** -- Evaluate overall quality, accuracy, and relevance to the target audience.
          - **Keyword Research and Analysis** -- Identify primary and secondary keywords, keyword density, and placement strategies.
          - **Readability Analysis** -- Assess readability using Flesch-Kincaid Grade Level, Flesch Reading Ease, and Gunning-Fog Index.

          ## Recommendations
          Present actionable suggestions in clear bullet points. Recommendations must improve both Google rankings and user engagement.

          Output only the audit findings. No introductory or explanatory text.

          Here is the page content:
          {{ outputs.scrape_website.body }}

  - id: technical_audit
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: "{{ inputs.openai_model }}"
    messages:
      - role: system
        content: >-
          You are a world-class SEO expert specializing in technical on-page
          optimization and HTML analysis.
      - role: user
        content: |
          Analyze the HTML code of the following webpage and perform a detailed On-Page Technical SEO Audit.

          Review all technical SEO aspects and present findings in three categories:
          - **Critical Issues** -- Must be fixed immediately.
          - **Quick Wins** -- Easy fixes with significant impact.
          - **Opportunities for Improvement** -- Require more effort but offer meaningful benefits.

          Output only the audit findings. No introductory or explanatory text.

          Here is the page HTML:
          {{ outputs.scrape_website.body }}

  - id: merge_reports
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      content_report = """{{ outputs.content_audit.choices[0].message.content }}"""
      technical_report = """{{ outputs.technical_audit.choices[0].message.content }}"""
      page_url = "{{ inputs.landing_page_url }}"

      html_report = f"""
      <h1>On-Page SEO Audit Report</h1>
      <p><strong>URL:</strong> {page_url}</p>
      <hr/>
      <h2>Content Audit</h2>
      <div>{content_report}</div>
      <hr/>
      <h2>Technical Audit</h2>
      <div>{technical_report}</div>
      <hr/>
      <p><em>Generated by Kestra AI SEO Audit</em></p>
      """

      Kestra.outputs({"html_report": html_report})

  - id: send_report
    type: io.kestra.plugin.email.MailSend
    host: "{{ secret('SMTP_HOST') }}"
    port: 587
    username: "{{ secret('SMTP_USER') }}"
    password: "{{ secret('SMTP_PASSWORD') }}"
    from: "{{ secret('EMAIL_FROM') }}"
    to: "{{ inputs.recipient_email }}"
    subject: "On-Page SEO Audit - {{ inputs.landing_page_url }}"
    htmlTextContent: "{{ outputs.merge_reports.vars.html_report }}"

extend:
  title: AI-Powered On-Page SEO Website Audit
  metaTitle: AI SEO Website Audit with OpenAI
  shortDescription: >-
    Submit any URL and receive a comprehensive on-page SEO audit covering both content
    quality and technical performance, powered by OpenAI.
  description: |
    **Run a thorough content and technical SEO analysis on any webpage using AI, then receive the audit report by email.**

    1. An `io.kestra.plugin.core.http.Request` task fetches the full HTML source of the target URL
    2. A `io.kestra.plugin.openai.ChatCompletion` task performs a content audit analyzing keyword usage, readability, and content quality
    3. A second `io.kestra.plugin.openai.ChatCompletion` task runs a technical SEO audit covering meta tags, heading structure, and page performance factors
    4. A `io.kestra.plugin.scripts.python.Script` task merges both audit reports into a single formatted document
    5. An `io.kestra.plugin.email.MailSend` task delivers the final audit report to your inbox

    Ideal for:
    - **Marketing teams** needing quick SEO health checks before publishing landing pages
    - **SEO consultants** delivering rapid audits to clients without manual analysis
    - **SaaS founders** wanting to improve organic search rankings with actionable recommendations
  tags:
    - AI
    - Business
  ee: false
  demo: false
  metaDescription: >-
    Analyze any webpage for SEO issues using OpenAI. Get a combined content and
    technical audit with actionable recommendations delivered by email.

