flows/ai-video-generation-heygen.yaml
id: ai-video-generation-heygen
namespace: company.team

tasks:
  - id: config
    type: io.kestra.plugin.scripts.python.Script
    description: >-
      Set video parameters. Replace avatar_id and voice_id with values from your
      HeyGen account, and provide your text script.
    script: |
      from kestra import Kestra

      Kestra.outputs({
          "avatar_id": "7895d2d9f4f9453899e1d80e5accb6be",
          "voice_id": "PBgwoAVFZIC0UB6sU914",
          "text": "Imagine ADHD as that super energetic friend who jumps from one cool idea to the next. Now, add AI, the smart helper trying to keep things on track. Sometimes, they work together perfectly, and other times, things get a little goofy. One minute you are starting a project, and the next, you are off chasing a shiny new idea. But that is the fun of it. With a bit of AI magic, even the craziest thoughts find their place. Embrace the chaos, laugh at the mix-ups, and let your creativity shine."
      })

  - id: create_video
    type: io.kestra.plugin.core.http.Request
    description: Submit video generation request to HeyGen API.
    uri: "https://api.heygen.com/v2/video/generate"
    method: POST
    contentType: application/json
    headers:
      X-Api-Key: "{{ secret('HEYGEN_API_KEY') }}"
    body: |
      {
        "video_inputs": [
          {
            "character": {
              "type": "avatar",
              "avatar_id": "{{ outputs.config.vars.avatar_id }}",
              "avatar_style": "normal"
            },
            "voice": {
              "type": "text",
              "input_text": "{{ outputs.config.vars.text }}",
              "voice_id": "{{ outputs.config.vars.voice_id }}",
              "speed": 1
            }
          }
        ],
        "caption": true,
        "dimension": {
          "width": 1080,
          "height": 1920
        }
      }

  - id: wait_for_rendering
    type: io.kestra.plugin.core.flow.Pause
    description: Wait 10 seconds for HeyGen to begin rendering the video.
    pauseDuration: PT10S

  - id: get_video_status
    type: io.kestra.plugin.core.http.Request
    description: Poll the HeyGen API to check video rendering status.
    uri: "https://api.heygen.com/v1/video_status.get?video_id={{ outputs.create_video.body.data.video_id }}"
    method: GET
    headers:
      X-Api-Key: "{{ secret('HEYGEN_API_KEY') }}"

  - id: check_completion
    type: io.kestra.plugin.scripts.python.Script
    description: >-
      Check if the video is completed. If not, the flow can be re-triggered or
      extended with a retry loop.
    script: |
      import json
      from kestra import Kestra

      response = json.loads("""{{ outputs.get_video_status.body }}""")
      status = response.get("data", {}).get("status", "unknown")
      video_url = response.get("data", {}).get("video_url", "")

      print(f"Video status: {status}")

      if status == "completed":
          print(f"Video ready at: {video_url}")
          Kestra.outputs({"status": status, "video_url": video_url})
      else:
          print("Video is still processing. Re-run or add a retry loop.")
          Kestra.outputs({"status": status, "video_url": ""})

extend:
  title: Generate AI Videos with HeyGen and Voice Cloning
  metaTitle: AI Video Generation with HeyGen
  shortDescription: >-
    Generate realistic AI-powered videos from text input using the HeyGen API,
    with configurable avatars, voice cloning, and automatic status polling until
    the video is ready.
  description: |
    **Create AI-generated videos from text scripts using HeyGen avatars and voice cloning, with automatic polling until rendering completes.**

    1. A `io.kestra.plugin.scripts.python.Script` task defines the video configuration including avatar ID, voice ID, and the text script to be spoken
    2. A `io.kestra.plugin.core.http.Request` task sends a POST request to the HeyGen v2 video generation API with the avatar, voice, caption, and dimension settings
    3. A `io.kestra.plugin.core.flow.Pause` task waits for the video to render on HeyGen servers before checking status
    4. A `io.kestra.plugin.core.http.Request` task polls the HeyGen video status endpoint to check if rendering is complete
    5. A `io.kestra.plugin.scripts.python.Script` task evaluates the status response and either extracts the final video URL or triggers another polling cycle

    Ideal for:
    - **Content creators** who want to automate personalized video production at scale
    - **Marketing teams** generating AI avatar videos for campaigns without manual editing
    - **Training departments** producing video tutorials from text scripts automatically
  tags:
    - AI
  ee: false
  demo: false
  metaDescription: >-
    Automate AI video creation from text using HeyGen avatars and voice cloning
    with status polling until the rendered video is ready for download.

