flows/apify-web-data-to-rag.yaml
id: apify-web-data-to-rag
namespace: company.team

inputs:
  - id: start_url
    type: STRING
    displayName: URL to crawl
    description: The site Apify's Website Content Crawler will scrape for RAG ingestion.
    defaults: https://kestra.io/docs
  - id: max_items
    type: INT
    displayName: Max items
    description: Caps the crawled pages returned to control Apify cost.
    defaults: 50
  - id: question
    type: STRING
    displayName: Question
    description: A question answered from the freshly crawled content.
    defaults: What is Kestra and what are its main features?

tasks:
  - id: run_actor
    type: io.kestra.plugin.apify.actor.Run
    actorId: apify/website-content-crawler
    apiToken: "{{ secret('APIFY_API_TOKEN') }}"
    maxItems: "{{ inputs.max_items }}"
    maxTotalChargeUsd: 5
    input:
      startUrls:
        - url: "{{ inputs.start_url }}"
      maxCrawlPages: 50

  - id: get_dataset
    type: io.kestra.plugin.apify.dataset.Get
    apiToken: "{{ secret('APIFY_API_TOKEN') }}"
    datasetId: "{{ outputs.run_actor.defaultDatasetId }}"
    fields:
      - url
      - text

  - id: build_corpus
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      dataset.json: "{{ outputs.get_dataset.dataset | json }}"
    outputFiles:
      - corpus.md
    script: |
      import json

      with open("dataset.json") as f:
          pages = json.load(f)

      with open("corpus.md", "w") as out:
          for page in pages:
              text = (page.get("text") or "").strip()
              if not text:
                  continue
              out.write("# Source: " + page.get("url", "") + "\n\n")
              out.write(text + "\n\n---\n\n")

  - id: ingest
    type: io.kestra.plugin.ai.rag.IngestDocument
    drop: true
    fromInternalURIs:
      - "{{ outputs.build_corpus.outputFiles['corpus.md'] }}"
    documentSplitter:
      splitter: RECURSIVE
      maxSegmentSizeInChars: 1000
      maxOverlapSizeInChars: 200
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
      modelName: text-embedding-3-small
    embeddings:
      type: io.kestra.plugin.ai.embeddings.KestraKVStore

  - id: ask
    type: io.kestra.plugin.ai.agent.AIAgent
    systemMessage: |
      Answer the question using only the retrieved web content. If the answer
      is not in the retrieved context, say you could not find it. Be concise.
    prompt: "{{ inputs.question }}"
    contentRetrievers:
      - type: io.kestra.plugin.ai.retriever.EmbeddingStoreRetriever
        maxResults: 5
        minScore: 0.6
        embeddings:
          type: io.kestra.plugin.ai.embeddings.KestraKVStore
        embeddingProvider:
          type: io.kestra.plugin.ai.provider.OpenAI
          apiKey: "{{ secret('OPENAI_API_KEY') }}"
          modelName: text-embedding-3-small
    provider:
      type: io.kestra.plugin.ai.provider.OpenAI
      apiKey: "{{ secret('OPENAI_API_KEY') }}"
      modelName: gpt-4o

  - id: log_answer
    type: io.kestra.plugin.core.log.Log
    message: "{{ outputs.ask.textOutput }}"

  - id: notify
    type: io.kestra.plugin.discord.DiscordIncomingWebhook
    url: "{{ secret('DISCORD_WEBHOOK_URL') }}"
    payload: |
      {
        "content": "Apify to RAG index refreshed: {{ outputs.ingest.ingestedDocuments }} chunks embedded from {{ inputs.start_url }}. The index is ready to query."
      }

triggers:
  - id: nightly_refresh
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 3 * * *"

extend:
  title: Turn an Apify web crawl into a fresh RAG vector index
  metaTitle: Apify web data to a RAG vector store with Kestra
  shortDescription: "Crawl a site with Apify's Website Content Crawler, embed the cleaned content into a vector store, and answer questions grounded in the freshly scraped data."
  description: |
    This flow keeps a **RAG vector index fresh from the live web** using Apify and Kestra's native AI plugin. Apify's Website Content Crawler returns clean, boilerplate-free text, which is exactly what a retrieval index needs.

    It demonstrates how to:

    1. Crawl a site with `io.kestra.plugin.apify.actor.Run` (the `apify/website-content-crawler` actor) under `maxItems` and `maxTotalChargeUsd` caps.
    2. Fetch the cleaned page text with `io.kestra.plugin.apify.dataset.Get`.
    3. Assemble the pages into a single corpus file with a Python `Script`.
    4. Chunk and embed the corpus into a vector store with `io.kestra.plugin.ai.rag.IngestDocument`, dropping the previous index so the knowledge base always reflects the latest crawl.
    5. Answer a natural-language question grounded in the retrieved chunks with `io.kestra.plugin.ai.agent.AIAgent`, then post a refresh confirmation to Discord.

    The flow runs nightly so the index never goes stale. Swap the `KestraKVStore` embeddings for Pinecone, Qdrant, PGVector, or Weaviate for production scale, and point the crawler at any site or list of URLs.
  tags:
    - AI
  ee: false
  demo: false
  metaDescription: Build a self-refreshing RAG pipeline with Kestra and Apify. Crawl the web, embed clean content into a vector store, and answer grounded questions on a schedule.
