flows/auditlogs-to-bigquery.yaml
id: auditlogs-to-bigquery
namespace: company.team

tasks:
  - id: consume
    type: io.kestra.plugin.kafka.Consume
    properties:
      auto.offset.reset: earliest
      bootstrap.servers: local:9092
    topic: kestra_auditlogs
    valueDeserializer: JSON
    maxRecords: 500

  - id: transform
    type: io.kestra.plugin.graalvm.js.FileTransform
    from: "{{ outputs.consume.uri }}"
    script: |
      var jacksonMapper = Java.type('io.kestra.core.serializers.JacksonMapper');
      delete row['headers'];

      var value = row['value']

      row['id'] = value['id']
      row['type'] = value['type']
      row['detail'] = value['detail']
      row['date'] = value['date']
      row['deleted'] = value['deleted']
      row['value'] = jacksonMapper.ofJson().writeValueAsString(value)
      row['detail_type'] = value['detail']['type']
      row['detail_cls'] = value['detail']['cls']
      row['detail_permission'] = value['detail']['permission']
      row['detail_id'] = value['detail']['id']
      row['detail_namespace'] = value['detail']['namespace']
      row['detail_flowId'] = value['detail']['flowId']
      row['detail_executionId'] = value['detail']['executionId']

  - id: avro
    type: io.kestra.plugin.serdes.avro.IonToAvro
    from: "{{ outputs.transform.uri }}"
    description: convert the file from Kestra internal storage to avro.
    schema: |
      {
        "type": "record",
        "name": "Root",
        "fields":
          [
            { "name": "id", "type": ["null", "string"] },
            { "name": "type", "type": ["null", "string"] },
            { "name": "detail", "type": ["null", "string"] },
            { "name": "date", "type": ["null", "string"] },
            { "name": "deleted", "type": ["null", "string"] },
            { "name": "value", "type": ["null", "string"] },
            { "name": "detail_type", "type": ["null", "string"] },
            { "name": "detail_cls", "type": ["null", "string"] },
            { "name": "detail_permission", "type": ["null", "string"] },
            { "name": "detail_id", "type": ["null", "string"] },
            { "name": "detail_namespace", "type": ["null", "string"] },
            { "name": "detail_flowId", "type": ["null", "string"] },
            { "name": "detail_executionId", "type": ["null", "string"] }
          ]
      }

  - id: load
    type: io.kestra.plugin.gcp.bigquery.Load
    avroOptions:
      useAvroLogicalTypes: true
    destinationTable: your_gcp_project.dwh.autditlogs
    format: AVRO
    from: "{{outputs.avro.uri }}"
    writeDisposition: WRITE_TRUNCATE
    serviceAccount: "{{ secret('GCP_CREDS') }}"
    projectId: your_gcp_project

triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: 0 10 * * *

extend:
  shortDescription: Stream Kestra audit logs from a Kafka topic into Google BigQuery for analytics, monitoring, and compliance reporting.
  title: Stream Kestra audit logs from Kafka to BigQuery
  metaTitle: Stream Kestra Audit Logs to BigQuery with Kestra
  metaDescription: Pipe Kestra audit logs from a Kafka topic into Google BigQuery. Flatten audit detail fields, load them via Avro, and query workflow activity at scale.
  description: |
    Move Kestra audit logs from the `kestra_auditlogs` Kafka topic into a Google BigQuery table so security, platform, and analytics teams can query workflow activity in one place. Raw audit events carry nested detail objects that are awkward to analyze, so this pipeline flattens them into typed columns and loads the result into BigQuery, turning a stream of operational events into a queryable warehouse table for dashboards, audits, and troubleshooting.

    ## How it works

    1. The `schedule` trigger (`io.kestra.plugin.core.trigger.Schedule`) runs the flow on a daily cron (`0 10 * * *`, 10 AM UTC).
    2. The `consume` task (`io.kestra.plugin.kafka.Consume`) reads up to 500 records from the `kestra_auditlogs` topic, using `auto.offset.reset: earliest` and deserializing each value as JSON.
    3. The `transform` task (`io.kestra.plugin.graalvm.js.FileTransform`) drops the Kafka `headers`, keeps the original payload as a serialized `value` string, and flattens nested detail fields into columns like `detail_type`, `detail_cls`, `detail_permission`, `detail_namespace`, `detail_flowId`, and `detail_executionId`.
    4. The `avro` task (`io.kestra.plugin.serdes.avro.IonToAvro`) converts the transformed Ion file into Avro using an explicit nullable schema.
    5. The `load` task (`io.kestra.plugin.gcp.bigquery.Load`) writes the Avro file into BigQuery with `format: AVRO`, `useAvroLogicalTypes: true`, and `writeDisposition: WRITE_TRUNCATE`.

    ## What you get

    - A flattened, typed BigQuery table of Kestra audit events ready for SQL.
    - Nested `detail` fields promoted to first-class columns plus the full original payload preserved as a JSON string.
    - Schema-safe loading through Avro instead of brittle CSV or JSON imports.
    - A repeatable daily refresh you can extend to near-real-time.

    ## Who it's for

    - Platform and DevOps teams tracking who changed what across namespaces and flows.
    - Security and compliance teams that need an auditable, queryable history.
    - Data and analytics engineers building usage dashboards on top of Kestra activity.

    ## Why orchestrate this with Kestra

    Kafka and BigQuery each ship their own tooling, but neither stitches the end-to-end path together. Kestra connects the consume, transform, serialize, and load steps as one declarative YAML flow with built-in retries, full execution lineage, and event or schedule triggers. BigQuery's scheduled queries can only operate on data already inside BigQuery, they cannot pull from Kafka, reshape nested JSON, or convert to Avro first. Kestra fills exactly that ingestion and transformation gap.

    ## Prerequisites

    - A running Kafka broker with the `kestra_auditlogs` topic populated.
    - A Google Cloud project with BigQuery enabled and a target dataset and table.
    - A GCP service account with permission to load data into BigQuery.

    ### Secrets

    - `GCP_CREDS`: the GCP service account JSON used by the `load` task to authenticate with BigQuery.

    ## Quick start

    1. Add the `GCP_CREDS` secret with your service account JSON.
    2. Point `bootstrap.servers` and `topic` at your Kafka cluster and audit log topic.
    3. Set `projectId` and `destinationTable` to your real BigQuery project, dataset, and table.
    4. Save and run the flow, then query the table in BigQuery.

    ## How to extend

    - Swap the `Schedule` trigger for a streaming or more frequent ingestion cadence.
    - Change `writeDisposition` to `WRITE_APPEND` to accumulate history instead of truncating.
    - Add columns to the Avro schema and the `transform` script to capture more audit detail.
    - Fan out the loaded table into downstream dbt models or alerting flows.

    ## Links

    - [Google Cloud plugin documentation](https://kestra.io/plugins/plugin-gcp)
    - [BigQuery orchestration guide](https://kestra.io/orchestration/bigquery)
  tags:
    - Cloud
  ee: false
  demo: false
