flows/beam-wordcount-direct.yaml
id: beam-wordcount-direct
namespace: company.team

labels:
  team: data
  domain: beam

inputs:
  - id: source_url
    type: STRING
    defaults: https://www.gutenberg.org/cache/epub/1342/pg1342.txt
    description: Public text file to count words from. The default is the full text of Pride and Prejudice.

concurrency:
  limit: 1

tasks:
  - id: download_text
    type: io.kestra.plugin.core.http.Download
    description: Download the source text file into Kestra internal storage so Beam reads a real ingested file rather than a literal.
    uri: "{{ inputs.source_url }}"
    saveAs: source.txt
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    timeout: PT5M
    options:
      readTimeout: PT2M

  - id: write_pipeline
    type: io.kestra.plugin.core.storage.Write
    description: Render a Beam YAML word-count pipeline. The Write task is used (instead of an inline definition) so the source file name stays a single source of truth shared with inputFiles.
    extension: .yaml
    content: |
      pipeline:
        type: chain
        transforms:
          - type: ReadFromText
            config:
              path: source.txt
          - type: MapToFields
            config:
              language: python
              fields:
                words:
                  callable: |
                    import re
                    def fn(row):
                      return [w for w in re.findall(r"[a-zA-Z']+", row.line.lower())]
          - type: Explode
            config:
              fields: words
          - type: MapToFields
            config:
              language: python
              fields:
                word: "words"
                count: "1"
          - type: Combine
            config:
              group_by: word
              combine:
                count: sum
          - type: WriteToCsv
            config:
              path: counts

  - id: run_wordcount
    type: io.kestra.plugin.beam.RunPipeline
    description: Execute the word-count pipeline locally with the DIRECT runner using the Python SDK.
    sdk: PYTHON
    beamRunner: DIRECT
    containerImage: apache/beam_python3.11_sdk:2.71.0
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    file: "{{ outputs.write_pipeline.uri }}"
    inputFiles:
      source.txt: "{{ outputs.download_text.uri }}"
    pipelineTimeoutSeconds: 300
    timeout: PT10M
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 2
    outputFiles:
      - "counts*"

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    description: Log the captured output shard URIs so an operator can see what the run produced.
    message: "Word count finished. Output shards: {{ outputs.run_wordcount.outputFiles }}"

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }})."

extend:
  shortDescription: Run the canonical Beam word-count pipeline locally with the DIRECT runner over a real ingested text file.
  title: Apache Beam Word Count with the DIRECT Runner
  metaTitle: Apache Beam DIRECT runner word count
  description: |
    This blueprint is the hello-world of Apache Beam on Kestra, but it counts words from a
    real downloaded text file rather than a toy literal, so you see how Kestra internal
    storage feeds a Beam source. It runs entirely inside the Kestra task container using the
    Beam DIRECT runner, so you can learn the plugin without any external cluster.

    ## What this flow does
    1. A `Download` task fetches the `source_url` text file into Kestra internal storage,
       with `retry` and a `timeout` so a transient network blip does not kill the run.
    2. A `Write` task renders a Beam YAML pipeline definition and stores it in internal
       storage. The Write task is kept (rather than an inline `definition`) so the source
       file name lives in exactly one place and is shared with `inputFiles`.
    3. The `RunPipeline` task runs the pipeline with `sdk: PYTHON` and `beamRunner: DIRECT`.
       The downloaded file is mounted via `inputFiles`. The pipeline reads each line,
       tokenizes words, explodes them, maps each word to a count of 1, sums counts per word,
       and writes the result to CSV.
    4. The resulting CSV shards are captured back into internal storage via `outputFiles`.
    5. A `Log` task prints the captured output shard URIs.

    ## Reliability
    - `download_text` and `run_wordcount` carry task-level `retry` plus a wall-clock
       `timeout` so a slow image pull or a transient HTTP failure is bounded and retried,
       not just the Beam pipeline wait that `pipelineTimeoutSeconds` covers.
    - A flow-level `errors` block posts a Slack alert (including the execution id) on any
       failure, so even a hello-world models the guardrails you will copy into real flows.
    - `concurrency.limit: 1` keeps manual re-runs from overlapping.

    ## Reproducibility
    - The container image is pinned to `apache/beam_python3.11_sdk:2.71.0` rather than
      `:latest`, so the documented behavior does not drift when a new Beam image ships.

    ## Prerequisites
    - Docker available to the Kestra worker. The task uses the
      `io.kestra.plugin.scripts.runner.docker.Docker` task runner with the pinned Beam image,
      which already contains Apache Beam.
    - Outbound HTTPS so `download_text` can fetch the sample text.
    - No Flink, Spark, or JobServer is required because the DIRECT runner executes locally
      inside the task container.

    ## Secrets
    - `SLACK_WEBHOOK`: incoming webhook used only by the failure-alert `errors` block.
      The word-count itself uses no credentials. Remove the `errors` block if you do not
      want Slack alerting.

    ## Quick start
    1. Add the flow and execute it. Optionally override `source_url` with another public
       text file.
    2. Open the `run_wordcount` task run and review the captured `outputFiles`.
    3. Download a `counts` CSV shard from the Outputs tab to see per-word totals.

    ## Expected outputs
    - `{{ outputs.run_wordcount.outputFiles }}` is a map of file names to internal storage
      URIs, for example `counts-00000-of-00001.csv`.
    - `{{ outputs.run_wordcount.exitCode }}` is `0` on success.
    - `{{ outputs.write_pipeline.uri }}` is the `kestra://` URI of the generated pipeline.

    ## Learn more
    - Apache Beam plugin: https://kestra.io/plugins/plugin-beam
    - Beam YAML framework: https://beam.apache.org/documentation/sdks/yaml/
    - Beam DIRECT runner: https://beam.apache.org/documentation/runners/direct/
  tags:
    - Data
  ee: false
  demo: true
  metaDescription: Run the Apache Beam word-count pipeline locally with the DIRECT runner over a real ingested text file, with retry, timeout, and failure alerting.
