flows/cloudflare-canary-deploy.yaml
id: cloudflare-canary-deploy
namespace: cloud
labels:
  name: Cloudflare Canary Deploy

inputs:
  - id: zoneId
    type: STRING
    required: true

  - id: hostname
    type: STRING
    required: true

  - id: recordType
    type: STRING
    defaults: A

  - id: canaryIp
    type: STRING
    required: true

  - id: originalIp
    type: STRING
    required: true

  - id: allowIp
    type: STRING
    required: false

  - id: promote
    type: STRING
    defaults: "false"
    description: "Set to 'true' to promote the canary and skip rollback"

  - id: pauseDuration
    type: STRING
    defaults: PT15M

tasks:
  - id: upsert_canary_dns
    type: io.kestra.plugin.cloudflare.dns.records.Upsert
    description: Upsert the DNS record to point the hostname to the canary IP.
    apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
    zoneId: "{{ inputs.zoneId }}"
    name: "{{ inputs.hostname }}"
    recordType: "{{ inputs.recordType }}"
    content: "{{ inputs.canaryIp }}"
    ttl: 1
    proxied: false

  - id: purge_canary
    type: io.kestra.plugin.cloudflare.cache.Purge
    description: Purge Cloudflare cache for the hostname so new requests can hit the canary.
    apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
    zoneId: "{{ inputs.zoneId }}"
    files:
      - "https://{{ inputs.hostname }}/"
    purgeAll: false

  - id: allow_canary_source
    type: io.kestra.plugin.cloudflare.waf.accessrules.Create
    description: Create a temporary IP allow (whitelist) rule scoped to the zone to let canary traffic through.
    apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
    zoneId: "{{ inputs.zoneId }}"
    mode: "whitelist"
    target: "ip"
    value: "{{ inputs.allowIp }}"
    notes: "Temporary canary allow created by Kestra"

  - id: wait_for_validation
    type: io.kestra.plugin.core.flow.Pause
    description: Pause to allow manual validation of canary traffic, metrics and health checks.
    pauseDuration: "{{ inputs.pauseDuration }}"

  - id: cleanup
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ inputs.promote }}"
    cases:
      "true":
        - id: promote_log
          type: io.kestra.plugin.core.log.Log
          description: Canary has been promoted; keep DNS as-is.
          message: "Canary promoted for {{ inputs.hostname }} (dns: {{ outputs.upsert_canary_dns.id }})"

      "false":
        - id: revert_dns
          type: io.kestra.plugin.cloudflare.dns.records.Upsert
          description: Revert the DNS record back to the original IP.
          apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
          zoneId: "{{ inputs.zoneId }}"
          name: "{{ inputs.hostname }}"
          recordType: "{{ inputs.recordType }}"
          content: "{{ inputs.originalIp }}"
          ttl: 1
          proxied: false

        - id: remove_allow
          type: io.kestra.plugin.cloudflare.waf.accessrules.Delete
          description: Remove the temporary allow created earlier (if any).
          apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
          zoneId: "{{ inputs.zoneId }}"
          ruleId: "{{ outputs.allow_canary_source.id }}"

description: |
  Canary-style deployment helpers for Cloudflare.
  This flow performs a minimal canary deployment sequence using the Cloudflare
  plugins: update DNS (Upsert), purge cache, create a temporary IP allow rule,
  wait for validation, and optionally revert the changes.

extend:
  shortDescription: "Canary deployment: DNS upsert, cache purge and IP allow for Cloudflare."
  title: Cloudflare Canary Deployment Blueprint
  metaTitle: Cloudflare Canary Deployment Blueprint
  description: |
    This blueprint shows a practical canary deployment pattern using the
    official Kestra Cloudflare plugins. Use it to safely test a new backend
    IP by updating DNS to a `canaryIp`, purging the Cloudflare cache, and
    creating a temporary IP allow rule while you validate traffic.

    Prerequisites
    - A Cloudflare account and the Zone ID for your domain.
    - A Cloudflare API Token stored as a secret named `CLOUDFLARE_API_TOKEN`.
      The token should have permissions: `Zone:Read`, `Zone:DNS:Edit`,
      `Zone:Cache Purge:Edit` and `Firewall:Edit` (or equivalent granular scopes).
    - Kestra with the `io.kestra.plugin.cloudflare` plugin installed.

    Quick start
    1. Create a secret in Kestra: name `CLOUDFLARE_API_TOKEN` with a scoped API token.
    2. Run this flow and provide the `zoneId`, `hostname`, `canaryIp`, and
       `originalIp`. Optionally set `allowIp` to whitelist an origin IP during tests.

    Example run payload
    ```json
    {
      "zoneId": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "hostname": "www.example.com",
      "recordType": "A",
      "canaryIp": "203.0.113.10",
      "originalIp": "203.0.113.20",
      "allowIp": "198.51.100.5",
      "pauseDuration": "PT10M",
      "promote": "false"
    }
    ```

    Expected outputs
    - `{{ outputs.upsert_canary_dns.id }}`: Upsert DNS response (DNS record id).
    - `{{ outputs.purge_canary }}`: Purge task result.
    - `{{ outputs.allow_canary_source.id }}`: Created access rule id.

    Links
    - Cloudflare DNS Records plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-dns-records
    - Cloudflare Cache plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-cache
    - Cloudflare IP Access Rules plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-ip-access-rules

  tags:
    - Cloud
    - Infrastructure
  ee: false
