flows/cloudflare-canary-deploy.yaml
id: cloudflare-canary-deploy
namespace: cloud

inputs:
  - id: zone_id
    type: STRING
    required: true

  - id: host_name
    type: STRING
    required: true

  - id: record_type
    type: STRING
    defaults: A

  - id: canary_ip
    type: STRING
    required: true

  - id: original_ip
    type: STRING
    required: true

  - id: allow_ip
    type: STRING
    required: false

  - id: promote
    type: STRING
    defaults: "false"
    description: "Set to 'true' to promote the canary and skip rollback"

  - id: pause_duration
    type: STRING
    defaults: PT15M

tasks:
  - id: upsert_canary_dns
    type: io.kestra.plugin.cloudflare.dns.records.Upsert
    description: Upsert the DNS record to point the hostname to the canary IP.
    content: "{{ inputs.canary_ip }}"

  - id: purge_canary
    type: io.kestra.plugin.cloudflare.cache.Purge
    description: Purge Cloudflare cache for the hostname so new requests can hit the canary.
    files:
      - "https://{{ inputs.host_name }}/"

  - id: allow_canary_source
    type: io.kestra.plugin.cloudflare.waf.accessrules.Create
    description: Create a temporary IP allow (whitelist) rule scoped to the zone to let canary traffic through.
    value: "{{ inputs.allow_ip }}"

  - id: wait_for_validation
    type: io.kestra.plugin.core.flow.Pause
    description: Pause to allow manual validation of canary traffic, metrics and health checks.
    pauseDuration: "{{ inputs.pause_duration }}"

  - id: cleanup
    type: io.kestra.plugin.core.flow.Switch
    value: "{{ inputs.promote }}"
    cases:
      "true":
        - id: promote_log
          type: io.kestra.plugin.core.log.Log
          description: Canary has been promoted; keep DNS as-is.
          message: "Canary promoted for {{ inputs.host_name }} (dns: {{ outputs.upsert_canary_dns.id }})"

      "false":
        - id: revert_dns
          type: io.kestra.plugin.cloudflare.dns.records.Upsert
          description: Revert the DNS record back to the original IP.
          content: "{{ inputs.original_ip }}"

        - id: remove_allow
          type: io.kestra.plugin.cloudflare.waf.accessrules.Delete
          description: Remove the temporary allow created earlier (if any).
          ruleId: "{{ outputs.allow_canary_source.id }}"

pluginDefaults:
  - type: io.kestra.plugin.cloudflare.dns.records.Upsert
    values:
      apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
      zoneId: "{{ inputs.zone_id }}"
      name: "{{ inputs.host_name }}"
      recordType: "{{ inputs.record_type }}"
      ttl: 1
      proxied: false

  - type: io.kestra.plugin.cloudflare.cache.Purge
    values:
      apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
      zoneId: "{{ inputs.zone_id }}"
      purgeAll: false

  - type: io.kestra.plugin.cloudflare.waf.accessrules.Create
    values:
      apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
      zoneId: "{{ inputs.zone_id }}"
      mode: "WHITELIST"
      target: "IP"
      notes: "Temporary canary allow created by Kestra"

  - type: io.kestra.plugin.cloudflare.waf.accessrules.Delete
    values:
      apiToken: "{{ secret('CLOUDFLARE_API_TOKEN') }}"
      zoneId: "{{ inputs.zone_id }}"

description: |
  Canary-style deployment helpers for Cloudflare.
  This flow performs a minimal canary deployment sequence using the Cloudflare
  plugins: update DNS (Upsert), purge cache, create a temporary IP allow rule,
  wait for validation, and optionally revert the changes.

extend:
  shortDescription: "Canary deployment: DNS upsert, cache purge and IP allow for Cloudflare."
  title: Cloudflare Canary Deployment Blueprint
  metaTitle: Cloudflare Canary Deployment Blueprint
  description: |
    This blueprint shows a practical canary deployment pattern using the
    official Kestra Cloudflare plugins. Use it to safely test a new backend
    IP by updating DNS to a `canary_ip`, purging the Cloudflare cache, and
    creating a temporary IP allow rule while you validate traffic.

    Prerequisites
    - A Cloudflare account and the Zone ID for your domain.
    - A Cloudflare API Token stored as a secret named `CLOUDFLARE_API_TOKEN`.
      The token should have permissions: `Zone:Read`, `Zone:DNS:Edit`,
      `Zone:Cache Purge:Edit` and `Firewall:Edit` (or equivalent granular scopes).
    - Kestra with the `io.kestra.plugin.cloudflare` plugin installed.

    Quick start
    1. Create a secret in Kestra: name `CLOUDFLARE_API_TOKEN` with a scoped API token.
     2. Run this flow and provide the `zone_id`, `host_name`, `canary_ip`, and
       `original_ip`. Optionally set `allow_ip` to whitelist an origin IP during tests.

    Example run payload
    ```json
    {
      "zone_id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "host_name": "www.example.com",
      "record_type": "A",
      "canary_ip": "203.0.113.10",
      "original_ip": "203.0.113.20",
      "allow_ip": "198.51.100.5",
      "pause_duration": "PT10M",
      "promote": "false"
    }
    ```

    Expected outputs
    - `{{ outputs.upsert_canary_dns.id }}`: Upsert DNS response (DNS record id).
    - `{{ outputs.purge_canary }}`: Purge task result.
    - `{{ outputs.allow_canary_source.id }}`: Created access rule id.

    Links
    - Cloudflare DNS Records plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-dns-records
    - Cloudflare Cache plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-cache
    - Cloudflare IP Access Rules plugin: https://kestra.io/plugins/plugin-cloudflare/cloudflare-ip-access-rules

  tags:
    - Cloud
    - Infrastructure
  ee: false
