flows/csv-url-to-postgres.yaml
id: csv-url-to-postgres
namespace: company.team

inputs:
  - id: csv_url
    type: STRING
    displayName: CSV file URL
    description: Public URL of the CSV file to download and load into PostgreSQL
    defaults: "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
  - id: target_table
    type: STRING
    displayName: Target table name
    description: PostgreSQL table to load data into (must already exist)
    defaults: "public.raw_data"
  - id: field_separator
    type: STRING
    displayName: Field separator
    description: The character used to separate columns in the CSV (default comma)
    defaults: ","

tasks:
  - id: download_csv
    type: io.kestra.plugin.core.http.Download
    uri: "{{ inputs.csv_url }}"

  - id: csv_to_ion
    type: io.kestra.plugin.serdes.csv.CsvToIon
    from: "{{ outputs.download_csv.uri }}"
    fieldSeparator: "{{ inputs.field_separator }}"
    header: true

  - id: ion_to_csv
    type: io.kestra.plugin.serdes.csv.IonToCsv
    from: "{{ outputs.csv_to_ion.uri }}"
    header: true

  - id: load_to_postgres
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: "{{ secret('POSTGRES_URL') }}"
    username: "{{ secret('POSTGRES_USER') }}"
    password: "{{ secret('POSTGRES_PASSWORD') }}"
    from: "{{ outputs.ion_to_csv.uri }}"
    table: "{{ inputs.target_table }}"
    format: CSV
    header: true

extend:
  title: Download a CSV from a URL and Bulk-Load It into PostgreSQL with COPY
  shortDescription: "This blueprint downloads a CSV file from any public URL, parses it through Kestra's serialization layer, and bulk-loads it into a PostgreSQL table using the fast COPY protocol."
  description: |
    This blueprint **downloads a CSV file from any public URL, parses it through Kestra's
    serialization layer, and bulk-loads it into a PostgreSQL table** using the native
    `COPY` protocol — the fastest way to ingest large CSV datasets into Postgres.

    It demonstrates how to:

    1. Download a CSV file from a remote URL using the **HTTP Download** plugin, storing it
       in Kestra's internal storage for reliable, stateless processing.
    2. Parse the raw CSV into **Kestra's ION format** — a typed, row-oriented intermediate
       format that normalizes data types across the pipeline regardless of source encoding.
    3. Re-serialize the ION data back to a clean, normalized CSV ready for the PostgreSQL
       bulk loader.
    4. Use the **PostgreSQL COPY IN** plugin to stream the file directly into the target table
       using the highly efficient `COPY FROM STDIN` protocol — bypassing row-by-row INSERT
       overhead and handling millions of rows in seconds.

    This pattern is ideal for:
      - **Daily data ingestion** from public datasets, partner exports, or data vendor dumps
      - **ELT pipelines** where raw CSV data is loaded first, then transformed with SQL or dbt
      - **One-time migrations** from spreadsheet-based workflows to relational databases
      - Teams replacing manual upload scripts with a reproducible, observable pipeline

    The flow can be extended to add column mapping with a Python transform step, run `CREATE TABLE IF NOT EXISTS`
    before loading, send a Slack notification with row count on success, or chain into a dbt
    transformation run after ingestion.
  tags:
    - Data
    - Core
  ee: false
  demo: false
  meta_description: |
    Download a CSV from any public URL and bulk-load it into PostgreSQL using Kestra's COPY IN plugin.
    Parses through the ION serialization layer for type normalization and ingests millions of rows
    efficiently without row-by-row inserts.
