flows/dbt-cloud-chained-jobs.yaml
id: dbt-cloud-chained-jobs
namespace: company.team
description: |
  Run a sequence of dbt Cloud jobs as one dependency-aware pipeline: staging,
  then marts, then exposures. Each job waits for the previous to succeed, and
  Slack reports the full run.

inputs:
  - id: staging_job_id
    type: STRING
    description: dbt Cloud job ID that builds staging models.
  - id: marts_job_id
    type: STRING
    description: dbt Cloud job ID that builds marts.
  - id: exposures_job_id
    type: STRING
    description: dbt Cloud job ID that refreshes exposures.

tasks:
  - id: run_staging
    type: io.kestra.plugin.dbt.cloud.TriggerRun
    description: Build staging models and wait for completion.
    jobId: "{{ inputs.staging_job_id }}"
    wait: true

  - id: run_marts
    type: io.kestra.plugin.dbt.cloud.TriggerRun
    description: Build marts after staging succeeds.
    jobId: "{{ inputs.marts_job_id }}"
    wait: true

  - id: run_exposures
    type: io.kestra.plugin.dbt.cloud.TriggerRun
    description: Refresh exposures after marts succeed.
    jobId: "{{ inputs.exposures_job_id }}"
    wait: true

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Report that the chained dbt Cloud pipeline finished.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "dbt Cloud pipeline complete: staging -> marts -> exposures."
      }

pluginDefaults:
  - type: io.kestra.plugin.dbt.cloud.TriggerRun
    values:
      accountId: "{{ secret('DBT_CLOUD_ACCOUNT_ID') }}"
      token: "{{ secret('DBT_CLOUD_API_TOKEN') }}"

triggers:
  - id: nightly_pipeline
    type: io.kestra.plugin.core.trigger.Schedule
    description: Run the chained pipeline nightly. Adjust or disable as needed.
    cron: "0 1 * * *"
    disabled: true

extend:
  shortDescription: Run dbt Cloud staging, marts, and exposures jobs in sequence, each waiting on the previous.
  title: Chained dbt Cloud Jobs with Dependencies
  metaTitle: Chained dbt Cloud Jobs with Dependencies
  description: |
    This blueprint coordinates multiple dbt Cloud jobs into one ordered pipeline.
    It runs the staging job, then marts, then exposures, with each step waiting for
    the previous to succeed so a failure stops the chain early. Slack reports the
    full run.

    Prerequisites:
      - Secrets:
        - DBT_CLOUD_ACCOUNT_ID, DBT_CLOUD_API_TOKEN: dbt Cloud account and API token.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - Three dbt Cloud jobs for staging, marts, and exposures.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Pass the three job IDs.
      3. Enable the schedule to run the pipeline automatically.

    Outputs:
      - outputs.run_staging / outputs.run_marts / outputs.run_exposures: per-job results.

    Notes:
      - wait: true on each step enforces the dependency order.
      - Split a single large dbt Cloud job into these stages to get per-stage failure isolation.
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Run dbt Cloud staging, marts, and exposures jobs in sequence, each waiting on the previous, with Slack reporting.
