flows/documentdb-api-ingest.yaml
id: documentdb-api-ingest
namespace: company.team

labels:
  team: data
  domain: ingestion

concurrency:
  limit: 1

inputs:
  - id: api_url
    type: STRING
    defaults: https://jsonplaceholder.typicode.com/users
    description: Public JSON API returning an array of records to ingest.

  - id: business_key
    type: STRING
    defaults: id
    description: |
      Field in each source record that uniquely identifies it. Used as the `external_id` upsert key
      so re-runs upsert in place instead of accumulating duplicates.

variables:
  database: app_data
  collection: customers

pluginDefaults:
  - type: io.kestra.plugin.documentdb
    values:
      host: "{{ secret('DOCUMENTDB_HOST') }}"
      database: "{{ vars.database }}"
      username: "{{ secret('DOCUMENTDB_USERNAME') }}"
      password: "{{ secret('DOCUMENTDB_PASSWORD') }}"

tasks:
  - id: fetch_api
    type: io.kestra.plugin.core.http.Request
    description: Fetch a JSON array of records from the public API.
    uri: "{{ inputs.api_url }}"
    method: GET
    contentType: application/json
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

  - id: guard_array
    type: io.kestra.plugin.core.execution.Fail
    description: Fail fast if the body is empty or not a JSON array, before any write.
    condition: "{{ (fromJson(outputs.fetch_api.body) is iterable) == false or fromJson(outputs.fetch_api.body) | length == 0 }}"
    errorMessage: "Source {{ inputs.api_url }} did not return a non-empty JSON array."

  - id: ingest_records
    type: io.kestra.plugin.core.flow.ForEach
    description: Upsert every record in the feed, not just the first batch, keyed on a deterministic external_id.
    concurrencyLimit: 1
    values: "{{ fromJson(outputs.fetch_api.body) }}"
    tasks:
      - id: read_existing
        type: io.kestra.plugin.documentdb.Read
        description: Check whether a document with this external_id already exists, since Update has no native upsert flag.
        collection: "{{ vars.collection }}"
        filter:
          external_id: "{{ fromJson(taskrun.value)[inputs.business_key] }}"
        fetchType: FETCH_ONE
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3

      - id: upsert_record
        type: io.kestra.plugin.core.flow.If
        description: Update the matched document in place, otherwise insert it (emulated upsert).
        condition: "{{ outputs.read_existing.row is defined and outputs.read_existing.row is not null }}"
        then:
          - id: update_record
            type: io.kestra.plugin.documentdb.Update
            description: Refresh the existing document so re-runs and backfills overwrite in place instead of duplicating.
            collection: "{{ vars.collection }}"
            filter:
              external_id: "{{ fromJson(parent.taskrun.value)[inputs.business_key] }}"
            update:
              $set:
                record: "{{ parent.taskrun.value }}"
                source: "{{ inputs.api_url }}"
                last_ingested_at: "{{ trigger.date ?? execution.startDate }}"
              $inc:
                ingest_count: 1
            updateMany: false
            retry:
              type: constant
              interval: PT10S
              maxAttempt: 3
        else:
          - id: insert_record
            type: io.kestra.plugin.documentdb.Insert
            description: Insert the record the first time it is seen.
            collection: "{{ vars.collection }}"
            document:
              external_id: "{{ fromJson(parent.taskrun.value)[inputs.business_key] }}"
              record: "{{ parent.taskrun.value }}"
              source: "{{ inputs.api_url }}"
              last_ingested_at: "{{ trigger.date ?? execution.startDate }}"
              ingest_count: 1
            retry:
              type: constant
              interval: PT10S
              maxAttempt: 3

  - id: count_ingested
    type: io.kestra.plugin.documentdb.Read
    description: Count the records present in the collection after the load for the run summary.
    collection: "{{ vars.collection }}"
    fetchType: STORE
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

  - id: insert_run_marker
    type: io.kestra.plugin.documentdb.Insert
    description: Record a schedule-aware ingestion audit marker after a successful load.
    collection: ingestion_runs
    document:
      source: "{{ inputs.api_url }}"
      source_record_count: "{{ fromJson(outputs.fetch_api.body) | length }}"
      collection_size_after: "{{ outputs.count_ingested.size }}"
      status: success
      execution_id: "{{ execution.id }}"
      schedule_date: "{{ trigger.date ?? execution.startDate }}"
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: "Ingested {{ fromJson(outputs.fetch_api.body) | length }} source records from {{ inputs.api_url }}; {{ vars.collection }} now holds {{ outputs.count_ingested.size }} documents."

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }})."

triggers:
  - id: daily_ingest
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 5 * * *"
    timezone: Etc/UTC

extend:
  shortDescription: Fetch a JSON API and upsert every record into a DocumentDB collection, idempotently.
  title: Ingest a public JSON API into DocumentDB
  metaTitle: Ingest a JSON API into DocumentDB with Kestra
  metaDescription: Fetch a JSON API and upsert the full feed into a DocumentDB collection daily with Kestra, with retry, idempotency, audit markers, and Slack alerts.
  description: |
    Ingest a JSON HTTP API into Amazon DocumentDB (or any MongoDB-compatible endpoint exposed through the
    DocumentDB Data REST API) with a scheduled, idempotent, fully orchestrated pipeline. This blueprint
    fetches an entire JSON feed, validates it, and upserts every record into a DocumentDB collection keyed
    on a deterministic `external_id`, so daily runs, manual replays, and backfills overwrite documents in
    place instead of accumulating duplicates. It solves the classic API-to-database ingestion problem:
    paginating the whole feed (not just the first batch), guarding against broken upstreams, retrying
    transient failures, keeping the load idempotent, and recording an audit trail of every run.

    ## How it works
    1. `fetch_api` (`io.kestra.plugin.core.http.Request`) calls the configured `api_url` with a GET and
       retries up to three times on transient errors.
    2. `guard_array` (`io.kestra.plugin.core.execution.Fail`) fails fast when the body is empty or is not
       a JSON array, so a broken upstream never triggers partial writes.
    3. `ingest_records` (`io.kestra.plugin.core.flow.ForEach`) iterates the full array. For each record it
       runs `read_existing` (`io.kestra.plugin.documentdb.Read` with `fetchType: FETCH_ONE`) to check for
       an existing document, then `upsert_record` (`io.kestra.plugin.core.flow.If`) branches to
       `io.kestra.plugin.documentdb.Update` when the document exists or `io.kestra.plugin.documentdb.Insert`
       when it does not. Because the Update task has no native upsert flag, this read-then-branch pattern
       emulates an upsert. The raw record is stored under a `record` field and `ingest_count` is incremented
       on every update.
    4. `count_ingested` (`io.kestra.plugin.documentdb.Read` with `fetchType: STORE`) counts the collection
       after the load for the run summary.
    5. `insert_run_marker` (`io.kestra.plugin.documentdb.Insert`) writes a schedule-aware audit marker to
       the `ingestion_runs` collection (source, source record count, collection size, status, execution id,
       schedule date).
    6. `log_summary` (`io.kestra.plugin.core.log.Log`) prints a one-line ingestion summary.

    ## What you get
    - A full-feed load that processes every record, not just a single batch.
    - Idempotent upserts keyed on `external_id`, so re-runs and backfills never duplicate documents.
    - Fail-fast validation before any write touches the database.
    - Automatic retries on every HTTP and DocumentDB call.
    - A reconstructable audit trail in the `ingestion_runs` collection.
    - A Slack alert with the execution id when a run fails.

    ## Who it's for
    - Data engineers loading third-party or internal JSON APIs into a document store.
    - Platform teams that need idempotent, replayable ingestion with an audit trail.
    - Anyone consolidating REST feeds into Amazon DocumentDB or a MongoDB-compatible service.

    ## Why orchestrate this with Kestra
    DocumentDB has no built-in scheduler, no feed-level orchestration, and no native upsert on its Update
    action. Kestra fills that gap. The `io.kestra.plugin.core.trigger.Schedule` trigger fires the load
    daily (and can be swapped for an event or webhook trigger), every task carries declarative `retry`
    policies, the `errors` block routes failures to Slack, and the whole pipeline is version-controlled
    YAML you can diff, review, and replay. The emulated upsert, fail-fast guard, and audit marker are all
    expressed declaratively, giving you lineage and observability that a raw cron job hitting the
    DocumentDB API cannot provide.

    ## Prerequisites
    - A reachable DocumentDB Data REST API endpoint (Amazon DocumentDB or a MongoDB-compatible service that
      exposes the `/data/v1/action/*` HTTP API).
    - The target `database` and both collections (`customers`, `ingestion_runs`) created beforehand, or
      auto-created on first write by your service.
    - Each source record must contain the field named by the `business_key` input.
    - Outbound network access from your Kestra workers to the public API and the DocumentDB endpoint.

    ### Secrets
    - `DOCUMENTDB_HOST`: base HTTPS endpoint of the DocumentDB Data REST API, for example `https://your-documentdb.example.com`.
    - `DOCUMENTDB_USERNAME`: basic-auth username for the DocumentDB API.
    - `DOCUMENTDB_PASSWORD`: basic-auth password for the DocumentDB API.
    - `SLACK_WEBHOOK`: Slack incoming webhook URL used by the failure alert.

    ## Quick start
    1. Add the four secrets above to your Kestra instance.
    2. Adjust the `database` and `collection` variables, the `api_url`, and the `business_key` input to match your data.
    3. Run the flow manually once to validate connectivity.
    4. Run it again and confirm the collection size does not grow, proving the upsert is idempotent.
    5. Let the daily `Schedule` trigger take over, and create a unique index on `external_id` as a backstop.

    ## How to extend
    - Replace the `Schedule` trigger with a webhook or `Flow` trigger to ingest on demand or downstream of another flow.
    - Add field-level transformations or enrichment between `fetch_api` and `ingest_records`.
    - Fan out to multiple APIs by parameterizing `api_url` and looping over a list of sources.
    - Push the post-load metrics from `count_ingested` to a monitoring or alerting destination.

    ## Links
    - DocumentDB plugin: https://kestra.io/plugins/plugin-documentdb
    - HTTP Request task: https://kestra.io/plugins/core/tasks/http/io.kestra.plugin.core.http.request
    - Sample API used here: https://jsonplaceholder.typicode.com
  tags:
    - Data
  ee: false
  demo: false
