flows/dropbox-report-distribution.yaml
id: dropbox-report-distribution
namespace: company.analytics

inputs:
  - id: shared_folder
    type: STRING
    defaults: "/shared/reports"
    description: Parent Dropbox folder that holds the dated report folders.

variables:
  report_date: "{{ (trigger.date ?? execution.startDate) | date('yyyy-MM-dd') }}"

pluginDefaults:
  - type: io.kestra.plugin.dropbox
    values:
      accessToken: "{{ secret('DROPBOX_ACCESS_TOKEN') }}"

concurrency:
  limit: 1

tasks:
  - id: generate_report
    type: io.kestra.plugin.scripts.python.Script
    description: Build the weekly sales report and write it to a CSV file.
    containerImage: ghcr.io/kestra-io/pydata:0.3
    timeout: PT10M
    outputFiles:
      - sales_report.csv
    dependencies:
      - pandas
    script: |
      import pandas as pd

      data = {
          "region": ["EMEA", "AMER", "APAC"],
          "revenue": [128400, 219850, 96720],
          "deals_closed": [42, 71, 28],
      }
      df = pd.DataFrame(data)
      df["report_date"] = "{{ render(vars.report_date) }}"
      df.to_csv("sales_report.csv", index=False)
      print(df)

  - id: upload_report
    type: io.kestra.plugin.dropbox.files.Upload
    description: Upload the generated report into a dated shared sub-folder. Upload creates the missing parent folder, so no separate CreateFolder step is needed.
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 5
    from: "{{ outputs.generate_report.outputFiles['sales_report.csv'] }}"
    to: "{{ inputs.shared_folder }}/{{ render(vars.report_date) }}/sales_report.csv"
    mode: OVERWRITE

  - id: notify_published
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Tell the team the weekly report has landed so consumers know where to find it.
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":bar_chart: Weekly sales report for {{ render(vars.report_date) }} published to Dropbox at {{ inputs.shared_folder }}/{{ render(vars.report_date) }}/sales_report.csv"

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }}). The weekly report was not published to Dropbox."

triggers:
  - id: monday_morning_report
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 8 * * 1"
    timezone: America/New_York

extend:
  shortDescription: Generate a weekly CSV report, upload it into a dated Dropbox folder, and notify the team, with retries, failure alerting, and re-run-safe overwrite.
  title: Weekly report generation and distribution to Dropbox
  metaTitle: Dropbox report distribution pipeline
  description: |
    This flow produces a weekly report and publishes it to a shared Dropbox folder so the rest
    of the business always finds the latest numbers in a predictable place. Each run lands in its
    own dated folder, which keeps a clean history, and a Slack message tells the team the moment
    the report is live.

    It is re-run and backfill safe: the dated path is derived once from
    `trigger.date ?? execution.startDate`, the upload uses `OVERWRITE` so re-running a given week
    replaces that week's file instead of failing, and the parent folder is created implicitly by
    the upload (no separate CreateFolder step that would conflict on a re-run). Every Dropbox call
    carries a retry block and a flow-level `errors` block alerts the team on failure.

    ## What this flow does
    1. `generate_report` runs a Python step that builds a sales summary and writes it to
       `sales_report.csv` using pandas, stamped with the run date.
    2. `upload_report` uploads the CSV to `{{ shared_folder }}/<run-date>/sales_report.csv`.
       Dropbox creates the dated parent folder automatically, and `OVERWRITE` keeps the run idempotent.
    3. `notify_published` posts a Slack message with the report location so consumers know it landed.
    4. A `Schedule` trigger runs the flow every Monday at 08:00 New York time.

    ## Prerequisites
    - A Kestra instance with the Dropbox and Slack plugins installed.
    - A Dropbox app access token with write access to the shared folder.
    - A Docker-compatible task runner for the Python report step.
    - An existing parent Dropbox folder to hold the dated report folders.

    ## Secrets
    - `DROPBOX_ACCESS_TOKEN`: Dropbox API access token used to upload the report. Never hardcode it.
    - `SLACK_WEBHOOK`: Slack incoming webhook URL used by the success and failure notifications.

    ## Quick start
    1. Add the `DROPBOX_ACCESS_TOKEN` and `SLACK_WEBHOOK` secrets to your namespace.
    2. Set the `shared_folder` input to the Dropbox path your team already uses.
    3. Replace the sample data in `generate_report` with your real query or data source (for
       example a warehouse query exported to CSV).
    4. Enable the flow and confirm the first report appears under a dated folder.

    ## Expected outputs
    - `{{ outputs.generate_report.outputFiles['sales_report.csv'] }}` is the generated CSV in
      Kestra storage.
    - `{{ outputs.upload_report.metadata }}` confirms the report was uploaded to Dropbox.

    ## Documentation
    - Dropbox plugin: https://kestra.io/plugins/plugin-dropbox
    - Python Script task: https://kestra.io/plugins/plugin-script-python/tasks/io.kestra.plugin.scripts.python.script
    - Dropbox API: https://www.dropbox.com/developers/documentation/http/documentation
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: Generate a weekly CSV report with Python, upload it to a dated Dropbox folder, and notify the team, with retries, failure alerting, and overwrite-safe re-runs.
