flows/fabric-end-to-end-pipeline.yaml
id: fabric-end-to-end-pipeline
namespace: company.team

variables:
  workspace_id: your-workspace-guid
  lakehouse_id: your-lakehouse-guid
  pipeline_id: your-ingestion-pipeline-guid
  notebook_id: your-transform-notebook-guid
  sql_endpoint_id: your-sql-endpoint-id
  warehouse_id: your-warehouse-guid

tasks:
  - id: run_ingestion_pipeline
    type: io.kestra.plugin.microsoft.fabric.data.engineering.RunPipeline
    tenantId: "{{ secret('FABRIC_TENANT_ID') }}"
    clientId: "{{ secret('FABRIC_CLIENT_ID') }}"
    clientSecret: "{{ secret('FABRIC_CLIENT_SECRET') }}"
    workspaceId: "{{ vars.workspace_id }}"
    pipelineId: "{{ vars.pipeline_id }}"
    parameters:
      load_date: "{{ now() | dateFormat('yyyy-MM-dd') }}"
    wait: true
    pollFrequency: PT15S
    timeout: PT1H

  - id: run_transform_notebook
    type: io.kestra.plugin.microsoft.fabric.data.engineering.RunNotebook
    tenantId: "{{ secret('FABRIC_TENANT_ID') }}"
    clientId: "{{ secret('FABRIC_CLIENT_ID') }}"
    clientSecret: "{{ secret('FABRIC_CLIENT_SECRET') }}"
    workspaceId: "{{ vars.workspace_id }}"
    notebookId: "{{ vars.notebook_id }}"
    parameters:
      load_date: "{{ now() | dateFormat('yyyy-MM-dd') }}"
      source_layer: bronze
      target_layer: silver
    wait: true
    pollFrequency: PT20S
    timeout: PT2H

  - id: validate_results
    type: io.kestra.plugin.microsoft.fabric.warehouse.Query
    tenantId: "{{ secret('FABRIC_TENANT_ID') }}"
    clientId: "{{ secret('FABRIC_CLIENT_ID') }}"
    clientSecret: "{{ secret('FABRIC_CLIENT_SECRET') }}"
    sqlEndpointId: "{{ vars.sql_endpoint_id }}"
    warehouseId: "{{ vars.warehouse_id }}"
    fetchType: FETCH_ONE
    sql: |
      SELECT COUNT(*) AS row_count
      FROM silver.fact_orders
      WHERE load_date = CAST('{{ now() | dateFormat('yyyy-MM-dd') }}' AS DATE)

  - id: log_validation
    type: io.kestra.plugin.core.log.Log
    message: "Silver layer loaded {{ outputs.validate_results.row.row_count }} rows for today."

errors:
  - id: on_failure
    type: io.kestra.plugin.core.log.Log
    level: ERROR
    message: "Fabric pipeline failed at task: {{ task.id }}. Check execution logs for details."

triggers:
  - id: nightly
    type: io.kestra.plugin.core.trigger.Schedule
    cron: 0 2 * * *

extend:
  title: End-to-End Fabric Orchestration — Ingest, Transform, and Validate
  shortDescription: Run a Fabric ingestion pipeline, transform data with a Notebook, and validate results in the Warehouse — all from a single Kestra flow.
  metaTitle: End-to-End Microsoft Fabric Orchestration with Kestra
  description: |
    This blueprint orchestrates a **complete Microsoft Fabric data pipeline**
    — from raw ingestion through transformation to validation — using a single
    Kestra flow on a nightly schedule.

    The workflow operates as follows:

    1. **Ingest** — triggers a Fabric Data Pipeline to load raw data into the
       Bronze Lakehouse layer, passing the current date as a parameter.
    2. **Transform** — runs a Fabric Notebook to clean and conform the Bronze
       data into the Silver layer, passing source/target layer parameters.
    3. **Validate** — queries the Fabric Warehouse to count the rows written to
       the Silver fact table and logs the result.
    4. **Alert on failure** — the `errors` block logs a structured error
       message if any step fails, making it easy to hook in Slack or email
       notifications.

    This pattern is ideal for:
      - Nightly batch pipelines that span multiple Fabric workloads
      - Medallion architecture implementations (Bronze → Silver) orchestrated
        from a central scheduler
      - Teams who want retries, timeout handling, and observability for Fabric
        jobs without custom scripting

    Configuration:
      - Store `FABRIC_TENANT_ID`, `FABRIC_CLIENT_ID`, and
        `FABRIC_CLIENT_SECRET` as Kestra secrets.
      - Replace all variable GUIDs with your actual Fabric workspace, Lakehouse,
        pipeline, notebook, and warehouse identifiers.
      - Tune `pollFrequency` and `timeout` for each step to match typical run
        durations.
      - Replace the `on_failure` Log task with a Slack or email task to receive
        failure alerts.

    This blueprint provides a production-ready foundation for **end-to-end
    Fabric pipeline orchestration** with full observability from Kestra.
  tags:
    - Data
    - Azure
  ee: false
  demo: false
  metaDescription: Orchestrate a full Microsoft Fabric pipeline in Kestra — trigger ingestion, run a Notebook transformation, validate results in the Warehouse, and alert on failure.
