flows/fabric-onelake-upload.yaml
id: fabric-onelake-upload
namespace: company.team

variables:
  workspace_id: your-workspace-guid
  lakehouse_id: your-lakehouse-guid

tasks:
  - id: extract
    type: io.kestra.plugin.jdbc.postgresql.CopyOut
    sql: SELECT * FROM orders WHERE created_at::date = current_date - 1
    format: CSV
    header: true

  - id: upload_to_onelake
    type: io.kestra.plugin.microsoft.fabric.onelake.Upload
    tenantId: "{{ secret('FABRIC_TENANT_ID') }}"
    clientId: "{{ secret('FABRIC_CLIENT_ID') }}"
    clientSecret: "{{ secret('FABRIC_CLIENT_SECRET') }}"
    workspaceId: "{{ vars.workspace_id }}"
    itemId: "{{ vars.lakehouse_id }}"
    from: "{{ outputs.extract.uri }}"
    filePath: "raw/orders/{{ now() | dateFormat('yyyy-MM-dd') }}/orders.csv"

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql.CopyOut
    values:
      url: jdbc:postgresql://your-db-host:5432/your-db
      username: your-db-user
      password: "{{ secret('DB_PASSWORD') }}"

extend:
  title: Export a Database Table to Microsoft Fabric OneLake
  shortDescription: Query a database, then upload the result as a CSV file to a Fabric Lakehouse via OneLake.
  metaTitle: Export Database Data to Microsoft Fabric OneLake with Kestra
  description: |
    This blueprint extracts data from a relational database and uploads the
    result as a CSV file to a **Microsoft Fabric Lakehouse via OneLake**.

    The workflow operates as follows:

    - Runs a SQL query against a PostgreSQL database using the JDBC CopyOut task
      and stores the result as a CSV file in Kestra internal storage.
    - Uploads the CSV file to the `Files/` directory of the specified Lakehouse
      using the Fabric OneLake ADLS Gen2 API.
    - Organises uploaded files in a date-partitioned folder structure.
    - Exposes the `uri` (ABFSS path in OneLake) as a task output for downstream
      Fabric jobs.

    This pattern is ideal for:
      - Daily or incremental data exports from operational databases into a
        Fabric Lakehouse landing zone
      - Building Bronze-layer ingestion pipelines for medallion architectures
        in Microsoft Fabric
      - Staging data in OneLake before triggering a Fabric Notebook or Spark
        job for transformation

    Configuration:
      - Store `FABRIC_TENANT_ID`, `FABRIC_CLIENT_ID`, `FABRIC_CLIENT_SECRET`,
        and `DB_PASSWORD` as Kestra secrets.
      - Replace `workspace_id` and `lakehouse_id` with your Fabric GUIDs.
      - Adjust the SQL query and `filePath` to match your schema and partition
        strategy.
      - Replace the PostgreSQL `pluginDefaults` with your actual database type
        and connection details.

    This blueprint provides a production-ready foundation for **database-to-
    OneLake ingestion pipelines** within Kestra flows.
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Export database query results to Microsoft Fabric OneLake with Kestra. Upload CSV files to a Fabric Lakehouse and build Bronze-layer ingestion pipelines.
