flows/git-sync-flows-source-of-truth.yaml
id: git-sync-flows-source-of-truth
namespace: company.team
description: |
  Treat Git as the source of truth for your flows. On a short interval, sync the
  flows defined in a Git branch into the target namespace, removing any that were
  deleted in Git, and report the result to Slack.

inputs:
  - id: repository
    type: STRING
    defaults: https://github.com/my-org/kestra-flows
    description: Git repository holding the flow definitions.
  - id: target_namespace
    type: STRING
    defaults: company.team
    description: Namespace the flows are synced into.

tasks:
  - id: sync_flows
    type: io.kestra.plugin.git.SyncFlows
    description: Reconcile the namespace's flows with what Git declares.
    url: "{{ inputs.repository }}"
    username: "{{ secret('GIT_USERNAME') }}"
    password: "{{ secret('GIT_TOKEN') }}"
    branch: main
    gitDirectory: _flows
    targetNamespace: "{{ inputs.target_namespace }}"
    includeChildNamespaces: true
    delete: true

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Report the sync to Slack.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Synced flows from Git into {{ inputs.target_namespace }}."
      }

triggers:
  - id: every_five_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    description: Reconcile every five minutes. Adjust or disable as needed.
    cron: "*/5 * * * *"
    disabled: true

extend:
  shortDescription: Sync flows from a Git branch into a namespace on a short interval, deleting flows removed in Git.
  title: Git as Source of Truth for Kestra Flows
  metaTitle: Git as Source of Truth for Kestra Flows
  description: |
    This blueprint makes Git the single source of truth for your flows. On a short
    interval it syncs the flow definitions from a Git branch into the target
    namespace and its children, deletes flows that were removed in Git, and posts a
    summary to Slack. Edits land in Kestra only through Git.

    Prerequisites:
      - Secrets:
        - GIT_USERNAME, GIT_TOKEN: Git HTTP credentials with read access.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - A Git repository with flow YAML under the _flows directory.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Point repository at your flows repo and target_namespace at the destination.
      3. Enable the schedule to reconcile continuously.

    Outputs:
      - outputs.sync_flows: the applied diff of created, updated, and deleted flows.

    Notes:
      - delete: true makes this authoritative; flows removed from Git are removed from Kestra.
      - Set dryRun: true on SyncFlows first to preview the diff before enabling deletes.
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Sync flows from a Git branch into a namespace on a short interval, deleting flows that were removed in Git.
