flows/git-push-flows-dryrun-review.yaml
id: git-push-flows-dryrun-review
namespace: company.team
description: |
  Export flows to Git with a review step. First run a dry run to produce the
  diff, pause for a human to review it, then push the flows for real, so changes
  to the Git mirror are always reviewed before they land.

inputs:
  - id: repository
    type: STRING
    defaults: https://github.com/my-org/kestra-flows
    description: Git repository the flows are pushed to.
  - id: source_namespace
    type: STRING
    defaults: company.team
    description: Namespace whose flows are exported.
  - id: approval_timeout
    type: DURATION
    defaults: PT1H
    description: How long to wait for the diff to be reviewed.

tasks:
  - id: dry_run
    type: io.kestra.plugin.git.PushFlows
    description: Produce the diff without pushing, for review.
    url: "{{ inputs.repository }}"
    username: "{{ secret('GIT_USERNAME') }}"
    password: "{{ secret('GIT_TOKEN') }}"
    branch: main
    sourceNamespace: "{{ inputs.source_namespace }}"
    gitDirectory: _flows
    includeChildNamespaces: true
    dryRun: true

  - id: notify_review
    type: io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook
    description: Tell the team a flow export diff is waiting for review.
    url: "{{ secret('TEAMS_WEBHOOK_URL') }}"
    payload: |
      {
        "type": "message",
        "attachments": [
          {
            "contentType": "application/vnd.microsoft.card.adaptive",
            "content": {
              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
              "type": "AdaptiveCard",
              "version": "1.4",
              "body": [
                {
                  "type": "TextBlock",
                  "size": "Large",
                  "weight": "Bolder",
                  "text": "Flow export diff awaiting review"
                },
                {
                  "type": "TextBlock",
                  "text": "A dry-run diff for namespace {{ inputs.source_namespace }} is paused for review before pushing to Git (execution {{ execution.id }}).",
                  "wrap": true
                }
              ]
            }
          }
        ]
      }

  - id: review
    type: io.kestra.plugin.core.flow.Pause
    description: Pause for a human to review the dry-run diff before pushing.
    pauseDuration: "{{ inputs.approval_timeout }}"

  - id: push
    type: io.kestra.plugin.git.PushFlows
    description: Push the reviewed flows to Git.
    url: "{{ inputs.repository }}"
    username: "{{ secret('GIT_USERNAME') }}"
    password: "{{ secret('GIT_TOKEN') }}"
    branch: main
    sourceNamespace: "{{ inputs.source_namespace }}"
    gitDirectory: _flows
    includeChildNamespaces: true
    dryRun: false
    commitMessage: "Sync flows from {{ inputs.source_namespace }} ({{ now() }})"

triggers:
  - id: nightly_export
    type: io.kestra.plugin.core.trigger.Schedule
    description: Export nightly with review. Adjust or disable as needed.
    cron: "0 18 * * *"
    disabled: true

extend:
  shortDescription: Dry-run a flow export to Git, pause to review the diff, then push the reviewed flows.
  title: Export Flows to Git with a Dry-Run Review
  metaTitle: Export Flows to Git with a Dry-Run Review
  description: |
    This blueprint mirrors your flows to Git safely. It first runs PushFlows in
    dry-run mode to produce the diff, pauses for a human to review it, then pushes
    the flows for real. Changes to the Git mirror are never committed without a
    review of exactly what will change.

    Prerequisites:
      - Secrets:
        - GIT_USERNAME, GIT_TOKEN: Git HTTP credentials with write access.
        - TEAMS_WEBHOOK_URL: Microsoft Teams incoming webhook URL for the review notification.
      - A Git repository to receive the exported flows.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Point repository and source_namespace at your repo and namespace.
      3. Review the dry-run diff, then approve the Pause to push.

    Outputs:
      - outputs.dry_run: the diff that will be applied.
      - outputs.push: the result of the real push.

    Notes:
      - The dry run and the push use identical settings so the reviewed diff matches what is pushed.
      - Remove the Pause for an unattended export once you trust the diff.
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Dry-run a flow export to Git, pause to review the diff, then push the reviewed flows to the repository.
