flows/github-dispatch-deploy-on-dbt.yaml
id: github-dispatch-deploy-on-dbt
namespace: company.team
description: |
  Kick off a GitHub Actions deploy when an upstream dbt run finishes. A webhook
  from dbt fires the flow; it confirms the run succeeded, dispatches the deploy
  workflow, and reports the result to Slack, with no manual gate in between.

inputs:
  - id: repository
    type: STRING
    defaults: my-org/my-app
    description: GitHub repository (owner/repo) that owns the deploy workflow.
  - id: workflow_id
    type: STRING
    defaults: deploy.yml
    description: Workflow file or ID to dispatch.
  - id: ref
    type: STRING
    defaults: main
    description: Branch or tag the workflow runs on.
  - id: dbt_status_url
    type: STRING
    description: dbt API URL used to confirm the upstream run succeeded.

tasks:
  - id: confirm_dbt_run
    type: io.kestra.plugin.core.http.Request
    description: Confirm the upstream dbt run succeeded before deploying.
    uri: "{{ inputs.dbt_status_url }}"
    method: GET

  - id: dispatch_deploy
    type: io.kestra.plugin.github.actions.RunWorkflow
    description: Dispatch the GitHub Actions deploy workflow.
    oauthToken: "{{ secret('GITHUB_TOKEN') }}"
    repository: "{{ inputs.repository }}"
    workflowId: "{{ inputs.workflow_id }}"
    ref: "{{ inputs.ref }}"
    inputs:
      triggered_by: kestra
      dbt_execution: "{{ trigger.body ?? execution.id }}"

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Report the dispatched deploy to Slack.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Dispatched {{ inputs.workflow_id }} on {{ inputs.repository }}@{{ inputs.ref }} after dbt completed."
      }

triggers:
  - id: on_dbt_complete
    type: io.kestra.plugin.core.trigger.Webhook
    description: dbt posts here when a run completes.
    key: "{{ secret('DBT_COMPLETE_WEBHOOK_KEY') }}"

extend:
  shortDescription: A dbt completion webhook confirms success, dispatches a GitHub Actions deploy, and reports to Slack.
  title: Dispatch a GitHub Actions Deploy When dbt Finishes
  metaTitle: Dispatch a GitHub Actions Deploy When dbt Finishes
  description: |
    This blueprint bridges your data and delivery pipelines. When dbt finishes it
    calls the webhook; the flow confirms the run succeeded, dispatches a GitHub
    Actions deploy workflow, and reports the dispatch to Slack. The deploy is
    event-driven: it fires automatically on dbt completion with no manual gate.

    Prerequisites:
      - Secrets:
        - GITHUB_TOKEN: token allowed to dispatch workflows on the repository.
        - DBT_COMPLETE_WEBHOOK_KEY: key guarding the webhook trigger.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - A GitHub Actions workflow that accepts workflow_dispatch.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Configure dbt to POST to the webhook on run completion.
      3. Pass the repository, workflow_id, ref, and dbt_status_url.

    Outputs:
      - outputs.confirm_dbt_run.body: the dbt status payload.
      - outputs.dispatch_deploy: the dispatch result.

    Notes:
      - The deploy workflow must be configured with a workflow_dispatch trigger and matching inputs.
      - The confirm step fails the flow before dispatch if the dbt run did not succeed.
      - To gate the deploy behind a human approval, add a Pause before dispatch (see the approval-gate blueprints).
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: A dbt completion webhook confirms a dbt run succeeded, then dispatches a GitHub Actions deploy workflow and reports to Slack.
