flows/google-sheets-to-mailchimp-sync.yaml
extend:
  title: Sync Google Sheets Leads to a Mailchimp Subscriber List
  metaTitle: Google Sheets to Mailchimp Sync
  shortDescription: Read rows from a Google Sheet every 2 minutes and subscribe each email to a Mailchimp list
  description: |
    **Reads a Google Sheets range on a schedule and subscribes each row's email address to a
    Mailchimp audience list.**

    1. Schedule trigger fires every 2 minutes to process new rows.
    2. Google Sheets API HTTP request fetches all data from the configured spreadsheet range.
    3. Python Script parses the JSON response, skips the header row, and extracts valid email
       addresses from the first column.
    4. ForEach loop iterates each email and sends an HTTP POST to the Mailchimp Members API to
       subscribe it to the configured list.

    Ideal for:
    - **Marketing teams** capturing inbound leads in a shared spreadsheet and pushing them
      continuously to an email campaign list without manual CSV imports
    - **Sales operations** replacing one-off list uploads with a near-real-time sync pipeline
  tags:
    - Business
    - Data
  ee: false
  demo: false
  metaDescription: Periodically read email rows from a Google Sheet and subscribe each address to a Mailchimp list using Kestra's HTTP and ForEach plugins.

id: google-sheets-to-mailchimp-sync
namespace: company.team

inputs:
  - id: sheet_id
    type: STRING
    displayName: Google Sheet ID
    description: The spreadsheet ID from the Google Sheets URL (between /d/ and /edit)
  - id: sheet_range
    type: STRING
    displayName: Sheet Range
    description: A1 notation range to read, e.g. Sheet1!A:C
    defaults: "Sheet1!A:C"
  - id: mailchimp_list_id
    type: STRING
    displayName: Mailchimp Audience ID
    description: The Mailchimp audience (list) ID to subscribe contacts to
  - id: mailchimp_datacenter
    type: STRING
    displayName: Mailchimp Datacenter
    description: Datacenter prefix from your Mailchimp API key, e.g. us1, us14
    defaults: "us1"

tasks:
  - id: read_google_sheets
    type: io.kestra.plugin.core.http.Request
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ inputs.sheet_id }}/values/{{ inputs.sheet_range }}"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_OAUTH_TOKEN') }}"

  - id: parse_rows
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      from kestra import Kestra

      body = json.loads("""{{ outputs.read_google_sheets.body }}""")
      rows = body.get("values", [])
      # Skip header row; keep only rows with a valid email in column A
      emails = [row[0] for row in rows[1:] if row and "@" in row[0]]
      Kestra.outputs({"emails": json.dumps(emails)})

  - id: subscribe_emails
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.parse_rows.vars.emails }}"
    concurrencyLimit: 5
    tasks:
      - id: add_to_mailchimp
        type: io.kestra.plugin.core.http.Request
        uri: "https://{{ inputs.mailchimp_datacenter }}.api.mailchimp.com/3.0/lists/{{ inputs.mailchimp_list_id }}/members"
        method: POST
        headers:
          Authorization: "Bearer {{ secret('MAILCHIMP_API_KEY') }}"
          Content-Type: "application/json"
        body: |
          {"email_address": "{{ taskrun.value }}", "status": "subscribed"}

triggers:
  - id: every_two_minutes
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/2 * * * *"
