flows/google-sheets-crud-tutorial.yaml
id: google-sheets-crud-tutorial
namespace: company.team
tasks:
  - id: get_rows_from_google_sheets
    type: io.kestra.plugin.core.http.Request
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ secret('GOOGLE_SHEET_ID') }}/values/Sheet1"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ACCESS_TOKEN') }}"
  - id: generate_sample_row
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      # Simulate a form submission with sample data
      Kestra.outputs({
          "Name": "Jane Doe",
          "Email": "jane.doe@example.com",
          "Topic": "workflow orchestration",
          "Submitted": "Yes"
      })
  - id: append_data_to_sheet
    type: io.kestra.plugin.core.http.Request
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ secret('GOOGLE_SHEET_ID') }}/values/Sheet1:append"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ACCESS_TOKEN') }}"
      Content-Type: application/json
    params:
      valueInputOption: USER_ENTERED
    body: |
      {
        "values": [
          [
            "{{ outputs.generate_sample_row.vars.Name }}",
            "{{ outputs.generate_sample_row.vars.Email }}",
            "{{ outputs.generate_sample_row.vars.Topic }}",
            "{{ outputs.generate_sample_row.vars.Submitted }}"
          ]
        ]
      }
  - id: write_description
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o-mini
    messages:
      - role: system
        content: >-
          You are a helpful assistant. Respond with valid JSON in this format:
          {"description": "your description here"}
      - role: user
        content: >-
          Write a concise, informative description about the following topic:
          {{ outputs.generate_sample_row.vars.Topic }}
  - id: parse_ai_response
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      # Parse the structured JSON response from the AI model
      ai_output = '''{{ outputs.write_description.choices[0].message.content }}'''
      parsed = json.loads(ai_output)

      Kestra.outputs({"description": parsed.get("description", "")})
  - id: update_sheet_row
    type: io.kestra.plugin.core.http.Request
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ secret('GOOGLE_SHEET_ID') }}/values/Sheet1"
    method: PUT
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ACCESS_TOKEN') }}"
      Content-Type: application/json
    params:
      valueInputOption: USER_ENTERED
    body: |
      {
        "values": [
          [
            "{{ outputs.generate_sample_row.vars.Name }}",
            "{{ outputs.generate_sample_row.vars.Email }}",
            "{{ outputs.generate_sample_row.vars.Topic }}",
            "{{ outputs.generate_sample_row.vars.Submitted }}",
            "{{ outputs.parse_ai_response.vars.description }}"
          ]
        ]
      }

extend:
  title: Google Sheets CRUD Operations Tutorial
  metaTitle: Google Sheets CRUD Operations Tutorial
  shortDescription: >-
    A hands-on tutorial covering read, append, and update operations on Google
    Sheets, with an AI-powered description generator using OpenAI GPT-4o.
  description: |
    **Learn the three core Google Sheets operations -- read, append, and update -- with an AI enrichment step.**

    1. A `io.kestra.plugin.core.http.Request` task reads all existing rows from a Google Sheet via the Sheets API
    2. A `io.kestra.plugin.scripts.python.Script` task generates a sample data row simulating a form submission with Name, Email, Topic, and status fields
    3. A `io.kestra.plugin.core.http.Request` task appends the new row to the first empty line in the sheet
    4. A `io.kestra.plugin.openai.ChatCompletion` task sends the Topic value to GPT-4o-mini and receives a structured JSON description
    5. A `io.kestra.plugin.scripts.python.Script` task parses the AI response into the expected output format
    6. A `io.kestra.plugin.core.http.Request` task updates the matching row in the sheet with the AI-generated description, using Email as the lookup key

    Ideal for:
    - **Beginners** learning how to integrate Google Sheets with an orchestration platform for the first time
    - **Automation builders** who need a reference pattern for reading, writing, and updating spreadsheet data
    - **Teams** looking to enrich spreadsheet records with AI-generated content in an automated pipeline
  tags:
    - Getting Started
    - Data
  ee: false
  demo: false
  metaDescription: >-
    Step-by-step tutorial for Google Sheets CRUD operations with AI enrichment.
    Read rows, append new data, generate descriptions with GPT-4o, and update cells.

