flows/google-sheets-read-write.yaml
id: google-sheets-read-write
namespace: company.team

tasks:
  - id: set_sample_data
    type: io.kestra.plugin.scripts.python.Script
    description: "Define sample data to write into the spreadsheet"
    script: |
      import json
      from kestra import Kestra

      Kestra.outputs({
          "name": "Kestra",
          "id": "1"
      })

  - id: append_to_sheet
    type: io.kestra.plugin.core.http.Request
    description: "Append a new row with sample data to the Google Sheet"
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ secret('GOOGLE_SHEET_ID') }}/values/Sheet1:append?valueInputOption=USER_ENTERED"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ACCESS_TOKEN') }}"
      Content-Type: "application/json"
    body: |
      {
        "values": [
          ["{{ outputs.set_sample_data.vars.id }}", "{{ outputs.set_sample_data.vars.name }}"]
        ]
      }

  - id: read_from_sheet
    type: io.kestra.plugin.core.http.Request
    description: "Read back all data from columns A and B to verify the write"
    uri: "https://sheets.googleapis.com/v4/spreadsheets/{{ secret('GOOGLE_SHEET_ID') }}/values/Sheet1!A:B"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ACCESS_TOKEN') }}"

extend:
  title: "Getting Started: Read and Write Data to Google Sheets with Kestra"
  metaTitle: "Google Sheets Read & Write — Kestra Starter Blueprint"
  shortDescription: >-
    Demonstrates how to insert a row into a Google Sheet and then read the
    data back, serving as a starter example for spreadsheet integrations.
  description: |
    **A getting-started blueprint that shows how to write data to a Google Sheet and immediately read it back, providing a foundation for spreadsheet-driven workflows.**

    1. A `io.kestra.plugin.scripts.python.Script` task defines sample data with a name and numeric ID
    2. A `io.kestra.plugin.core.http.Request` task appends the data as a new row in the target Google Sheet via the Sheets API
    3. A second `io.kestra.plugin.core.http.Request` task reads the data back from the same sheet to verify the write succeeded

    Ideal for:
    - **Beginners** learning how to integrate Kestra with Google Sheets
    - **Data engineers** who need a reusable pattern for reading and writing spreadsheet data
    - **Teams** building workflows that use Google Sheets as a lightweight data store or CMS
  tags:
    - Data
    - Getting Started
  ee: false
  demo: false
  metaDescription: >-
    Insert a row into Google Sheets and read it back with Kestra. A minimal
    starter blueprint for any spreadsheet-driven workflow using the Sheets API.

