flows/google-news-rss-decoder.yaml
id: google-news-rss-decoder
namespace: company.team

tasks:
  - id: reading_google_news_rss
    type: io.kestra.plugin.core.http.Request
    uri: "https://news.google.com/rss?hl=en&gl=US&ceid=US:en"
    method: GET

  - id: limit
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      # Limit the number of RSS items to process
      # In production, parse outputs.reading_google_news_rss.body as XML
      max_items = 5
      items = []  # TODO: parse RSS XML items from upstream output
      limited = items[:max_items]
      Kestra.outputs({"limitedItems": json.dumps(limited), "count": len(limited)})

  - id: get_encoded_news_url
    type: io.kestra.plugin.core.http.Request
    uri: "{{ outputs.limit.vars.limitedItems }}"
    method: GET

  - id: extract_decoding_keys
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      from html.parser import HTMLParser

      class KeyExtractor(HTMLParser):
          def __init__(self):
              super().__init__()
              self.signature = ""
              self.timestamp = ""

          def handle_starttag(self, tag, attrs):
              if tag == "div":
                  attr_dict = dict(attrs)
                  if "data-n-a-sg" in attr_dict:
                      self.signature = attr_dict["data-n-a-sg"]
                  if "data-n-a-ts" in attr_dict:
                      self.timestamp = attr_dict["data-n-a-ts"]

      html_content = '{{ outputs.get_encoded_news_url.body }}'
      parser = KeyExtractor()
      parser.feed(html_content)

      Kestra.outputs({
          "signature": parser.signature,
          "timestamp": parser.timestamp
      })

  - id: map_needed_keys
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      Kestra.outputs({
          "signature": "{{ outputs.extract_decoding_keys.vars.signature }}",
          "timestamp": "{{ outputs.extract_decoding_keys.vars.timestamp }}",
          "base64Str": "{{ outputs.limit.vars.guid }}"
      })

  - id: prepare_decoding_variables
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      gn_art_id = '{{ outputs.map_needed_keys.vars.base64Str }}'
      timestamp = '{{ outputs.map_needed_keys.vars.timestamp }}'
      signature = '{{ outputs.map_needed_keys.vars.signature }}'

      articles_req = [
          "Fbv4je",
          '["garturlreq",[["X","X",["X","X"],null,null,1,1,"US:en",null,1,null,null,null,null,null,0,1],"X","X",1,[1,1,1],1,1,null,0,0,null,0],"{gn_art_id}",{timestamp},"{signature}"]'.format(
              gn_art_id=gn_art_id,
              timestamp=timestamp,
              signature=signature
          ),
      ]

      f_req = json.dumps([[articles_req]])

      Kestra.outputs({"f_req": f_req})

  - id: call_decoding_url
    type: io.kestra.plugin.core.http.Request
    uri: "https://news.google.com/_/DotsSplashUi/data/batchexecute"
    method: POST
    contentType: application/x-www-form-urlencoded
    headers:
      Content-Type: "application/x-www-form-urlencoded;charset=UTF-8"
      User-Agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
      Referer: "https://www.google.com/"
    body: "f.req={{ outputs.prepare_decoding_variables.vars.f_req }}"

  - id: decoded_url
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      raw_data = '{{ outputs.call_decoding_url.body }}'

      # Parse the nested response structure from Google's batchexecute
      # The response contains multiple lines; the payload is after the first blank line
      parts = raw_data.split("\n\n")
      if len(parts) > 1:
          payload = json.loads(parts[1])
          inner = json.loads(payload[0][2])
          article_url = inner[1]
      else:
          article_url = ""

      Kestra.outputs({"google_news_url": article_url})

  - id: aggregate_results_in_a_single_object
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      # Aggregate all decoded URLs into a single list
      urls = []  # TODO: collect from all loop iterations
      urls.append('{{ outputs.decoded_url.vars.google_news_url }}')
      Kestra.outputs({"decodedUrls": json.dumps(urls)})

extend:
  title: Extract and Decode Google News RSS Article Links
  metaTitle: Decode Google News RSS to Clean URLs
  shortDescription: >-
    Fetch Google News RSS feeds, extract encoded article URLs, decode them
    through Google's batch endpoint, and output clean direct links.
  description: |
    **Turn opaque Google News RSS links into clean, direct article URLs you can store, analyze, or republish.**

    1. A `io.kestra.plugin.core.http.Request` task fetches the Google News RSS feed for a configured language and region
    2. A `io.kestra.plugin.scripts.python.Script` task limits the number of items to process, keeping API usage reasonable
    3. A `io.kestra.plugin.core.http.Request` task retrieves the encoded news page for each item to extract decoding keys
    4. A `io.kestra.plugin.scripts.python.Script` task parses the HTML response to extract the signature and timestamp attributes needed for decoding
    5. A `io.kestra.plugin.scripts.python.Script` task maps the signature, timestamp, and base64 article ID into a clean structure
    6. A `io.kestra.plugin.scripts.python.Script` task builds the batch-execute request payload required by Google's decoding endpoint
    7. A `io.kestra.plugin.core.http.Request` task sends the decoding request to Google's DotsSplashUi batchexecute endpoint
    8. A `io.kestra.plugin.scripts.python.Script` task parses the response to extract the final decoded article URL
    9. A `io.kestra.plugin.scripts.python.Script` task aggregates all decoded URLs into a single output list

    Ideal for:
    - **Journalists and newsrooms** who need machine-readable article links from Google News for monitoring or archival
    - **Content aggregators** building automated news pipelines that require clean source URLs
    - **Data analysts** researching news coverage patterns who need direct links rather than Google redirect wrappers
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: >-
    Fetch Google News RSS, decode the encoded article URLs via Google's batch
    endpoint, and produce clean direct links ready for downstream processing.

