flows/hightouch-staging-to-prod-approval.yaml
id: hightouch-staging-to-prod-approval
namespace: company.team
description: |
  Promote a Hightouch sync from staging to production with human review.
  Run the staging sync, post an Adaptive Card to Microsoft Teams that a
  production sync is waiting for approval, pause for a reviewer to read
  the staging run's row counts, then fire the production sync. The
  reviewer's identity and approval timestamp are stored in execution
  history automatically.

inputs:
  - id: staging_sync_id
    type: INT
    description: Hightouch sync ID for the staging destination.
  - id: production_sync_id
    type: INT
    description: Hightouch sync ID for the production destination.
  - id: approval_timeout
    type: DURATION
    defaults: PT4H
    description: How long to wait for the approval before timing out.

tasks:
  - id: run_staging
    type: io.kestra.plugin.hightouch.Sync
    description: Run the Hightouch sync against the staging destination.
    token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
    syncId: "{{ inputs.staging_sync_id }}"
    wait: true

  - id: notify_approval
    type: io.kestra.plugin.microsoft365.teams.TeamsIncomingWebhook
    description: Tell the data team a production sync is waiting for approval.
    url: "{{ secret('TEAMS_WEBHOOK_URL') }}"
    payload: |
      {
        "type": "message",
        "attachments": [
          {
            "contentType": "application/vnd.microsoft.card.adaptive",
            "content": {
              "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
              "type": "AdaptiveCard",
              "version": "1.4",
              "body": [
                {
                  "type": "TextBlock",
                  "size": "Large",
                  "weight": "Bolder",
                  "text": "Hightouch sync awaiting approval"
                },
                {
                  "type": "TextBlock",
                  "text": "Staging Hightouch run {{ outputs.run_staging.runId }} complete. Review row counts before promoting to production (execution {{ execution.id }}).",
                  "wrap": true
                }
              ]
            }
          }
        ]
      }

  - id: approve_production
    type: io.kestra.plugin.core.flow.Pause
    description: Wait for a human to approve the production Hightouch sync.
    pauseDuration: "{{ inputs.approval_timeout }}"

  - id: run_production
    type: io.kestra.plugin.hightouch.Sync
    description: Fire the production Hightouch sync after approval.
    token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
    syncId: "{{ inputs.production_sync_id }}"
    wait: true

  - id: notify_complete
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Confirm the approved production sync is complete.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Hightouch production sync complete after approval — run {{ outputs.run_production.runId }} (execution {{ execution.id }})."
      }

extend:
  shortDescription: Staging Hightouch sync, Teams notification, human approval Pause, then production sync — with row metrics surfaced for review.
  title: Hightouch Staging-to-Production Promotion with Approval Gate
  metaTitle: Hightouch Staging-to-Production Approval Gate
  description: |
    This blueprint governs the promotion of a Hightouch sync from staging to
    production. Kestra runs the staging sync first, posts an Adaptive Card to
    Microsoft Teams that a production sync is waiting for approval, and
    pauses the flow. A named reviewer reads the staging row counts in the
    Pause description and resumes the flow in the Kestra UI; only then does
    the production sync fire. The reviewer's identity and timestamp are
    logged automatically in execution history.

    Prerequisites:
      - Secrets:
        - HIGHTOUCH_API_TOKEN: API bearer token for Hightouch.
        - TEAMS_WEBHOOK_URL: Microsoft Teams incoming webhook URL for the approval notification.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL for the completion notification.
      - Two Hightouch sync IDs: one pointing at a staging destination, one at the production destination.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Configure two Hightouch syncs — one to a staging destination, one to production.
      3. Run the flow with both sync IDs; approve the Pause to fire the production sync.

    Outputs:
      - outputs.run_staging.runId: Staging Hightouch run ID and metrics.
      - outputs.run_production.runId: Production Hightouch run ID, after approval.

    Notes:
      - The Teams notification fires before the Pause so reviewers are paged the moment staging finishes.
      - Pause stores the reviewer identity and approval timestamp in execution history automatically.
      - Increase approval_timeout if your review process takes longer than 4 hours.
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Run staging Hightouch sync, notify Teams, pause for approval, then run production sync — with full reviewer audit.
