flows/hightouch-airbyte-dbt-activation.yaml
id: hightouch-airbyte-dbt-activation
namespace: company.team
description: |
  Run the canonical reverse-ETL chain in one flow: Airbyte ingests raw data,
  dbt transforms it into activation marts, Hightouch syncs the curated rows
  to the destination, and Slack confirms with the Hightouch run ID. Step
  retries do not cascade upstream, so a transient dbt failure never re-runs
  the Airbyte connection.

inputs:
  - id: airbyte_connection_id
    type: STRING
    description: Airbyte connection ID for the ingestion sync.
  - id: hightouch_sync_id
    type: INT
    description: Hightouch sync ID to fire once dbt finishes.

tasks:
  - id: airbyte_sync
    type: io.kestra.plugin.airbyte.connections.Sync
    description: Ingest raw data from the source into the warehouse.
    connectionId: "{{ inputs.airbyte_connection_id }}"
    wait: true

  - id: dbt_build
    type: io.kestra.plugin.dbt.cli.DbtCLI
    description: Build the dbt models that produce the activation marts.
    commands:
      - dbt deps
      - dbt build

  - id: hightouch_sync
    type: io.kestra.plugin.hightouch.Sync
    description: Activate the curated rows to the destination.
    token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
    syncId: "{{ inputs.hightouch_sync_id }}"
    wait: true

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Confirm the chain completed with the Hightouch run ID.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Activation complete — Hightouch run {{ outputs.hightouch_sync.runId }} (execution {{ execution.id }})."
      }

pluginDefaults:
  - type: io.kestra.plugin.airbyte.connections.Sync
    values:
      url: "{{ secret('AIRBYTE_URL') }}"
      token: "{{ secret('AIRBYTE_TOKEN') }}"
  - type: io.kestra.plugin.dbt.cli.DbtCLI
    values:
      taskRunner:
        type: io.kestra.plugin.scripts.runner.docker.Docker
      containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
      namespaceFiles:
        enabled: true

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Slack the team if any step in the chain fails.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Activation chain failed — {{ flow.namespace }}.{{ flow.id }} execution {{ execution.id }}."
      }

extend:
  shortDescription: Airbyte ingests, dbt transforms, Hightouch activates, Slack confirms — the full reverse-ETL chain in one flow.
  title: Airbyte to dbt to Hightouch Activation with Slack Notification
  metaTitle: Airbyte to dbt to Hightouch Activation Chain
  description: |
    This blueprint runs the canonical reverse-ETL chain end-to-end. Airbyte
    ingests raw data into the warehouse, dbt builds the activation marts,
    Hightouch syncs the curated rows to the destination, and Slack confirms
    with the Hightouch run ID. Step retries do not cascade upstream, so a
    transient dbt failure never re-runs the Airbyte connection.

    Prerequisites:
      - Secrets:
        - AIRBYTE_URL: Base URL of your Airbyte instance.
        - AIRBYTE_TOKEN: Bearer token for the Airbyte API.
        - HIGHTOUCH_API_TOKEN: API bearer token for Hightouch.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - A dbt project uploaded as namespace files with profiles configured for your warehouse (the default container image is dbt-bigquery; swap for dbt-snowflake or dbt-postgres as needed).
      - An Airbyte connection ID and a Hightouch sync ID.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Upload your dbt project as namespace files.
      3. Run the flow with the Airbyte connection ID and Hightouch sync ID.

    Outputs:
      - outputs.airbyte_sync.jobId: Airbyte job ID for the ingestion run.
      - outputs.dbt_build: dbt build results, including tests run inline.
      - outputs.hightouch_sync.runId: Hightouch run ID for the activation sync.

    Notes:
      - The chain is sequential: dbt waits for Airbyte to finish, Hightouch waits for dbt to finish.
      - Step retries do not cascade — a dbt retry never re-runs Airbyte, a Hightouch retry never re-runs dbt.
      - Add a Schedule trigger or a Webhook trigger to drive the chain on a cadence or upstream event.
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Airbyte ingests, dbt transforms, Hightouch activates, Slack confirms — the canonical reverse-ETL chain in one Kestra flow.
