flows/hightouch-dbt-test-gate.yaml
id: hightouch-dbt-test-gate
namespace: company.team
description: |
  Never push bad data to a CRM. Build the dbt models, then run dbt test
  against them as a separate task. If any test fails, halt the flow and
  page the on-call. If tests pass, fire the Hightouch sync and confirm
  in Slack with the run ID.

inputs:
  - id: hightouch_sync_id
    type: INT
    description: Hightouch sync ID to activate once dbt tests pass.

tasks:
  - id: dbt_run
    type: io.kestra.plugin.dbt.cli.DbtCLI
    description: Run the dbt models that feed the activation sync.
    commands:
      - dbt deps
      - dbt run

  - id: dbt_test
    type: io.kestra.plugin.dbt.cli.DbtCLI
    description: Run dbt tests; failing tests halt the flow before Hightouch runs.
    commands:
      - dbt test

  - id: hightouch_sync
    type: io.kestra.plugin.hightouch.Sync
    description: Activate the validated rows to the destination.
    token: "{{ secret('HIGHTOUCH_API_TOKEN') }}"
    syncId: "{{ inputs.hightouch_sync_id }}"
    wait: true

  - id: notify_success
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Confirm the sync completed cleanly after tests passed.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "dbt tests passed, Hightouch run {{ outputs.hightouch_sync.runId }} synced (execution {{ execution.id }})."
      }

pluginDefaults:
  - type: io.kestra.plugin.dbt.cli.DbtCLI
    values:
      taskRunner:
        type: io.kestra.plugin.scripts.runner.docker.Docker
      containerImage: ghcr.io/kestra-io/dbt-bigquery:latest
      namespaceFiles:
        enabled: true

errors:
  - id: page_on_quality_failure
    type: io.kestra.plugin.pagerduty.PagerDutyAlert
    description: Page the on-call when data quality tests fail before activation.
    url: https://events.pagerduty.com/v2/enqueue
    payload: |
      {
        "routing_key": "{{ secret('PAGERDUTY_ROUTING_KEY') }}",
        "event_action": "trigger",
        "payload": {
          "summary": "Reverse-ETL halted: dbt tests failed before Hightouch activation (execution {{ execution.id }})",
          "source": "kestra",
          "severity": "warning"
        }
      }

extend:
  shortDescription: Build dbt, run dbt test, activate Hightouch only when tests pass — and page PagerDuty when they don't.
  title: dbt Test Gate Before Hightouch Activation with PagerDuty Alert
  metaTitle: dbt Test Gate Before Hightouch Activation
  description: |
    This blueprint prevents the classic reverse-ETL anti-pattern: pushing bad
    data into customer-facing systems. It runs the dbt models, then runs dbt
    test against them as a separate task. If any test fails, Kestra halts the
    flow and pages PagerDuty so the on-call data engineer can fix the
    regression before any sync touches Salesforce or HubSpot. If tests pass,
    Hightouch syncs and Slack confirms with the run ID.

    Prerequisites:
      - Secrets:
        - HIGHTOUCH_API_TOKEN: API bearer token for Hightouch.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL for the success notification.
        - PAGERDUTY_ROUTING_KEY: PagerDuty Events API v2 routing key for the data-quality page.
      - A dbt project uploaded as namespace files with tests defined on the activation marts.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Upload your dbt project, with tests on the activation marts.
      3. Run the flow with the Hightouch sync ID; PagerDuty fires only if dbt test fails.

    Outputs:
      - outputs.dbt_run: dbt run results for the activation models.
      - outputs.dbt_test: dbt test results.
      - outputs.hightouch_sync.runId: Hightouch run ID for the activation sync (when tests pass).

    Notes:
      - dbt test is a separate task from dbt run, so a successful run with failing tests still halts the flow before Hightouch fires.
      - The errors handler pages PagerDuty; tighten the routing key to the data on-call rotation.
      - Swap dbt-bigquery for dbt-snowflake, dbt-postgres, or any other adapter image as needed.
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Build dbt, run dbt test, activate Hightouch only when tests pass — and page PagerDuty when they fail.
