flows/http-pagination-handler.yaml
id: http-pagination-handler
namespace: company.team

inputs:
  - id: base_url
    type: STRING
    displayName: API Base URL
    description: The initial URL to begin paginating from (must support cursor-based pagination)
    defaults: "https://pokeapi.co/api/v2/pokemon?limit=20"
  - id: delay_seconds
    type: INT
    displayName: Delay between requests (seconds)
    description: Pause duration between page requests to avoid rate limits
    defaults: 1
  - id: max_pages
    type: INT
    displayName: Maximum pages
    description: Safety limit on total pages to fetch (prevents infinite loops)
    defaults: 5

tasks:
  - id: paginate
    type: io.kestra.plugin.scripts.python.Script
    description: Fetch all pages from a paginated API using cursor-based navigation
    dependencies:
      - requests
    script: |
      import requests
      import time
      import json
      from kestra import Kestra

      base_url = "{{ inputs.base_url }}"
      delay = {{ inputs.delay_seconds }}
      max_pages = {{ inputs.max_pages }}

      all_results = []
      next_url = base_url
      page = 0

      while next_url and page < max_pages:
          print(f"Fetching page {page + 1}: {next_url}")
          response = requests.get(next_url)
          response.raise_for_status()
          data = response.json()

          # Collect results - adapt the key name to your API
          # Common patterns: "results", "data", "items", "records"
          if "results" in data:
              all_results.extend(data["results"])
          elif "data" in data:
              all_results.extend(data["data"])
          elif isinstance(data, list):
              all_results.extend(data)

          # Extract next page cursor - adapt to your API
          # Common patterns: "next", "paging.next.link", "cursor", "nextPageToken"
          next_url = data.get("next")

          page += 1
          if next_url and page < max_pages:
              time.sleep(delay)

      Kestra.outputs({
          "total_items": len(all_results),
          "pages_fetched": page,
          "results": all_results
      })

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    description: Log how many items were collected across all pages
    message: "Collected {{ outputs.paginate.vars.total_items }} items across {{ outputs.paginate.vars.pages_fetched }} pages."

extend:
  title: "Handle Pagination in HTTP API Requests with Cursor-Based Navigation"
  metaTitle: "Paginate REST APIs with Kestra — Cursor-Based Extraction"
  shortDescription: >-
    Loop through paginated REST API responses using cursor-based navigation until
    all records are collected. Configurable page limit and rate-limit-safe delays.
  description: |
    **Extract complete datasets from any paginated REST API by following cursor links across pages — collecting all records into a single merged output with configurable safety limits and rate-limit delays.**

    1. A `io.kestra.plugin.scripts.python.Script` task starts at the URL provided via the `base_url` input and enters a while-loop that follows the `next` cursor field from each JSON response
    2. On each iteration, results are extracted from the standard response envelope (`results`, `data`, or a root-level array) and appended to a running list
    3. A configurable `delay_seconds` pause between requests prevents hitting per-second rate limits on the target API
    4. A `max_pages` safety cap terminates the loop if the API returns an unexpectedly large number of pages
    5. A `io.kestra.plugin.core.log.Log` task summarizes total items collected and pages fetched

    The default example uses the public [PokéAPI](https://pokeapi.co) for zero-credential testing, but the same pattern applies directly to:
    - **GitHub REST API** — paginate issues, pull requests, or commits across large repositories (`/repos/{owner}/{repo}/issues?per_page=100`)
    - **Stripe** — list all charges or customers across multiple pages using `starting_after` cursor pagination
    - **HubSpot CRM** — extract full contact or deal lists using `after` cursor tokens from the v3 API
    - **Salesforce** — follow `nextRecordsUrl` to retrieve complete SOQL query result sets
    - **Jira** — paginate issue search results using `startAt` + `maxResults` offset pagination

    To adapt this blueprint to offset-based pagination (instead of cursor-based), replace the `next_url = data.get("next")` line with offset arithmetic: `next_url = base_url + f"&offset={offset}"` and increment `offset` by the page size on each iteration.

    Ideal for:
    - **Data engineers** building ETL pipelines that need to extract complete datasets from APIs with page limits, without writing boilerplate pagination logic from scratch
    - **Analytics teams** syncing full CRM, billing, or issue-tracking data into a data warehouse on a scheduled cadence
    - **Backend developers** integrating with third-party APIs that paginate results and need a reliable, rate-limit-aware extraction loop
  tags:
    - Core
    - Getting Started
  ee: false
  demo: true
  metaDescription: >-
    Loop through any cursor-based REST API in Kestra with a Python while-loop.
    Collects all pages with rate-limit delays and merges results into one dataset.

