flows/image-url-converter.yaml
id: image-url-converter
namespace: company.team
tasks:
  - id: set_image_description
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      Kestra.outputs({
          "description": "Balancing Autonomy and Human Interaction in AI Applications, featuring a person"
      })
  - id: generate_image
    type: io.kestra.plugin.openai.ChatCompletion
    apiKey: "{{ secret('OPENAI_API_KEY') }}"
    model: gpt-4o
    messages:
      - role: system
        content: You are a helpful assistant.
      - role: user
        content: |-
          Create a minimalist professional illustration of {{ outputs.set_image_description.vars.description }} with these specifications:

          1. Visual Style:
          - Modern tech-focused minimalist design
          - Clean, uncluttered composition
          - Professional business aesthetic
          - Soft shadows and subtle depth
          - 2-3 primary colors maximum plus white space

          2. Core Elements:
          - Main icon/symbol representing the subject as focal point
          - Simple supporting elements representing key sections
          - Subtle connecting elements showing relationship
          - Plenty of white space (40% minimum)
          - No text overlay

          3. Technical Requirements:
          - High contrast for clarity
          - Crisp edges and smooth lines
          - Professional lighting from upper left
          - Matte finish
          - Square aspect ratio (1:1)
  - id: upload_img_to_imgbb_for_url
    type: io.kestra.plugin.core.http.Request
    uri: https://api.imgbb.com/1/upload
    method: POST
    params:
      key: "{{ secret('IMGBB_API_KEY') }}"
    contentType: multipart/form-data
  - id: resmushit_image_optimisation
    type: io.kestra.plugin.core.http.Request
    uri: "http://api.resmush.it/ws.php"
    method: GET
    params:
      img: "{{ outputs.upload_img_to_imgbb_for_url.body.data.url }}"
  - id: store_optimised_image_imgbb
    type: io.kestra.plugin.core.http.Request
    uri: https://api.imgbb.com/1/upload
    method: POST
    params:
      key: "{{ secret('IMGBB_API_KEY') }}"
    contentType: multipart/form-data

extend:
  title: Convert and Compress Image Files to Hosted URLs
  metaTitle: Convert and Compress Images to Hosted URLs
  shortDescription: >-
    Upload images to ImgBB for URL hosting, then optimize file size with
    ReSmush.it. Optionally generate images with OpenAI before processing.
  description: |
    **Upload, host, and compress images into optimized URLs ready for web use.**

    1. A `io.kestra.plugin.scripts.python.Script` task defines the image description for AI generation
    2. A `io.kestra.plugin.openai.ChatCompletion` task optionally generates a new image from a text prompt using OpenAI
    3. A `io.kestra.plugin.core.http.Request` task uploads the image to ImgBB, returning a publicly accessible URL
    4. A second `io.kestra.plugin.core.http.Request` task sends the hosted image to ReSmush.it for lossless compression
    5. A final `io.kestra.plugin.core.http.Request` task re-uploads the optimized image to ImgBB for a permanent compressed URL

    Ideal for:
    - **Content creators** who need lightweight, web-ready image URLs for blogs or social media
    - **Developers** building pipelines that generate AI images and need hosted, optimized output
    - **Marketing teams** reducing page load times by compressing campaign images before embedding
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: >-
    Upload images to ImgBB for hosting, compress them with ReSmush.it, and get
    optimized URLs. Supports optional AI image generation via OpenAI.

