flows/incident-response-jira-slack.yaml
id: incident-response-jira-slack
namespace: company.team

inputs:
  - id: service
    type: STRING
    displayName: Affected service
    description: Name of the service or system experiencing the incident
    defaults: "payment-api"
  - id: severity
    type: SELECT
    displayName: Severity
    description: Incident severity level
    values:
      - P1 - Critical
      - P2 - High
      - P3 - Medium
      - P4 - Low
    defaults: "P2 - High"
  - id: description
    type: STRING
    displayName: Incident description
    description: Brief description of the incident and its impact
    defaults: "Service returning 500 errors with elevated error rate above 10%"
  - id: jira_project_key
    type: STRING
    displayName: Jira project key
    description: The Jira project key to create the incident ticket under
    defaults: "OPS"
  - id: slack_channel
    type: STRING
    displayName: Slack channel
    description: Slack channel ID or name to notify the on-call team
    defaults: "#oncall"

tasks:
  - id: create_jira_ticket
    type: io.kestra.plugin.jira.issues.Create
    baseUrl: "https://{{ secret('JIRA_DOMAIN') }}.atlassian.net"
    username: "{{ secret('JIRA_USERNAME') }}"
    password: "{{ secret('JIRA_API_TOKEN') }}"
    projectKey: "{{ inputs.jira_project_key }}"
    summary: "[{{ inputs.severity }}] Incident: {{ inputs.service }}"
    description: |
      *Incident Report*

      *Service:* {{ inputs.service }}
      *Severity:* {{ inputs.severity }}
      *Reported at:* {{ now() | date('yyyy-MM-dd HH:mm:ss') }} UTC

      *Description:*
      {{ inputs.description }}

      ---
      _Created automatically by Kestra Incident Response workflow._
    issueTypeId: "10001"
    labels:
      - incident
      - "{{ inputs.severity | lower | replace(' ', '-') | replace(':', '') }}"

  - id: alert_slack
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": ":rotating_light: *Incident Alert, {{ inputs.severity }}*",
        "blocks": [
          {
            "type": "header",
            "text": {
              "type": "plain_text",
              "text": ":rotating_light: Incident Alert, {{ inputs.severity }}"
            }
          },
          {
            "type": "section",
            "fields": [
              {"type": "mrkdwn", "text": "*Service:*\n{{ inputs.service }}"},
              {"type": "mrkdwn", "text": "*Severity:*\n{{ inputs.severity }}"},
              {"type": "mrkdwn", "text": "*Jira Ticket:*\n{{ outputs.create_jira_ticket.key }}"},
              {"type": "mrkdwn", "text": "*Reported:*\n{{ now() | date('yyyy-MM-dd HH:mm') }} UTC"}
            ]
          },
          {
            "type": "section",
            "text": {
              "type": "mrkdwn",
              "text": "*Description:*\n{{ inputs.description }}"
            }
          }
        ]
      }

  - id: generate_timeline_report
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      from datetime import datetime
      from kestra import Kestra

      now = datetime.utcnow().strftime("%Y-%m-%d %H:%M:%S UTC")
      jira_key = "{{ outputs.create_jira_ticket.key }}"
      service = "{{ inputs.service }}"
      severity = "{{ inputs.severity }}"
      description = """{{ inputs.description }}"""

      report = f"""INCIDENT TIMELINE REPORT
      ========================
      Generated: {now}
      Jira Ticket: {jira_key}

      SERVICE: {service}
      SEVERITY: {severity}

      DESCRIPTION:
      {description}

      TIMELINE:
      {now} - Incident detected and reported
      {now} - Jira ticket {jira_key} created
      {now} - On-call team notified via Slack

      POSTMORTEM PLACEHOLDERS:
      Root Cause:      [TO BE FILLED]
      Impact:          [TO BE FILLED]
      Resolution:      [TO BE FILLED]
      Resolved At:     [TO BE FILLED]
      Action Items:    [TO BE FILLED]
      """

      Kestra.outputs({"report_content": report})

  - id: log_incident_to_postgres
    type: io.kestra.plugin.jdbc.postgresql.Queries
    fetchType: NONE
    sql: |
      INSERT INTO incident_log (jira_key, service, severity, description, created_at)
      VALUES (
        '{{ outputs.create_jira_ticket.key }}',
        '{{ inputs.service }}',
        '{{ inputs.severity }}',
        '{{ inputs.description | replace("'", "''") }}',
        NOW()
      )
      ON CONFLICT (jira_key) DO NOTHING;

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql.Queries
    values:
      url: "{{ secret('POSTGRES_URL') }}"
      username: "{{ secret('POSTGRES_USER') }}"
      password: "{{ secret('POSTGRES_PASSWORD') }}"

extend:
  title: Automate Incident Response, Create Jira Tickets, Alert Slack, and Log to Database
  metaTitle: Automate Incident Response with Jira and Kestra
  shortDescription: Open a Jira incident ticket, alert your on-call team in Slack, generate a timeline report, and log every incident to PostgreSQL in one flow.
  description: |
    Automate end-to-end incident response across Jira, Slack, and PostgreSQL. When an incident is declared, this Kestra flow opens a structured Jira ticket, alerts your on-call team in Slack with a rich Block Kit message, generates a timeline and postmortem report, and writes a permanent audit record to a database. It replaces the manual, error-prone scramble of copy-pasting incident details across tools with a single reproducible, observable workflow that keeps ticketing, alerting, and audit logging consistent every time.

    ## How it works

    1. The flow takes five inputs: `service`, `severity` (a `SELECT` of P1 to P4), `description`, `jira_project_key`, and `slack_channel`.
    2. `create_jira_ticket` (`io.kestra.plugin.jira.issues.Create`) opens an issue in the target project with a severity-prefixed summary, a formatted incident report body, a UTC timestamp, and `incident` plus severity-derived labels. It returns the ticket key for downstream tasks.
    3. `alert_slack` (`io.kestra.plugin.slack.notifications.SlackIncomingWebhook`) posts a Block Kit alert to the on-call channel, embedding the service, severity, the Jira key from `outputs.create_jira_ticket.key`, and the description.
    4. `generate_timeline_report` (`io.kestra.plugin.scripts.python.Script`) builds an incident timeline document with event timestamps and postmortem placeholders, exposed as a Kestra output.
    5. `log_incident_to_postgres` (`io.kestra.plugin.jdbc.postgresql.Queries`) appends an audit row to the `incident_log` table with an `ON CONFLICT DO NOTHING` guard so reruns stay idempotent.

    ## What you get

    - A consistently structured Jira ticket for every incident, labeled by severity
    - An instant, scannable Slack alert to the on-call channel with the live ticket key
    - A ready-to-edit timeline and postmortem report generated automatically
    - A durable PostgreSQL audit trail for SLA reporting and retrospectives

    ## Who it's for

    - SRE and DevOps teams standardizing incident response
    - On-call engineers who need ticketing and alerting handled in one step
    - Engineering and compliance leads who need an auditable incident record

    ## Why orchestrate this with Kestra

    Jira, Slack, and Postgres each solve one slice of incident response, but none can coordinate the others. Kestra ties them into one declarative YAML flow where the Jira ticket key flows into the Slack alert and the database insert. You get event triggers (call this from a monitoring webhook or alert), automatic retries on transient API failures, full execution lineage across all four tasks, and a single source of truth no individual tool's scheduler can provide.

    ## Prerequisites

    - A Kestra instance (local or cloud)
    - A Jira Cloud project and an API token
    - A Slack incoming webhook URL for your on-call channel
    - A reachable PostgreSQL database with an `incident_log` table

    ### Secrets

    - `JIRA_DOMAIN`
    - `JIRA_USERNAME`
    - `JIRA_API_TOKEN`
    - `SLACK_WEBHOOK_URL`
    - `POSTGRES_URL`
    - `POSTGRES_USER`
    - `POSTGRES_PASSWORD`

    ## Quick start

    1. Add the secrets above to your Kestra instance.
    2. Create the `incident_log` table (columns: `jira_key`, `service`, `severity`, `description`, `created_at`) with a unique constraint on `jira_key`.
    3. Add the flow to a namespace and run it, adjusting the input defaults to match your service and Jira project.
    4. Confirm the Jira ticket, Slack alert, timeline output, and database row.

    ## How to extend

    - Add a webhook or alert trigger so the flow fires automatically from your monitoring stack
    - Branch on `severity` to escalate P1 incidents to PagerDuty or page a manager
    - Push the generated timeline report to Google Drive, S3, or a wiki
    - Chain a postmortem template generator once the incident is resolved

    ## Links

    - [Jira plugin documentation](https://kestra.io/plugins/plugin-jira)
    - [Slack plugin documentation](https://kestra.io/plugins/plugin-notifications)
    - [PostgreSQL plugin documentation](https://kestra.io/plugins/plugin-jdbc-postgres)
  tags:
    - Infrastructure
    - Business
  ee: false
  demo: false
  metaDescription: Automate incident response with Kestra. Create a Jira ticket, send a Slack alert, generate an incident timeline, and log to PostgreSQL for audit.
