flows/jenkins-terraform-ansible-chain.yaml
id: jenkins-terraform-ansible-chain
namespace: company.team
description: |
  Run the canonical cross-stack pipeline in one flow: Terraform provisions
  the test fleet, Ansible applies the baseline, then Kestra triggers a
  Jenkins test job and polls Jenkins's lastBuild endpoint until the test
  reaches a terminal result. Discord reports the chain outcome.

inputs:
  - id: jenkins_url
    type: STRING
    defaults: https://jenkins.example.com
    description: Base URL of the Jenkins instance.
  - id: jenkins_test_job
    type: STRING
    description: Jenkins job name for the test stage.

tasks:
  - id: terraform_apply
    type: io.kestra.plugin.terraform.cli.TerraformCLI
    description: Provision the test fleet with a small stub configuration.
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: hashicorp/terraform:latest
    inputFiles:
      main.tf: |
        terraform {
          required_providers {
            random = { source = "hashicorp/random" }
          }
        }
        resource "random_pet" "host" {}
        output "host_name" {
          value = random_pet.host.id
        }
    beforeCommands:
      - terraform init
    commands:
      - terraform apply -auto-approve

  - id: ansible_configure
    type: io.kestra.plugin.ansible.cli.AnsibleCLI
    description: Apply the baseline playbook against the provisioned fleet.
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: cytopia/ansible:latest
    inputFiles:
      inventory.ini: |
        [test]
        localhost ansible_connection=local
      playbook.yml: |
        ---
        - name: Apply baseline
          hosts: test
          gather_facts: false
          tasks:
            - name: Confirm reachability
              ansible.builtin.ping:
    commands:
      - ansible-playbook -i inventory.ini playbook.yml

  - id: jenkins_test
    type: io.kestra.plugin.jenkins.JobBuild
    description: Trigger the Jenkins test job against the configured fleet.
    serverUrl: "{{ inputs.jenkins_url }}"
    jobName: "{{ inputs.jenkins_test_job }}"
    username: "{{ secret('JENKINS_USERNAME') }}"
    apiToken: "{{ secret('JENKINS_API_TOKEN') }}"

  - id: wait_for_jenkins
    type: io.kestra.plugin.core.flow.Sequential
    description: Poll Jenkins lastBuild until the test job reaches a terminal result.
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 80
    tasks:
      - id: test_status
        type: io.kestra.plugin.core.http.Request
        uri: "{{ inputs.jenkins_url }}/job/{{ inputs.jenkins_test_job }}/lastBuild/api/json"
        method: GET
        options:
          auth:
            type: BASIC
            username: "{{ secret('JENKINS_USERNAME') }}"
            password: "{{ secret('JENKINS_API_TOKEN') }}"
      - id: assert_test_done
        type: io.kestra.plugin.core.execution.Assert
        description: Re-runs the polling block until the Jenkins test build has a terminal result.
        conditions:
          - "{{ (outputs.test_status.body.result ?? '') != '' }}"

  - id: notify
    type: io.kestra.plugin.discord.DiscordIncomingWebhook
    description: Report the cross-stack chain outcome to Discord.
    url: "{{ secret('DISCORD_WEBHOOK_URL') }}"
    payload: |
      {
        "content": "Cross-stack pipeline complete: Terraform + Ansible + Jenkins (execution {{ execution.id }})."
      }

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.discord.DiscordIncomingWebhook
    description: Alert Discord if any step in the chain fails.
    url: "{{ secret('DISCORD_WEBHOOK_URL') }}"
    payload: |
      {
        "content": "Cross-stack pipeline failed (execution {{ execution.id }})."
      }

extend:
  shortDescription: Provision with Terraform, configure with Ansible, then trigger a Jenkins test job, poll it to completion, and report to Discord.
  title: Cross-Stack Pipeline with Terraform, Ansible, and Jenkins
  metaTitle: Terraform, Ansible, Jenkins Pipeline in Kestra
  metaDescription: Orchestrate a Terraform, Ansible, and Jenkins pipeline in Kestra. Provision a fleet, apply a playbook, run a Jenkins test, poll to completion, and alert Discord.
  description: |
    Stitch infrastructure provisioning, configuration management, and CI testing into one governed pipeline. This blueprint chains Terraform, Ansible, and Jenkins in a single Kestra flow: Terraform provisions a test fleet, Ansible applies the baseline configuration, Kestra triggers a Jenkins test job, then polls Jenkins until the build reaches a terminal result and reports the outcome to Discord. It solves the classic cross-tool handoff problem, where Terraform, Ansible, and Jenkins each have their own runner and scheduler but nothing coordinates them end to end or surfaces a single pass or fail signal.

    ## How it works
    1. `terraform_apply` (`io.kestra.plugin.terraform.cli.TerraformCLI`) runs `terraform init` then `terraform apply -auto-approve` inside a `hashicorp/terraform` Docker task runner to provision the test fleet.
    2. `ansible_configure` (`io.kestra.plugin.ansible.cli.AnsibleCLI`) runs `ansible-playbook` against the inventory inside a `cytopia/ansible` Docker task runner to apply the baseline.
    3. `jenkins_test` (`io.kestra.plugin.jenkins.JobBuild`) triggers the configured Jenkins test job using the `serverUrl` and `jobName` inputs with Basic Auth.
    4. `wait_for_jenkins` (`io.kestra.plugin.core.flow.Sequential`) wraps an HTTP `test_status` call to the Jenkins `lastBuild/api/json` endpoint and an `assert_test_done` check (`io.kestra.plugin.core.execution.Assert`). A `constant` retry (`PT15S`, up to 80 attempts) re-runs the block until `result` is non-empty.
    5. `notify` (`io.kestra.plugin.discord.DiscordIncomingWebhook`) posts the chain outcome to Discord; an `alert_on_failure` error handler posts a failure message if any step fails.

    ## What you get
    - A single execution that provisions, configures, tests, and reports across three tools.
    - Reliable polling of Jenkins via `lastBuild` rather than a fragile fixed wait.
    - Per-step retries that do not cascade: an Ansible retry never re-runs Terraform, and a Jenkins poll retry never re-runs Ansible.
    - Discord notifications on both success and failure.

    ## Who it's for
    - Platform and DevOps engineers coordinating IaC, config management, and CI.
    - SRE teams that want one auditable pass or fail signal across the stack.
    - Anyone replacing brittle shell glue between Terraform, Ansible, and Jenkins.

    ## Why orchestrate this with Kestra
    Terraform, Ansible, and Jenkins each ship their own runner and scheduler, but none of them coordinates the others or gives you one lineage view across the whole chain. Kestra adds event and schedule triggers, per-step retries (the `wait_for_jenkins` block polls Jenkins safely), a single execution timeline with full lineage, and declarative YAML you can version and review. The gap Jenkins's own scheduler cannot fill: it has no awareness of the Terraform and Ansible steps that must succeed first, and no native way to gate, retry, and report on them as one unit.

    ## Prerequisites
    - A reachable Jenkins instance and a test job name (provided as flow inputs).
    - A Docker-capable worker (the task runner pulls `hashicorp/terraform` and `cytopia/ansible` images).

    ### Secrets
    - `JENKINS_USERNAME`: Jenkins user for Basic Auth.
    - `JENKINS_API_TOKEN`: Jenkins API token.
    - `DISCORD_WEBHOOK_URL`: Discord incoming webhook URL.

    ## Quick start
    1. Add the secrets above to your Kestra namespace.
    2. Set the `jenkins_url` input and provide the `jenkins_test_job` name.
    3. Replace the stub Terraform (`random_pet`) and Ansible (localhost ping) content with your real configuration.
    4. Run the flow and watch the chain outcome land in Discord.

    ## How to extend
    - Drop Terraform or Ansible to fit your stack; the chain works with any subset.
    - Add a schedule or webhook trigger to run the pipeline on demand or on a cadence.
    - Gate the Discord notification on the test result by adding an `If` task between `wait_for_jenkins` and `notify`.
    - For foldered Jenkins jobs, adapt the `jobName` and the `lastBuild` URI path accordingly.

    ## Links
    - [Terraform plugin docs](https://kestra.io/plugins/plugin-terraform)
    - [Ansible plugin docs](https://kestra.io/plugins/plugin-ansible)
    - [Jenkins plugin docs](https://kestra.io/plugins/plugin-jenkins)
    - [Terraform orchestration](https://kestra.io/orchestration/terraform)
    - [Ansible orchestration](https://kestra.io/orchestration/ansible)
    - [Jenkins orchestration](https://kestra.io/orchestration/jenkins)
  tags:
    - Infrastructure
  ee: false
  demo: false
