flows/jenkins-event-driven-job.yaml
id: jenkins-event-driven-job
namespace: company.team
description: |
  Trigger a Jenkins job from a Kestra webhook (or any other Kestra trigger),
  poll the Jenkins `lastBuild` endpoint every 15 seconds until the build
  reaches a terminal result, then notify Slack with the outcome.

inputs:
  - id: job_name
    type: STRING
    description: Jenkins job name. For foldered jobs, see the note in the description.
  - id: jenkins_url
    type: STRING
    defaults: https://jenkins.example.com
    description: Base URL of the Jenkins instance.

triggers:
  - id: on_event
    type: io.kestra.plugin.core.trigger.Webhook
    description: Any HTTP source posts here to fire the Jenkins job.
    key: "{{ secret('JENKINS_TRIGGER_KEY') }}"

tasks:
  - id: enqueue_build
    type: io.kestra.plugin.jenkins.JobBuild
    description: Enqueue the Jenkins job with parameters from the trigger body.
    serverUrl: "{{ inputs.jenkins_url }}"
    jobName: "{{ inputs.job_name }}"
    username: "{{ secret('JENKINS_USERNAME') }}"
    apiToken: "{{ secret('JENKINS_API_TOKEN') }}"
    parameters:
      branch: "{{ trigger.body.branch ?? 'main' }}"
      triggered_by: kestra

  - id: wait_for_completion
    type: io.kestra.plugin.core.flow.Sequential
    description: Poll the Jenkins lastBuild API every 15 seconds until the build has a terminal result.
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 80
    tasks:
      - id: last_build
        type: io.kestra.plugin.core.http.Request
        uri: "{{ inputs.jenkins_url }}/job/{{ inputs.job_name }}/lastBuild/api/json"
        method: GET
        options:
          auth:
            type: BASIC
            username: "{{ secret('JENKINS_USERNAME') }}"
            password: "{{ secret('JENKINS_API_TOKEN') }}"
      - id: assert_terminal
        type: io.kestra.plugin.core.execution.Assert
        description: Fails (and triggers a retry of the Sequential block) until the Jenkins build has a terminal result.
        conditions:
          - "{{ (outputs.last_build.body.result ?? '') != '' }}"

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Confirm the build outcome to the team channel.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Jenkins job {{ inputs.job_name }} finished with result {{ outputs.last_build.body.result }} (execution {{ execution.id }})."
      }

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Alert Slack if any step in the flow fails.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Jenkins flow failed for {{ inputs.job_name }} (execution {{ execution.id }})."
      }

extend:
  shortDescription: Trigger a Jenkins job from a webhook, poll the lastBuild API until terminal, and post the outcome to Slack.
  title: Event-Driven Jenkins Job with Slack Status Notification
  metaTitle: Event-Driven Jenkins Job with Slack Notification
  description: |
    This blueprint fires a Jenkins job from a webhook event (or any other
    Kestra trigger) and waits for it to complete. Build parameters come
    from the trigger body, then Kestra polls Jenkins's lastBuild endpoint
    every 15 seconds until the build reaches a terminal state. A Slack
    notification reports the outcome.

    Why the lastBuild HTTP polling instead of the JobInfo plugin task:
    the Kestra Jenkins plugin's JobBuild does not return the queued build
    number, and JobInfo requires a known build number as input. Polling
    lastBuild via core.http.Request is the working pattern until the
    plugin grows a native trigger-and-wait task.

    Prerequisites:
      - Secrets:
        - JENKINS_USERNAME: Jenkins user for Basic Auth.
        - JENKINS_API_TOKEN: Jenkins API token.
        - JENKINS_TRIGGER_KEY: key guarding the Kestra webhook trigger.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - A reachable Jenkins instance and a job name.

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. POST to the webhook URL with build parameters in the body (e.g., a `branch` field).
      3. Watch Slack for the outcome notification.

    Outputs:
      - outputs.enqueue_build.status: HTTP status returned by Jenkins on enqueue.
      - outputs.wait_for_completion: results of the polling block, including the final lastBuild response.

    Notes:
      - Polling uses a constant 15s interval and up to 80 attempts (20-minute ceiling). Tighten or widen via the retry block.
      - For foldered Jenkins jobs (e.g., team/project/deploy), set jenkins_url to the full path through the folders by URL-segmenting: `https://jenkins.example.com/job/team/job/project` and jobName to the leaf only.
      - The polling targets the latest build on the job. If multiple flows trigger the same job concurrently, polling may see a sibling build's result first. For high-concurrency setups, capture lastBuild.number before enqueue and add a second condition asserting the current lastBuild.number is greater.
      - Add an If task after wait_for_completion to branch on outputs.wait_for_completion result (SUCCESS / FAILURE / UNSTABLE / ABORTED).
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Trigger a Jenkins job from a Kestra webhook, poll the lastBuild API until terminal, then post the result to Slack.
