flows/jenkins-terraform-ansible-chain.yaml
id: jenkins-terraform-ansible-chain
namespace: company.team
description: |
  Run the canonical cross-stack pipeline in one flow: Terraform provisions
  the test fleet, Ansible applies the baseline, then Kestra triggers a
  Jenkins test job and waits for it to finish. Discord reports the chain
  outcome. Step retries stay local, so an Ansible retry never re-runs
  Terraform.

inputs:
  - id: jenkins_url
    type: STRING
    defaults: https://jenkins.example.com
    description: Base URL of the Jenkins instance.
  - id: jenkins_test_job
    type: STRING
    description: Jenkins job path for the test stage.

tasks:
  - id: terraform_apply
    type: io.kestra.plugin.terraform.cli.TerraformCLI
    description: Provision the test fleet with a small stub configuration.
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: hashicorp/terraform:latest
    inputFiles:
      main.tf: |
        terraform {
          required_providers {
            random = { source = "hashicorp/random" }
          }
        }
        resource "random_pet" "host" {}
        output "host_name" {
          value = random_pet.host.id
        }
    beforeCommands:
      - terraform init
    commands:
      - terraform apply -auto-approve

  - id: ansible_configure
    type: io.kestra.plugin.ansible.cli.AnsibleCLI
    description: Apply the baseline playbook against the provisioned fleet.
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: cytopia/ansible:latest
    inputFiles:
      inventory.ini: |
        [test]
        localhost ansible_connection=local
      playbook.yml: |
        ---
        - name: Apply baseline
          hosts: test
          gather_facts: false
          tasks:
            - name: Confirm reachability
              ansible.builtin.ping:
    commands:
      - ansible-playbook -i inventory.ini playbook.yml

  - id: jenkins_test
    type: io.kestra.plugin.jenkins.JobBuild
    description: Trigger the Jenkins test job against the configured fleet.
    serverUrl: "{{ inputs.jenkins_url }}"
    jobName: "{{ inputs.jenkins_test_job }}"
    username: "{{ secret('JENKINS_USERNAME') }}"
    apiToken: "{{ secret('JENKINS_API_TOKEN') }}"

  - id: wait_for_jenkins
    type: io.kestra.plugin.core.flow.Sequential
    description: Poll Jenkins until the test job reaches a terminal result.
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 80
    tasks:
      - id: test_status
        type: io.kestra.plugin.jenkins.JobInfo
        serverUrl: "{{ inputs.jenkins_url }}"
        jobName: "{{ inputs.jenkins_test_job }}"
        username: "{{ secret('JENKINS_USERNAME') }}"
        apiToken: "{{ secret('JENKINS_API_TOKEN') }}"
      - id: assert_test_done
        type: io.kestra.plugin.core.execution.Assert
        description: Re-runs the polling block until the Jenkins test result is set.
        conditions:
          - "{{ (outputs.test_status.result ?? '') != '' }}"

  - id: notify
    type: io.kestra.plugin.discord.DiscordIncomingWebhook
    description: Report the cross-stack chain outcome to Discord.
    url: "{{ secret('DISCORD_WEBHOOK_URL') }}"
    payload: |
      {
        "content": "Cross-stack pipeline complete: Terraform + Ansible + Jenkins (execution {{ execution.id }})."
      }

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.discord.DiscordIncomingWebhook
    description: Alert Discord if any step in the chain fails.
    url: "{{ secret('DISCORD_WEBHOOK_URL') }}"
    payload: |
      {
        "content": "Cross-stack pipeline failed (execution {{ execution.id }})."
      }

extend:
  shortDescription: Provision with Terraform, configure with Ansible, then trigger a Jenkins test and wait for it, with Discord notifications.
  title: Cross-Stack Pipeline with Terraform, Ansible, and Jenkins
  metaTitle: Terraform + Ansible + Jenkins Cross-Stack Pipeline
  description: |
    This blueprint runs the canonical cross-stack pipeline. Terraform
    provisions the test fleet, Ansible configures it, Kestra triggers a
    Jenkins test job and polls until the test reaches a terminal result,
    then Discord reports the chain outcome. Step retries do not cascade:
    an Ansible retry never re-runs Terraform, and a Jenkins retry never
    re-runs Ansible.

    Prerequisites:
      - Secrets:
        - JENKINS_USERNAME: Jenkins user for Basic Auth.
        - JENKINS_API_TOKEN: Jenkins API token.
        - DISCORD_WEBHOOK_URL: Discord incoming webhook URL.
      - A reachable Jenkins instance and a job path for the test stage.
      - A Docker-capable worker (the task runner pulls hashicorp/terraform and cytopia/ansible images).

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Replace the stub Terraform and Ansible inline content with your real configuration.
      3. Provide the Jenkins test job path as a flow input.

    Outputs:
      - outputs.terraform_apply: Terraform apply results.
      - outputs.ansible_configure: Ansible playbook results.
      - outputs.jenkins_test.status: HTTP status from Jenkins on test enqueue.
      - outputs.wait_for_jenkins: polling block result, including the final test JSON.

    Notes:
      - The Terraform and Ansible content here are stubs (a random_pet output and a localhost ping). Swap them for your real configuration.
      - Drop Terraform or Ansible to fit your stack; the chain works with any subset.
      - To gate the Discord notification on the test result, add an If task between wait_for_jenkins and notify.
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Provision with Terraform, configure with Ansible, then trigger a Jenkins test job and wait for it, with Discord reporting.
