flows/k8s-namespace-logs-and-events.yaml
id: k8s-namespace-logs-and-events
namespace: system

description: Fetch logs from all pods in a namespace within a time window and collect events

inputs:
  - id: namespace
    type: STRING
    defaults: kestra

  - id: since
    type: STRING
    defaults: 1h # examples: 10m, 30m, 1h, 24h

tasks:
  - id: get_pods
    type: io.kestra.plugin.kubernetes.kubectl.Get
    description: Get all pods in namespace
    connection:
      masterUrl: "{{ secret('masterUrl') }}"
      clientCertData: "{{ secret('client.crt') | base64encode }}"
      clientKeyData: "{{ secret('client.key') | base64encode }}"
      caCertData: "{{ secret('ca.crt')| base64encode }}"
      trustCerts: true
    namespace: "{{ inputs.namespace }}"
    resourceType: pods
    fetchType: FETCH

  - id: extract_pod_names
    type: io.kestra.plugin.core.output.OutputValues
    description: Extract pod names from pod metadata
    values:
      pod_names: "{{ outputs.get_pods.metadataItems | jq('[.[].name]') }}"

  - id: fetch_logs_per_pod
    type: io.kestra.plugin.core.flow.ForEach
    description: Loop over pods
    values: "{{  outputs.extract_pod_names.values.pod_names | first }}"
    concurrencyLimit: 5
    tasks:
      - id: fetch_logs
        type: io.kestra.plugin.scripts.shell.Commands
        commands:
          - |
            echo "Fetching logs for pod {{ taskrun.value }}"
            kubectl logs {{ taskrun.value }} \
              -n {{ inputs.namespace }} \
              --since={{ inputs.since }} \
              --all-containers=true \
              --ignore-errors=true \
              --certificate-authority=ca.crt \
              --client-certificate=client.crt \
              --client-key=client.key \
              --server={{ secret('masterUrl') }}

  - id: fetch_events
    type: io.kestra.plugin.scripts.shell.Commands
    description: Fetch namespace events
    commands:
      - |
        echo "Fetching events for namespace {{ inputs.namespace }}"
        kubectl get events \
          -n {{ inputs.namespace }} \
          --sort-by='.lastTimestamp' \
          --certificate-authority=ca.crt \
          --client-certificate=client.crt \
          --client-key=client.key \
          --server={{ secret('masterUrl') }}

pluginDefaults:
  - forced: true
    type: io.kestra.plugin.scripts.shell.Commands
    values:
      containerImage: bitnami/kubectl
      taskRunner: # only for local testing with minikube
        type: io.kestra.plugin.scripts.runner.docker.Docker
        networkMode: host
      inputFiles:
        client.key: "{{ secret('client.key') }}"
        client.crt: "{{ secret('client.crt') }}"
        ca.crt: "{{ secret('ca.crt') }}"

extend:
  shortDescription: "Fetch logs from all pods in a Kubernetes namespace within a time window and collect events"
  title: Fetch logs from all pods in a Kubernetes namespace
  metaTitle: Fetch logs from all pods in a Kubernetes namespace
  description: |
    Fetch logs from all pods in a Kubernetes namespace within a time window and collect events.
  tags:
    - Core
    - Infrastructure
    - System
  ee: false
  demo: false
  metaDescription: Fetch logs and events from all pods in a Kubernetes namespace with Kestra. Automate cluster log collection for debugging, observability, and monitoring.
