flows/klaviyo-campaign-performance-report.yaml
id: klaviyo-campaign-performance-report
namespace: company.marketing

labels:
  team: marketing
  report: klaviyo-weekly


inputs:
  - id: campaign_ids
    type: ARRAY
    itemType: STRING
    description: |
      Klaviyo campaign IDs to include in the weekly performance report. Update
      this list each cycle (or wire a discovery step in front of this flow) so
      the report covers the campaigns that actually sent in the window. The IDs
      below are placeholders.
    defaults:
      - "01HXXXXXXXXXXXXXXXXXXXXXXX"
  - id: statistics
    type: ARRAY
    itemType: STRING
    description: |
      Klaviyo campaign-values statistics to request from the reporting API.
      These are the real performance KPIs that drive the report.
    defaults:
      - opens
      - open_rate
      - clicks
      - click_rate
      - delivered
      - bounced
      - unsubscribes
      - conversion_value
  - id: conversion_metric_id
    type: STRING
    description: |
      Klaviyo conversion metric ID used by the campaign-values report (for
      example the "Placed Order" metric ID from your account). Required by the
      reporting endpoint to attribute revenue. Replace the placeholder.
    defaults: "RESH2Z"

pluginDefaults:
  - type: io.kestra.plugin.klaviyo
    values:
      apiKey: "{{ secret('KLAVIYO_API_KEY') }}"
  - type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    values:
      url: "{{ secret('SLACK_WEBHOOK_URL') }}"

variables:
  window_end: "{{ (trigger.date ?? execution.startDate) | date('yyyy-MM-dd') }}"
  window_start: "{{ (trigger.date ?? execution.startDate) | dateAdd(-7, 'DAYS') | date('yyyy-MM-dd') }}"

tasks:
  - id: get_campaigns
    type: io.kestra.plugin.klaviyo.campaign.Get
    description: Fetch the selected campaigns so the report can show name and status per ID.
    campaignIds: "{{ inputs.campaign_ids }}"
    fetchType: FETCH
    retry:
      type: constant
      interval: PT30S
      maxAttempt: 4
    timeout: PT10M

  - id: campaign_values_report
    type: io.kestra.plugin.core.http.Request
    description: |
      Pull real per-campaign KPIs (opens, clicks, delivered, revenue) from the
      Klaviyo Campaign Values Reporting API for the report window. This is the
      data that makes the report a performance report rather than a row count.
    uri: https://a.klaviyo.com/api/campaign-values-reports
    method: POST
    contentType: application/json
    headers:
      Klaviyo-API-Key: "{{ secret('KLAVIYO_API_KEY') }}"
      revision: "2024-10-15"
      accept: application/json
    body: |
      {{ {
        "data": {
          "type": "campaign-values-report",
          "attributes": {
            "statistics": inputs.statistics,
            "timeframe": {
              "start": render(vars.window_start) ~ "T00:00:00",
              "end": render(vars.window_end) ~ "T00:00:00"
            },
            "conversion_metric_id": inputs.conversion_metric_id,
            "filter": "any(campaign_id," ~ (inputs.campaign_ids | join(",")) ~ ")"
          }
        }
      } | toJson }}
    options:
      readTimeout: PT2M
    retry:
      type: constant
      interval: PT30S
      maxAttempt: 4
    timeout: PT10M

  - id: write_metrics_json
    type: io.kestra.plugin.core.storage.Write
    description: |
      Project the reporting API response into a flat JSON array (one row per
      campaign with its KPIs) so it converts cleanly to Ion and CSV. The raw
      JSON:API response has nested attributes/relationships that do not flatten,
      so we extract the result groupings here first.
    extension: .json
    content: "{{ fromJson(outputs.campaign_values_report.body).data.attributes.results | toJson }}"

  - id: metrics_to_ion
    type: io.kestra.plugin.serdes.json.JsonToIon
    description: Convert the flat metrics JSON array to Ion for CSV serialization.
    from: "{{ outputs.write_metrics_json.uri }}"
    newLine: false

  - id: metrics_to_csv
    type: io.kestra.plugin.serdes.csv.IonToCsv
    description: Convert the flat per-campaign KPI rows to a CSV for archiving or BI ingestion.
    from: "{{ outputs.metrics_to_ion.uri }}"

  - id: notify_summary
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Post the weekly performance summary with real KPIs and the report window.
    payload: |
      {
        "blocks": [
          {
            "type": "header",
            "text": {
              "type": "plain_text",
              "text": "Klaviyo weekly campaign report"
            }
          },
          {
            "type": "section",
            "fields": [
              {
                "type": "mrkdwn",
                "text": "*Report window:*\n{{ vars.window_start }} to {{ vars.window_end }}"
              },
              {
                "type": "mrkdwn",
                "text": "*Campaigns reported:*\n{{ outputs.get_campaigns.size ?? 0 }}"
              },
              {
                "type": "mrkdwn",
                "text": "*KPI rows:*\n{{ (fromJson(outputs.campaign_values_report.body).data.attributes.results | length) ?? 0 }}"
              },
              {
                "type": "mrkdwn",
                "text": "*Execution:*\n{{ execution.id }}"
              }
            ]
          },
          {
            "type": "context",
            "elements": [
              {
                "type": "mrkdwn",
                "text": "A CSV of per-campaign KPIs (opens, clicks, delivered, revenue) is attached to this Kestra execution. Open the run to download it."
              }
            ]
          }
        ]
      }

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Alert the channel if the report run fails so a missed Monday report is never silent.
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }})."

triggers:
  - id: weekly_report
    type: io.kestra.plugin.core.trigger.Schedule
    description: Build and post the report every Monday at 08:00 UTC.
    cron: "0 8 * * 1"
    timezone: Etc/UTC

extend:
  shortDescription: Pull real Klaviyo campaign KPIs on a weekly schedule, export them to CSV, and post a performance summary to Slack.
  title: Weekly Klaviyo Campaign Performance Report to Slack
  metaTitle: Klaviyo Weekly Campaign Report to Slack
  description: |
    This blueprint produces a recurring marketing performance report. On a
    weekly schedule it fetches the selected Klaviyo campaigns, pulls real
    per-campaign KPIs (opens, open rate, clicks, click rate, delivered,
    bounced, unsubscribes, and attributed revenue) from the Klaviyo Campaign
    Values Reporting API, flattens those metrics into a CSV for archiving or
    BI, and posts a performance summary to Slack.

    Unlike a simple fetch-and-count flow, the report surfaces actual
    engagement and revenue metrics for the reporting window rather than how
    many API rows were returned.

    How it works:
      1. A Schedule trigger fires every Monday at 08:00 UTC. The report window
         is derived from the trigger date (or the execution start date on a
         manual run) and covers the seven days ending on that date, so
         backfills compute the correct window.
      2. `campaign.Get` retrieves the campaigns in the `campaign_ids` input so
         the report knows each campaign's name and status.
      3. An HTTP POST to the Campaign Values Reporting endpoint requests the
         KPIs in the `statistics` input for the window, scoped to the selected
         campaigns and attributed against the conversion metric.
      4. The reporting response is projected into a flat JSON array, converted
         to Ion, then to CSV, so the export flattens cleanly instead of
         producing a garbled file from nested JSON:API objects.
      5. A Slack incoming webhook posts the window, campaign count, KPI row
         count, and execution id; the CSV is attached to the execution.

    Reliability and operability:
      - Every remote call (the Klaviyo fetch and the reporting HTTP request)
        has a constant retry (4 attempts, 30s apart) and a 10-minute timeout,
        so a transient 429 or 5xx self-heals instead of failing the weekly run.
      - A flow-level errors block posts a Slack alert with the execution id if
        the run fails, so a missed report is never silent.
      - `concurrency.limit` is 1 so a slow run cannot overlap the next fire.
      - Shared credentials live in pluginDefaults (Klaviyo apiKey, Slack url),
        not repeated on every task.

    Keeping the report current:
      - The `campaign_ids` input is a hand-maintained list. To keep the weekly
        content fresh, update it each cycle or add a discovery step in front of
        this flow that lists campaigns sent in the last seven days and feeds
        their IDs in. As written, the schedule recurs but the campaign list
        does not, so stale IDs produce a stale report.

    Prerequisites:
      - A Klaviyo account with a Private API Key that has read access to
        campaigns and to campaign reporting (analytics).
      - The conversion metric ID used for revenue attribution (for example the
        "Placed Order" metric ID from your Klaviyo account).
      - A Slack incoming webhook pointing at the channel that should receive
        the report.

    Secrets:
      - KLAVIYO_API_KEY: Klaviyo Private API Key, sent as the `Klaviyo-API-Key`
        header by every Klaviyo task and the reporting HTTP call. Keep it
        secret, never hardcode it.
      - SLACK_WEBHOOK_URL: Slack incoming webhook URL used to post the summary
        and any failure alert.

    Quick start:
      1. Add the KLAVIYO_API_KEY and SLACK_WEBHOOK_URL secrets to your Kestra
         namespace.
      2. Set `campaign_ids` to the campaigns you want to report on and
         `conversion_metric_id` to your account's conversion metric.
      3. Enable the flow and let the Monday schedule run it, or trigger it
         manually to test.

    Expected outputs:
      - A CSV export of per-campaign KPIs (opens, clicks, delivered, revenue)
        attached to the execution outputs.
      - A Slack message summarizing the report window, the number of campaigns
        reported, and the KPI row count.

    Links:
      - Klaviyo plugin docs: https://kestra.io/plugins/plugin-klaviyo
      - Klaviyo Campaign Values Reporting API: https://developers.klaviyo.com/en/reference/query_campaign_values
      - Slack incoming webhooks: https://api.slack.com/messaging/webhooks
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: Weekly Kestra flow that pulls real Klaviyo campaign KPIs, exports them to CSV, and posts a performance summary to Slack.
