flows/klaviyo-recipient-estimation-alert.yaml
id: klaviyo-recipient-estimation-alert
namespace: company.marketing

labels:
  team: marketing
  guardrail: klaviyo-presend


inputs:
  - id: campaign_id
    type: STRING
    description: Klaviyo campaign ID to estimate the audience for before sending.
    defaults: "01HXXXXXXXXXXXXXXXXXXXXXXX"
  - id: min_recipients
    type: INT
    description: |
      Minimum acceptable estimated audience size; below this is flagged. This
      default (500) is illustrative. Set it per list or segment to match your
      own guardrails.
    defaults: 500
  - id: max_recipients
    type: INT
    description: |
      Maximum acceptable estimated audience size; above this is flagged. This
      default (250000) is illustrative. Set it per list or segment, or derive
      it from a percentage of total list size.
    defaults: 250000
  - id: fail_on_out_of_range
    type: BOOLEAN
    description: |
      When true, an out-of-range estimate fails the execution after alerting,
      so a parent send-preparation flow calling this as a subflow can gate on
      the FAILED state. When false, the flow only alerts and stays SUCCESS.
    defaults: true

pluginDefaults:
  - type: io.kestra.plugin.klaviyo
    values:
      apiKey: "{{ secret('KLAVIYO_API_KEY') }}"
  - type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    values:
      url: "{{ secret('SLACK_WEBHOOK_URL') }}"

tasks:
  - id: estimate_recipients
    type: io.kestra.plugin.klaviyo.campaign.GetRecipientCount
    description: |
      Read the current recipient estimate for the campaign. Klaviyo computes
      estimates asynchronously, so a freshly created campaign may not have a
      ready value yet; the downstream check distinguishes "estimate
      unavailable" from a real zero so the guardrail does not false-alarm.
    campaignIds:
      - "{{ inputs.campaign_id }}"
    fetchType: FETCH_ONE
    retry:
      type: constant
      interval: PT30S
      maxAttempt: 4
    timeout: PT5M

  - id: route_estimate
    type: io.kestra.plugin.core.flow.If
    description: Branch on whether the estimate is available, in range, or out of range.
    condition: "{{ outputs.estimate_recipients.row.attributes.estimated_recipient_count is not null }}"
    then:
      - id: check_audience_size
        type: io.kestra.plugin.core.flow.If
        description: Flag the estimate when it falls outside the acceptable range.
        condition: "{{ outputs.estimate_recipients.row.attributes.estimated_recipient_count < inputs.min_recipients or outputs.estimate_recipients.row.attributes.estimated_recipient_count > inputs.max_recipients }}"
        then:
          - id: alert_out_of_range
            type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
            description: Warn the marketing channel that the estimate is out of bounds.
            payload: |
              {
                "blocks": [
                  {
                    "type": "header",
                    "text": {
                      "type": "plain_text",
                      "text": "Klaviyo pre-send audience check failed"
                    }
                  },
                  {
                    "type": "section",
                    "fields": [
                      {
                        "type": "mrkdwn",
                        "text": "*Campaign:*\n{{ inputs.campaign_id }}"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Estimated recipients:*\n{{ outputs.estimate_recipients.row.attributes.estimated_recipient_count }}"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Allowed range:*\n{{ inputs.min_recipients }} to {{ inputs.max_recipients }}"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Execution:*\n{{ execution.id }}"
                      }
                    ]
                  },
                  {
                    "type": "context",
                    "elements": [
                      {
                        "type": "mrkdwn",
                        "text": "Review the segment or list filters before scheduling this send."
                      }
                    ]
                  }
                ]
              }
          - id: fail_send_gate
            type: io.kestra.plugin.core.execution.Fail
            description: |
              Fail the execution after alerting so a calling send-prep flow can
              gate on the FAILED state. Skipped when fail_on_out_of_range is
              false.
            condition: "{{ inputs.fail_on_out_of_range }}"
            errorMessage: "Estimated recipients {{ outputs.estimate_recipients.row.attributes.estimated_recipient_count }} out of allowed range {{ inputs.min_recipients }} to {{ inputs.max_recipients }} for campaign {{ inputs.campaign_id }}."
        else:
          - id: log_in_range
            type: io.kestra.plugin.core.log.Log
            description: Record that the estimate is within range and no alert is needed.
            message: "Estimated recipients {{ outputs.estimate_recipients.row.attributes.estimated_recipient_count }} are within the allowed range for campaign {{ inputs.campaign_id }}."
    else:
      - id: alert_estimate_unavailable
        type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
        description: |
          Warn that no estimate is available yet (the estimation job has not
          finished). This is distinct from an estimate of zero and should not
          be treated as a passing check.
        messageText: ":warning: Klaviyo recipient estimate is not available yet for campaign {{ inputs.campaign_id }} (execution {{ execution.id }}). Re-run once the estimation job completes before sending."

outputs:
  - id: estimated_recipient_count
    type: INT
    description: The estimated recipient count, or null when the estimate is not yet available.
    value: "{{ outputs.estimate_recipients.row.attributes.estimated_recipient_count ?? null }}"
  - id: in_range
    type: BOOLEAN
    description: |
      True when an estimate was available and within the allowed range. A
      parent flow can read this output instead of (or in addition to) gating on
      the FAILED state.
    value: "{{ (outputs.estimate_recipients.row.attributes.estimated_recipient_count is not null) and (outputs.estimate_recipients.row.attributes.estimated_recipient_count >= inputs.min_recipients) and (outputs.estimate_recipients.row.attributes.estimated_recipient_count <= inputs.max_recipients) }}"

errors:
  - id: alert_on_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: |
      Alert if the estimation flow itself fails (bad API key, Klaviyo 5xx).
      Note this also fires when fail_on_out_of_range deliberately fails the run
      on an out-of-range audience, which is the intended gate signal.
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed or gated for campaign {{ inputs.campaign_id }} (execution {{ execution.id }})."

extend:
  shortDescription: Estimate a Klaviyo campaign's audience before sending, alert Slack out of range, and optionally fail so a parent flow can gate the send.
  title: Klaviyo Pre-Send Recipient Estimation Alert
  metaTitle: Klaviyo Pre-Send Audience Size Alert
  description: |
    This blueprint is a guardrail for marketers. Before a campaign goes out,
    it reads Klaviyo's estimated audience size and compares it against an
    acceptable range. If the estimate is too small (a broken segment, an
    over-restrictive filter) or too large (the wrong list selected), it alerts
    Slack and, when configured to, fails the execution so a parent
    send-preparation flow can block the send.

    What this flow does and does not do:
      - It notifies and can signal a gate. The Klaviyo plugin has no send or
        schedule task, so this flow cannot itself stop a send. When
        `fail_on_out_of_range` is true it fails the execution after alerting,
        and it emits an `in_range` flow output, so a calling flow can branch on
        either the FAILED state or the output to halt or pause the send.
      - Run on demand right before scheduling a send, or call it as a subflow
        from a larger send-preparation pipeline and gate on its result.

    How it works:
      1. `campaign.GetRecipientCount` reads the current recipient estimate for
         the `campaign_id` input using `fetchType: FETCH_ONE`. The campaign id
         is passed as the single element of the task's array property.
      2. Because Klaviyo computes estimates asynchronously, the flow first
         checks whether an estimate is available. If it is not (the estimation
         job has not finished), it posts a distinct "estimate unavailable"
         warning rather than treating a missing value as zero and false-alarming
         as "too small".
      3. When an estimate is available, an `If` task compares it against the
         `min_recipients` and `max_recipients` inputs. Out of range posts a
         Slack warning and, if `fail_on_out_of_range` is true, fails the run.
         In range logs that no action is needed.

    Reliability and operability:
      - `estimate_recipients` has a constant retry (4 attempts, 30s apart) and
        a 5-minute timeout so a transient 429 or 5xx self-heals.
      - A flow-level errors block posts a Slack alert with the execution id on
        failure, so an estimation failure (or a deliberate gate failure) is
        itself surfaced; ironic-but-silent failures are avoided.
      - `concurrency.limit` is 1, and shared credentials live in pluginDefaults
        (Klaviyo apiKey, Slack url).

    Note on thresholds: the 500 / 250000 defaults are illustrative. Set them
    per list or segment, or derive the maximum from a percentage of total list
    size, before relying on this guardrail.

    Prerequisites:
      - A Klaviyo account with a Private API Key that has access to campaign
        recipient estimation.
      - A Slack incoming webhook pointing at the channel that owns send
        approvals.

    Secrets:
      - KLAVIYO_API_KEY: Klaviyo Private API Key, sent as the `Klaviyo-API-Key`
        header by the estimation task. Keep it secret, never hardcode it.
      - SLACK_WEBHOOK_URL: Slack incoming webhook URL used for the alerts.

    Quick start:
      1. Add the KLAVIYO_API_KEY and SLACK_WEBHOOK_URL secrets to your Kestra
         namespace.
      2. Run the flow with the campaign id you are about to send, adjusting the
         min and max recipient inputs to match your guardrails.
      3. Leave `fail_on_out_of_range` true when calling this as a subflow gate;
         set it false for a notify-only check.

    Expected outputs:
      - `estimated_recipient_count`: the estimate, or null when not yet ready.
      - `in_range`: true when the estimate was available and within range; a
        parent flow can gate on this output or on the FAILED execution state.

    Links:
      - Klaviyo plugin docs: https://kestra.io/plugins/plugin-klaviyo
      - Klaviyo Campaign Recipient Estimation API: https://developers.klaviyo.com/en/reference/get_campaign_recipient_estimation
      - Slack incoming webhooks: https://api.slack.com/messaging/webhooks
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: Estimate a Klaviyo campaign's audience before sending, alert Slack when out of range, and optionally fail so a parent flow can gate the send.
