flows/kvm-provision-vm.yaml
id: kvm-provision-vm
namespace: company.infra

inputs:
  - id: vm_name
    type: STRING
    defaults: kestra-worker-01
    description: >
      Libvirt domain name to define and boot. Rendered directly into the domain
      XML, so it is constrained by a regex validator. Treat as a trusted,
      operator-supplied value, not free web input.
    validator: ^[a-z0-9][a-z0-9-]{0,62}$

  - id: memory_mib
    type: INT
    defaults: 2048
    description: Memory allocated to the VM in MiB.

  - id: vcpus
    type: INT
    defaults: 2
    description: Number of virtual CPUs.

  - id: base_volume
    type: STRING
    defaults: ubuntu-22.04-base.qcow2
    description: >
      Name of the read-only golden-image qcow2 in the default pool. The flow
      clones this into a fresh per-VM boot disk so provisioning is repeatable.

  - id: os_volume
    type: STRING
    defaults: kestra-worker-01-os.qcow2
    description: >
      Name of the per-VM boot disk to create in the default pool by cloning
      base_volume. Rendered into the domain XML; constrained by a regex validator.
    validator: ^[a-z0-9][a-z0-9._-]{0,127}$

  - id: disk_size_gb
    type: INT
    defaults: 20
    description: Size of the cloned boot disk in GiB.

variables:
  libvirt_uri: "{{ secret('LIBVIRT_URI') }}"

pluginDefaults:
  - type: io.kestra.plugin.kvm
    values:
      uri: "{{ vars.libvirt_uri }}"

concurrency:
  limit: 1

tasks:
  - id: clone_boot_disk
    type: io.kestra.plugin.scripts.shell.Commands
    description: >
      Create the per-VM boot disk by cloning the golden base image, so the flow
      provisions a real disk instead of assuming one was staged by hand.
    # Script tasks default to the Docker runner. This one needs host-side libvirt
    # tooling (qemu-img/virsh against the local hypervisor), so it uses the Process
    # runner to execute on the host. Remove this block to run in Docker, or switch
    # the type to Kubernetes/Docker if your hypervisor tooling lives in a container.
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 3
    env:
      LIBVIRT_DEFAULT_URI: "{{ vars.libvirt_uri }}"
      BASE_VOLUME: "{{ inputs.base_volume }}"
      OS_VOLUME: "{{ inputs.os_volume }}"
      DISK_SIZE_GB: "{{ inputs.disk_size_gb }}"
    commands:
      - set -euo pipefail
      - echo "Cloning ${BASE_VOLUME} into ${OS_VOLUME} in the default pool"
      - |
        if virsh vol-info --pool default "${OS_VOLUME}" >/dev/null 2>&1; then
          echo "Volume ${OS_VOLUME} already exists; reusing it (clone is idempotent by name)"
        else
          virsh vol-clone --pool default "${BASE_VOLUME}" "${OS_VOLUME}"
          virsh vol-resize --pool default "${OS_VOLUME}" "${DISK_SIZE_GB}G"
        fi
      - virsh vol-info --pool default "${OS_VOLUME}"

  - id: create_vm
    type: io.kestra.plugin.kvm.CreateVm
    description: >
      Define the libvirt domain from the rendered XML and boot it. CreateVm is
      idempotent by name: re-running keeps the definition in sync and the boot
      is a no-op if the domain is already running.
    name: "{{ inputs.vm_name }}"
    startAfterCreate: true
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 3
    xmlDefinition: |
      <domain type='kvm'>
        <name>{{ inputs.vm_name }}</name>
        <memory unit='MiB'>{{ inputs.memory_mib }}</memory>
        <vcpu placement='static'>{{ inputs.vcpus }}</vcpu>
        <os>
          <type arch='x86_64' machine='pc-q35-6.2'>hvm</type>
          <boot dev='hd'/>
        </os>
        <devices>
          <disk type='volume' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source pool='default' volume='{{ inputs.os_volume }}'/>
            <target dev='vda' bus='virtio'/>
          </disk>
          <interface type='network'>
            <source network='default'/>
            <model type='virtio'/>
          </interface>
        </devices>
      </domain>

  - id: wait_for_running
    type: io.kestra.plugin.kvm.StartVm
    description: >
      Confirm the freshly defined domain reaches RUNNING before notifying.
      RUNNING means libvirt has started the domain; it does not guarantee the
      guest OS has finished booting or is reachable over the network.
    name: "{{ inputs.vm_name }}"
    waitForRunning: true
    timeToWait: PT2M
    retry:
      type: constant
      interval: PT15S
      maxAttempt: 3

  - id: notify_provisioned
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Post a Slack message announcing the domain reached RUNNING.
    url: "{{ secret('SLACK_WEBHOOK') }}"
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    payload: |
      {
        "blocks": [
          {
            "type": "header",
            "text": {
              "type": "plain_text",
              "text": "VM reached RUNNING: {{ outputs.create_vm.name }}"
            }
          },
          {
            "type": "section",
            "fields": [
              {
                "type": "mrkdwn",
                "text": "*UUID:*\n{{ outputs.create_vm.uuid }}"
              },
              {
                "type": "mrkdwn",
                "text": "*State:*\n{{ outputs.wait_for_running.state }}"
              },
              {
                "type": "mrkdwn",
                "text": "*vCPUs:*\n{{ inputs.vcpus }}"
              },
              {
                "type": "mrkdwn",
                "text": "*Memory (MiB):*\n{{ inputs.memory_mib }}"
              }
            ]
          },
          {
            "type": "context",
            "elements": [
              {
                "type": "mrkdwn",
                "text": "Boot disk {{ inputs.os_volume }} cloned from {{ inputs.base_volume }} | execution {{ execution.id }}"
              }
            ]
          }
        ]
      }

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Alert operators when provisioning fails so they learn about failures, not only successes.
    url: "{{ secret('SLACK_WEBHOOK') }}"
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed provisioning {{ inputs.vm_name }} (execution {{ execution.id }})."

extend:
  shortDescription: Clone a golden image, define and boot a libvirt domain, wait for RUNNING, and announce it in Slack with retries and failure alerting.
  title: Provision a KVM virtual machine on demand
  metaTitle: Provision a KVM VM with libvirt and Kestra
  description: |
    This flow provisions a KVM virtual machine on demand. It clones a read-only golden
    image into a fresh per-VM boot disk, renders a libvirt domain XML template from your
    inputs, defines the domain on the target hypervisor, boots it, waits until libvirt
    reports RUNNING, and posts a Slack message with the VM details. Every remote call has
    a retry, and a flow-level `errors` block alerts Slack on failure so operators hear
    about failed provisions, not only successful ones.

    ## What this flow does
    1. `clone_boot_disk` runs `virsh vol-clone` (via a Process shell task) to create the
       per-VM boot disk from the golden `base_volume`, then resizes it. It is idempotent:
       if the target volume already exists it is reused. This is the real provisioning
       step that earlier versions skipped by assuming the disk was pre-staged by hand.
    2. `create_vm` calls `io.kestra.plugin.kvm.CreateVm` with `startAfterCreate: true` to
       define the domain from the rendered XML and start it. CreateVm is idempotent by
       name, so re-running keeps the definition in sync and the boot is a no-op if the
       domain is already running.
    3. `wait_for_running` calls `io.kestra.plugin.kvm.StartVm` with `waitForRunning: true`
       so the flow blocks (up to `timeToWait`) until the domain reaches RUNNING.
    4. `notify_provisioned` posts a Slack Block Kit message summarizing the VM name, UUID,
       state, and resources.

    The shared libvirt `uri` lives in a `pluginDefaults` block keyed on
    `io.kestra.plugin.kvm`, `concurrency.limit: 1` prevents two runs from racing on the
    same domain name, and `vm_name`/`os_volume` are validated against strict patterns
    because they are rendered into the domain XML.

    ## Re-run and reachability behavior
    - The clone, the define, and the boot are all idempotent, so re-running the flow with
      the same `vm_name` is safe and does not duplicate the VM or the disk.
    - RUNNING is a libvirt domain state, not a readiness signal. The guest OS may still be
      booting or running cloud-init when the Slack message fires. If you need a true
      readiness gate, add a post-boot SSH/ping check before declaring the VM online.

    ## Prerequisites
    - A reachable libvirt/KVM host. The connection URI looks like
      `qemu+ssh://root@your-host/system` for remote SSH or `qemu:///system` for a local
      hypervisor.
    - A golden-image qcow2 named in `base_volume` present in the libvirt `default` pool.
    - A `default` libvirt virtual network for the VM NIC.
    - The Kestra worker must be able to run `virsh` against the libvirt host (the
      Process runner uses the worker's `virsh` and `LIBVIRT_DEFAULT_URI`).
    - A Slack Incoming Webhook URL for notifications.

    ## Secrets
    - `LIBVIRT_URI`: the full libvirt connection URI used by every KVM task and by the
      clone step (for example `qemu+ssh://root@10.0.0.10/system`). Never hardcode host
      credentials in the flow.
    - `SLACK_WEBHOOK`: the Slack Incoming Webhook URL used by the success and failure
      notifications.

    ## Quick start
    1. Add the `LIBVIRT_URI` and `SLACK_WEBHOOK` secrets to your Kestra instance.
    2. Ensure the golden image named in `base_volume` exists in the `default` pool.
    3. Execute the flow, adjusting `vm_name`, `memory_mib`, `vcpus`, `os_volume`, and
       `disk_size_gb` as needed.

    ## Expected outputs
    - `{{ outputs.create_vm.name }}`: the defined domain name.
    - `{{ outputs.create_vm.uuid }}`: the persistent libvirt UUID of the domain.
    - `{{ outputs.create_vm.state }}`: domain state right after definition.
    - `{{ outputs.wait_for_running.state }}`: domain state after the start completes
      (RUNNING on success).

    ## Documentation
    - KVM plugin: https://kestra.io/plugins/plugin-kvm
    - Slack plugin: https://kestra.io/plugins/plugin-slack
    - libvirt domain XML format: https://libvirt.org/formatdomain.html
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Clone a golden image, define and boot a libvirt domain, wait for RUNNING, and alert Slack with Kestra retries.
