flows/lead-scraping-apify-google-sheets.yaml
extend:
  title: Scrape Business Leads with Apify to Google Sheets
  metaTitle: Apify Lead Scraping to Google Sheets
  shortDescription: >-
    Automate business lead extraction using Apify, clean the scraped data with
    Python, and export structured results to Google Sheets for outreach.
  description: |
    **Automate the full pipeline from lead scraping to cleaned spreadsheet output using Apify and Google Sheets.**

    1. A `io.kestra.plugin.scripts.python.Script` task sets the Apify API token and task ID as flow variables for downstream use
    2. A `io.kestra.plugin.core.http.Request` task triggers the Apify actor task and synchronously retrieves the scraped dataset items via the Apify REST API
    3. A `io.kestra.plugin.scripts.python.Script` task cleans the raw data by stripping non-numeric characters from phone numbers, lowercasing and trimming email addresses, and structuring the output as company name, phone, and address
    4. A `io.kestra.plugin.core.http.Request` task appends the cleaned lead records to a Google Sheet via the Google Sheets API

    Ideal for:
    - **Sales teams** building outbound prospect lists from web-scraped business directories
    - **Marketing agencies** automating lead database creation for client campaigns
    - **Growth engineers** who need a repeatable pipeline from raw scrape data to clean CRM-ready output
  tags:
    - Lead Generation
    - Web Scraping
    - Google Sheets
  ee: false
  demo: false
  metaDescription: >-
    Scrape business leads with Apify, clean phone and email data with Python,
    and export structured results to Google Sheets automatically.

id: lead-scraping-apify-google-sheets
namespace: company.team

tasks:
  - id: set_variables
    type: io.kestra.plugin.scripts.python.Script
    description: >-
      Configure your Apify credentials. Replace the placeholder values with your
      actual APIFY_TOKEN and APIFY_TASK_ID.
    script: |
      from kestra import Kestra

      Kestra.outputs({
          "apify_token": "YOUR_APIFY_API_TOKEN",
          "apify_task_id": "YOUR_APIFY_TASK_ID"
      })

  - id: run_apify_scraper
    type: io.kestra.plugin.core.http.Request
    description: Trigger the Apify actor task and retrieve dataset items synchronously.
    uri: "https://api.apify.com/v2/actor-tasks/{{ outputs.set_variables.vars.apify_task_id }}/run-sync-get-dataset-items?token={{ outputs.set_variables.vars.apify_token }}"
    method: GET
    contentType: application/json

  - id: clean_data
    type: io.kestra.plugin.scripts.python.Script
    description: >-
      Clean scraped lead data: strip non-numeric characters from phone numbers,
      lowercase and trim emails, and structure the output.
    script: |
      import json
      import re
      from kestra import Kestra

      raw_data = json.loads("""{{ outputs.run_apify_scraper.body }}""")

      cleaned = []
      for item in raw_data:
          phone = re.sub(r'[^\d+]', '', item.get('phone', '') or '')
          email = (item.get('email', '') or '').lower().strip()
          cleaned.append({
              "company_name": item.get('title', ''),
              "phone": phone,
              "email": email,
              "address": item.get('address', '')
          })

      print(f"Cleaned {len(cleaned)} lead records")
      Kestra.outputs({"cleaned_data": json.dumps(cleaned), "count": len(cleaned)})

  - id: export_to_google_sheets
    type: io.kestra.plugin.core.http.Request
    description: >-
      Append cleaned lead data to Google Sheets. Configure your Google Sheets
      API credentials and spreadsheet ID before use.
    uri: "https://sheets.googleapis.com/v4/spreadsheets/YOUR_SPREADSHEET_ID/values/Sheet1!A:D:append?valueInputOption=USER_ENTERED"
    method: POST
    contentType: application/json
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_SHEETS_TOKEN') }}"
    body: "{{ outputs.clean_data.vars.cleaned_data }}"
