flows/merge-datasets-join-operations.yaml
id: merge-datasets-join-operations
namespace: company.team

tasks:
  - id: generate_data
    type: io.kestra.plugin.core.flow.Parallel
    tasks:
      - id: a_ingredients_needed
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"Name": "Flour"},
              {"Name": "Eggs"},
              {"Name": "Milk"},
              {"Name": "Lemon"},
              {"Name": "Sugar"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

      - id: b_ingredients_in_stock
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"Name": "Eggs"},
              {"Name": "Lemon"},
              {"Name": "Sugar"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

      - id: a_ingredients
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"Name": "Flour"},
              {"Name": "Eggs"},
              {"Name": "Milk"},
              {"Name": "Lemon"},
              {"Name": "Sugar"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

      - id: b_recipe_quantities
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"Name": "Flour", "Quantity": "100g"},
              {"Name": "Eggs", "Quantity": 2},
              {"Name": "Salt", "Quantity": "50g"},
              {"Name": "Lemon", "Quantity": 1},
              {"Name": "Sugar", "Quantity": "6tbsp"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

      - id: a_queen
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"FirstName": "John", "LastName": "Deacon", "Instrument": "Drums"},
              {"FirstName": "Freddy", "LastName": "Mercury", "Instrument": "Vocals and Piano", "Superpower": "Crowd control"},
              {"FirstName": "Brian", "LastName": "May", "Instrument": "Guitar"},
              {"FirstName": "Roger", "LastName": "Taylor", "Instrument": "Bass"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

      - id: b_led_zeppelin
        type: io.kestra.plugin.scripts.python.Script
        script: |
          import json
          from kestra import Kestra

          data = [
              {"FirstName": "Jimmy", "LastName": "Page", "Instrument": "Guitar"},
              {"FirstName": "Robert", "LastName": "Plant", "Instrument": "Vocals"},
              {"FirstName": "John", "LastName": "Bonham", "Instrument": "Drums"},
              {"FirstName": "John", "LastName": "Paul Jones", "Instrument": "Bass", "Second Instrument": "Keyboard"}
          ]
          Kestra.outputs({"data": json.dumps(data)})

  - id: inner_join
    type: io.kestra.plugin.scripts.python.Script
    description: "Inner join: keep only ingredients needed that are also in stock"
    script: |
      import json
      from kestra import Kestra

      needed = json.loads("""{{ outputs.generate_data.a_ingredients_needed.vars.data }}""")
      in_stock = json.loads("""{{ outputs.generate_data.b_ingredients_in_stock.vars.data }}""")

      stock_names = {item["Name"] for item in in_stock}
      result = [item for item in needed if item["Name"] in stock_names]

      print("Inner join result (ingredients needed that are in stock):")
      for item in result:
          print(f"  - {item['Name']}")

      Kestra.outputs({"data": json.dumps(result), "count": len(result)})

  - id: left_join
    type: io.kestra.plugin.scripts.python.Script
    description: "Left join: enrich ingredients with recipe quantities"
    script: |
      import json
      from kestra import Kestra

      ingredients = json.loads("""{{ outputs.generate_data.a_ingredients.vars.data }}""")
      quantities = json.loads("""{{ outputs.generate_data.b_recipe_quantities.vars.data }}""")

      qty_map = {item["Name"]: item.get("Quantity") for item in quantities}
      result = [{**item, "Quantity": qty_map.get(item["Name"])} for item in ingredients]

      print("Left join result (ingredients enriched with quantities):")
      for item in result:
          print(f"  - {item['Name']}: {item['Quantity']}")

      Kestra.outputs({"data": json.dumps(result), "count": len(result)})

  - id: union_all
    type: io.kestra.plugin.scripts.python.Script
    description: "Union all: combine two band rosters into a super band"
    script: |
      import json
      from kestra import Kestra

      queen = json.loads("""{{ outputs.generate_data.a_queen.vars.data }}""")
      led_zeppelin = json.loads("""{{ outputs.generate_data.b_led_zeppelin.vars.data }}""")

      result = queen + led_zeppelin

      print("Union all result (super band):")
      for member in result:
          print(f"  - {member['FirstName']} {member['LastName']} ({member['Instrument']})")

      Kestra.outputs({"data": json.dumps(result), "count": len(result)})

extend:
  title: "Merge and Join Datasets with Python: Inner Join, Left Join, and Union All"
  metaTitle: "Dataset Merge and Join Operations in Kestra with Python"
  shortDescription: >-
    Demonstrates three common dataset merge strategies (inner join, left join,
    union all) using Python scripts with sample data, running data generation
    tasks in parallel.
  description: |
    **Learn how to merge and join datasets using Python with three fundamental strategies: inner join, left join, and union all.**

    1. A `io.kestra.plugin.core.flow.Parallel` task runs six `io.kestra.plugin.scripts.python.Script` tasks concurrently, each generating a sample dataset (ingredient lists, recipe quantities, band member rosters)
    2. A `io.kestra.plugin.scripts.python.Script` task performs an inner join on two ingredient lists, keeping only items present in both datasets
    3. A `io.kestra.plugin.scripts.python.Script` task performs a left join between ingredients and recipe quantities, enriching the left dataset with matching data from the right
    4. A `io.kestra.plugin.scripts.python.Script` task performs a union all operation, combining two band member rosters into a single list regardless of matching keys

    Ideal for:
    - **Data engineers** learning dataset merge patterns in workflow orchestration
    - **Analysts** who need to combine data from multiple sources using SQL-like logic
    - **Python developers** getting started with Kestra and data transformation flows
  tags:
    - Data
    - Getting Started
  ee: false
  demo: true
  metaDescription: >-
    Merge and join datasets using parallel Python scripts with inner join, left
    join, and union all strategies on sample ingredient and band member data.

