flows/odoo-create-leads-from-webhook.yaml
id: odoo-create-leads-from-webhook
namespace: company.sales

labels:
  team: sales
  channel: webhook

pluginDefaults:
  - type: io.kestra.plugin.odoo.Query
    values:
      url: "{{ secret('ODOO_URL') }}"
      db: "{{ secret('ODOO_DB') }}"
      username: "{{ secret('ODOO_USERNAME') }}"
      password: "{{ secret('ODOO_PASSWORD') }}"

tasks:
  - id: validate_payload
    type: io.kestra.plugin.core.execution.Fail
    description: Reject malformed submissions before touching the CRM so junk and spam never become leads.
    condition: "{{ (trigger.body.email is null) or (trigger.body.email | length < 5) or (trigger.body.email | length > 254) or (not (trigger.body.email contains '@')) or (not (trigger.body.email contains '.')) or (trigger.body.name is null) or (trigger.body.name | length == 0) }}"
    errorMessage: "Rejected lead webhook: email or name missing or malformed for payload {{ trigger.body | toJson }}."

  - id: find_existing
    type: io.kestra.plugin.odoo.Query
    description: Look up an existing open lead with the same email so retries and double submits do not create duplicates.
    model: crm.lead
    operation: SEARCH_READ
    filters:
      - ["email_from", "=", "{{ trigger.body.email }}"]
      - ["type", "=", "lead"]
    fields:
      - id
      - email_from
    limit: 1
    fetchType: FETCH
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

  - id: upsert_lead
    type: io.kestra.plugin.core.flow.If
    description: Update the existing lead if one was found, otherwise create a new one (idempotent on email).
    condition: "{{ (outputs.find_existing.size ?? 0) > 0 }}"
    then:
      - id: update_lead
        type: io.kestra.plugin.odoo.Query
        description: Refresh the existing CRM lead with the latest submission details.
        model: crm.lead
        operation: WRITE
        ids:
          - "{{ outputs.find_existing.rows[0].id }}"
        values:
          contact_name: "{{ trigger.body.name }}"
          phone: "{{ trigger.body.phone ?? '' }}"
          description: "Updated from webhook submission. utm_source={{ trigger.body.utm_source ?? 'unknown' }} utm_campaign={{ trigger.body.utm_campaign ?? 'unknown' }}. {{ trigger.body.message ?? '' }}"
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3

      - id: log_updated
        type: io.kestra.plugin.core.log.Log
        description: Record that an existing lead was refreshed, without leaking the submitter email.
        message: "Updated existing CRM lead id {{ outputs.find_existing.rows[0].id }} from webhook submission."
    else:
      - id: create_lead
        type: io.kestra.plugin.odoo.Query
        description: Create a new CRM lead in Odoo from the inbound webhook form payload.
        model: crm.lead
        operation: CREATE
        values:
          name: "{{ trigger.body.company ?? 'Website enquiry' }}"
          contact_name: "{{ trigger.body.name }}"
          email_from: "{{ trigger.body.email }}"
          phone: "{{ trigger.body.phone ?? '' }}"
          description: "Captured from webhook. utm_source={{ trigger.body.utm_source ?? 'unknown' }} utm_campaign={{ trigger.body.utm_campaign ?? 'unknown' }}. {{ trigger.body.message ?? '' }}"
          type: lead
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3

      - id: log_created
        type: io.kestra.plugin.core.log.Log
        description: Record that a new lead was created, without leaking the submitter email.
        message: "Created new CRM lead id {{ outputs.create_lead.ids[0] }} from webhook submission."

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed to record an inbound lead (execution {{ execution.id }})."
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

triggers:
  - id: form_submission
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('ODOO_WEBHOOK_KEY') }}"

extend:
  shortDescription: "Turn inbound website form submissions into deduplicated Odoo CRM leads via webhook, with payload validation, email-based upsert, retries, and Slack failure alerts."
  title: Create Odoo CRM leads from an inbound webhook
  metaTitle: Create Odoo CRM leads from a webhook with Kestra
  description: |
    Capture website form submissions and write them straight into Odoo CRM as deduplicated leads. This event-driven flow exposes an authenticated webhook endpoint that your landing page, marketing platform, or form tool can POST to, then validates the payload, looks up any existing lead by email, and upserts the record in the `crm.lead` model over Odoo's XML-RPC API. It solves the classic lead-capture problems: spam and junk reaching the CRM, duplicate leads from retries or double submits, lost UTM attribution, and silent failures when the CRM is briefly unreachable.

    ## How it works
    1. A `io.kestra.plugin.core.trigger.Webhook` trigger named `form_submission` exposes a signed endpoint keyed by `ODOO_WEBHOOK_KEY`. Each POST starts an execution with the JSON body in `trigger.body`.
    2. `validate_payload` (`io.kestra.plugin.core.execution.Fail`) rejects the run when `email` is missing, too short or long, or lacks `@` and `.`, or when `name` is empty, so malformed and spam submissions never become leads.
    3. `find_existing` (`io.kestra.plugin.odoo.Query` with `operation: SEARCH_READ`) queries `crm.lead` by `email_from` and `type = lead` to detect an existing open lead for that address.
    4. `upsert_lead` (`io.kestra.plugin.core.flow.If`) branches on whether a match was found: `update_lead` runs a `WRITE` to refresh the existing record, otherwise `create_lead` runs a `CREATE` for a new one. This makes the endpoint idempotent on email.
    5. `utm_source` and `utm_campaign` from the payload are folded into the lead `description` so source attribution is preserved.
    6. `log_updated` or `log_created` records the affected lead id without logging the submitter's email.

    ## What you get
    - An authenticated, ready-to-share webhook URL for forms and marketing tools.
    - Idempotent, email-deduplicated lead capture (no duplicate leads on retries or double submits).
    - Server-side validation that blocks malformed and spam payloads before they reach the CRM.
    - Built-in UTM attribution carried into each lead.
    - Automatic retries on transient Odoo errors and a Slack alert on failure.

    ## Who it's for
    - Marketing and growth teams capturing inbound demo and contact requests.
    - RevOps and sales engineers who own the Odoo CRM lead pipeline.
    - Developers wiring website forms to a CRM without standing up a custom backend.

    ## Why orchestrate this with Kestra
    Odoo has no native scheduler for reacting to external HTTP events: it cannot expose a validated, retrying, deduplicating intake endpoint on its own. Kestra adds an event-driven webhook trigger, per-task retries on transient XML-RPC errors, declarative YAML you can version and review, full execution lineage for every captured lead, and a failure path that alerts Slack. The validation guard, conditional upsert, and attribution logic all live in one auditable flow rather than scattered across form-tool scripts.

    ## Prerequisites
    - A reachable Odoo instance with XML-RPC enabled and the CRM app installed.
    - An Odoo user allowed to read and create or write `crm.lead` records.
    - A frontend, form tool, or marketing platform that can POST JSON to the webhook URL.

    ### Secrets
    - `ODOO_URL`: Base URL of the Odoo instance, including scheme and port (for example `https://erp.example.com`).
    - `ODOO_DB`: Odoo database name to connect to.
    - `ODOO_USERNAME`: Odoo login used for XML-RPC authentication.
    - `ODOO_PASSWORD`: Password for that Odoo user.
    - `ODOO_WEBHOOK_KEY`: Secret key embedded in the webhook URL. Treat it as a credential, since it is the main thing protecting the endpoint.
    - `SLACK_WEBHOOK`: Slack incoming webhook URL used for failure alerts.

    ## Quick start
    1. Add the six secrets above to your namespace or tenant. Use a random string for `ODOO_WEBHOOK_KEY`.
    2. Save the flow, then copy its webhook URL from the Triggers tab.
    3. Point your form or marketing tool at that URL and POST a JSON body with at least `name` and `email` (plus optional `company`, `phone`, `message`, `utm_source`, `utm_campaign`).
    4. Confirm the new lead appears in the Odoo CRM pipeline, then re-POST the same body and confirm it updates the same lead rather than creating a second one.

    ## How to extend
    - Route leads by setting `team_id` and `user_id` in the `values` map of `create_lead` and `update_lead`.
    - Widen dedup beyond open leads (for example to converted opportunities) by adjusting the `find_existing` filters.
    - Enrich the payload with a scoring or lookup task before the upsert, or post a Slack notification on every successful create as well as on failure.

    ## Links
    - Odoo plugin docs: https://kestra.io/plugins/plugin-odoo
    - Webhook trigger: https://kestra.io/plugins/core/triggers/io.kestra.plugin.core.trigger.webhook
    - Odoo external API (XML-RPC): https://www.odoo.com/documentation/master/developer/reference/external_api.html
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: Kestra webhook flow that upserts inbound website form submissions into Odoo CRM leads with validation, email dedup, retries, and Slack alerting.
