flows/oracle-extract-load-batch.yaml
id: oracle-extract-load-batch
namespace: company.team

inputs:
  - id: source_url
    type: STRING
    defaults: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv
  - id: target_table
    type: SELECT
    description: Destination staging table. A SELECT input keeps the table name on an allow-list so a free-text value can never be concatenated into the DDL or INSERT.
    defaults: ORDERS_RAW
    values:
      - ORDERS_RAW
      - ORDERS_RAW_BACKFILL

variables:
  oracle_url: jdbc:oracle:thin:@//oracle.internal:1521/ORCLPDB1

concurrency:
  limit: 1

labels:
  team: data
  pipeline: orders-el

pluginDefaults:
  - type: io.kestra.plugin.jdbc.oracle
    values:
      url: "{{ vars.oracle_url }}"
      username: "{{ secret('ORACLE_USERNAME') }}"
      password: "{{ secret('ORACLE_PASSWORD') }}"

tasks:
  - id: download_csv
    type: io.kestra.plugin.core.http.Download
    description: Extract the source CSV from the upstream HTTP endpoint into internal storage.
    uri: "{{ inputs.source_url }}"
    saveAs: orders.csv
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3

  - id: csv_to_ion
    type: io.kestra.plugin.serdes.csv.CsvToIon
    description: Convert the downloaded CSV into the ION format that the Oracle Batch task consumes.
    from: "{{ outputs.download_csv.uri }}"

  - id: create_table
    type: io.kestra.plugin.jdbc.oracle.Query
    description: Create the staging table if it does not already exist before loading rows.
    fetchType: NONE
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    sql: |
      BEGIN
        EXECUTE IMMEDIATE 'CREATE TABLE {{ inputs.target_table }} (
          order_id      NUMBER,
          customer_name VARCHAR2(200),
          product       VARCHAR2(200),
          price         NUMBER(10,2),
          quantity      NUMBER,
          total         NUMBER(12,2)
        )';
      EXCEPTION
        WHEN OTHERS THEN
          IF SQLCODE != -955 THEN
            RAISE;
          END IF;
      END;

  - id: truncate_staging
    type: io.kestra.plugin.jdbc.oracle.Query
    description: Truncate the staging table so a re-run or backfill reloads cleanly instead of appending the CSV again.
    fetchType: NONE
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    sql: "TRUNCATE TABLE {{ inputs.target_table }}"

  - id: bulk_insert
    type: io.kestra.plugin.jdbc.oracle.Batch
    description: Bulk insert the ION rows into the freshly truncated staging table using named-column JDBC batches.
    from: "{{ outputs.csv_to_ion.uri }}"
    chunk: 1000
    columns:
      - order_id
      - customer_name
      - product
      - price
      - quantity
      - total
    sql: "INSERT INTO {{ inputs.target_table }} (order_id, customer_name, product, price, quantity, total) VALUES (?, ?, ?, ?, ?, ?)"

  - id: verify_load
    type: io.kestra.plugin.jdbc.oracle.Query
    description: Read back the row count so the assertion can compare it against the inserted count.
    fetchType: FETCH_ONE
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    sql: "SELECT COUNT(*) AS row_count FROM {{ inputs.target_table }}"

  - id: assert_load
    type: io.kestra.plugin.core.execution.Assert
    description: Fail loudly when the load landed zero rows or the table count does not match the rows just inserted.
    errorMessage: "Load verification failed for {{ inputs.target_table }}: inserted {{ outputs.bulk_insert.updatedCount }}, table reports {{ outputs.verify_load.row.ROW_COUNT }}."
    conditions:
      - "{{ outputs.bulk_insert.updatedCount > 0 }}"
      - "{{ outputs.verify_load.row.ROW_COUNT == outputs.bulk_insert.updatedCount }}"

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    description: Surface read vs inserted counts so silently dropped rows are obvious in the logs.
    message: "Read {{ outputs.bulk_insert.rowCount }} row(s) from the CSV and inserted {{ outputs.bulk_insert.updatedCount }} into {{ inputs.target_table }}. Table now reports {{ outputs.verify_load.row.ROW_COUNT }}."

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Alert Slack if the extract-load run fails so a broken nightly load is never silent.
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }})."

extend:
  shortDescription: Download a CSV over HTTP, truncate-and-reload an Oracle staging table with named-column batches, and assert the row count landed.
  title: Extract a CSV from HTTP and bulk load it into Oracle
  metaTitle: Oracle extract and bulk load ETL
  description: |
    This flow runs a re-run-safe extract-load pipeline into Oracle Database and asserts the load before declaring success.

    What the flow does:
    1. Downloads a CSV file from an HTTP(S) source into Kestra internal storage (with retry on transient network failures).
    2. Converts the CSV into the ION format expected by the Oracle Batch task.
    3. Creates the destination staging table with an Oracle Query DDL statement (idempotent: ORA-00955 "name already used" is swallowed).
    4. TRUNCATEs the staging table so a re-run, retry, or backfill reloads cleanly instead of appending the CSV again and doubling the rows.
    5. Bulk inserts every row into Oracle using prepared-statement batches of 1,000 rows, binding explicit named columns so the load survives a column reorder.
    6. Reads the row count back and uses an Assert task to fail the execution when zero rows landed or the table count does not match the rows just inserted.
    7. Logs both the rows read and the rows inserted so a silently dropped row is visible.

    Reliability and safety:
    - Every remote HTTP and JDBC task has a constant retry (3 attempts, PT10S) so a transient DNS blip, Oracle failover, or pool exhaustion does not fail the whole run on the first try. The Batch task additionally has its own internal chunk retry.
    - A flow-level errors block posts a Slack alert (including the execution id) on any failure, so a failed load is observed instead of silently missed.
    - concurrency.limit is 1 so two runs can never interleave truncate-and-load against the same staging table.
    - The load is idempotent: because the staging table is truncated first, re-running the flow always leaves exactly the current CSV in the table, never a doubled copy.

    Security note on the table name:
    - target_table is a SELECT input restricted to an allow-list, not a free-text STRING. Oracle cannot bind a table identifier as a parameter, so the name is concatenated into the DDL, TRUNCATE, and INSERT. Restricting it to an enum keeps that concatenation safe; only operator-trusted table names should ever be added to the values list.

    Prerequisites:
    - A reachable Oracle Database instance. The JDBC URL uses the thin driver service form: jdbc:oracle:thin:@//host:1521/service.
    - A database user with CREATE TABLE, TRUNCATE, and INSERT privileges on the target schema.

    Secrets (set these as Kestra secrets, never inline):
    - ORACLE_USERNAME: the Oracle database user used for the DDL, truncate, bulk insert, and verification query.
    - ORACLE_PASSWORD: the password for that Oracle database user.
    - SLACK_WEBHOOK: the Slack Incoming Webhook URL the failure alert is posted to.

    Quick start:
    1. Create the ORACLE_USERNAME, ORACLE_PASSWORD, and SLACK_WEBHOOK secrets.
    2. Update the oracle_url variable to point at your instance and service name.
    3. Optionally change the source_url input or add another table name to the target_table allow-list (keep the column list in the DDL, columns, and INSERT aligned with your CSV).
    4. Execute the flow.

    Expected outputs:
    - Downloaded file URI: {{ outputs.download_csv.uri }}
    - ION file URI passed to the loader: {{ outputs.csv_to_ion.uri }}
    - Rows read by the loader: {{ outputs.bulk_insert.rowCount }}
    - Rows inserted into Oracle: {{ outputs.bulk_insert.updatedCount }}
    - Verification row count: {{ outputs.verify_load.row.ROW_COUNT }}

    Documentation:
    - Oracle plugin: https://kestra.io/plugins/plugin-jdbc-oracle
    - HTTP Download task: https://kestra.io/plugins/core/tasks/io.kestra.plugin.core.http.download
    - CsvToIon task: https://kestra.io/plugins/plugin-serdes/csv/io.kestra.plugin.serdes.csv.csvtoion
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Download a CSV over HTTP, truncate-and-reload an Oracle staging table with named-column batches, and assert the row count landed.
