flows/oracle-report-to-email.yaml
id: oracle-report-to-email
namespace: company.team

inputs:
  - id: report_date
    type: DATE
    required: false
    description: The day to report on (UTC). Leave empty on a scheduled run to report on the day before the trigger fires; set it to backfill a specific past day from the UI.
  - id: from_address
    type: STRING
    defaults: reports@company.io
    description: Sender address for the report email.

variables:
  oracle_url: jdbc:oracle:thin:@//oracle.internal:1521/ORCLPDB1
  report_day: "{{ (inputs.report_date ?? ((trigger.date ?? execution.startDate) | dateAdd(-1, 'DAYS'))) | date('yyyy-MM-dd') }}"


labels:
  team: data
  pipeline: oracle-sales-report

pluginDefaults:
  - type: io.kestra.plugin.jdbc.oracle
    values:
      url: "{{ vars.oracle_url }}"
      username: "{{ secret('ORACLE_USERNAME') }}"
      password: "{{ secret('ORACLE_PASSWORD') }}"

tasks:
  - id: daily_sales_report
    type: io.kestra.plugin.jdbc.oracle.Query
    description: Aggregate the report day's orders by region, with the day bound as a parameter and the window anchored to UTC rather than the DB server clock.
    fetchType: STORE
    retry:
      type: constant
      interval: PT1M
      maxAttempt: 3
    parameters:
      day: "{{ vars.report_day }}"
    sql: |
      SELECT
        c.region,
        COUNT(*)      AS order_count,
        SUM(o.amount) AS total_revenue
      FROM orders o
      JOIN customers c ON c.customer_id = o.customer_id
      WHERE o.created_at >= FROM_TZ(CAST(TO_DATE(:day, 'YYYY-MM-DD') AS TIMESTAMP), 'UTC')
        AND o.created_at <  FROM_TZ(CAST(TO_DATE(:day, 'YYYY-MM-DD') + 1 AS TIMESTAMP), 'UTC')
      GROUP BY c.region
      ORDER BY total_revenue DESC

  - id: email_when_data
    type: io.kestra.plugin.core.flow.If
    description: Only build and send the report when the report day produced at least one row.
    condition: "{{ outputs.daily_sales_report.size > 0 }}"
    then:
      - id: report_to_csv
        type: io.kestra.plugin.serdes.csv.IonToCsv
        description: Convert the stored ION report into a CSV file suitable for an email attachment.
        from: "{{ outputs.daily_sales_report.uri }}"

      - id: email_report
        type: io.kestra.plugin.email.MailSend
        description: Email the daily sales report CSV to the business stakeholders.
        from: "{{ inputs.from_address }}"
        to: "{{ secret('REPORT_RECIPIENTS') }}"
        host: "{{ secret('SMTP_HOST') }}"
        port: 587
        username: "{{ secret('SMTP_USERNAME') }}"
        password: "{{ secret('SMTP_PASSWORD') }}"
        transportStrategy: SMTP_TLS
        sessionTimeout: 30000
        retry:
          type: constant
          interval: PT1M
          maxAttempt: 3
        subject: "Daily Oracle sales report ({{ vars.report_day }})"
        htmlTextContent: |
          Attached is the daily sales report covering {{ vars.report_day }} (UTC).
          Rows in this report: {{ outputs.daily_sales_report.size }}
        attachments:
          - name: daily_sales_report.csv
            uri: "{{ outputs.report_to_csv.uri }}"
            contentType: text/csv
    else:
      - id: log_no_data
        type: io.kestra.plugin.core.log.Log
        description: Record that there was nothing to report instead of emailing an empty attachment.
        message: "No Oracle sales rows for {{ vars.report_day }} (UTC); skipping the report email."

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    description: Run the report every morning at 06:00 UTC for the prior day.
    cron: 0 6 * * *
    timezone: Etc/UTC

errors:
  - id: alert_failure
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Alert Slack if the morning report fails so a missed report is never silent.
    url: "{{ secret('SLACK_WEBHOOK') }}"
    messageText: ":rotating_light: {{ flow.namespace }}.{{ flow.id }} failed (execution {{ execution.id }})."

extend:
  shortDescription: Run a UTC-anchored, backfillable Oracle report, convert it to CSV, and email it, skipping the send when there is no data and alerting on failure.
  title: Scheduled Oracle report emailed as a CSV attachment
  metaTitle: Oracle scheduled report to email
  description: |
    This flow produces a daily business report from Oracle Database and emails it as a CSV attachment, while
    avoiding empty-report noise, surviving transient failures, and staying backfillable.

    What the flow does:
    1. A Schedule trigger fires every morning at 06:00 UTC.
    2. An Oracle Query aggregates the report day's orders by region and stores the full result set in internal storage (fetchType: STORE).
    3. An If task checks whether the report returned any rows.
    4. When there is data, the IonToCsv task converts the stored ION result into a CSV file and MailSend emails it to the configured recipients as an attachment.
    5. When there is no data, the flow logs a short message and skips the email so stakeholders never receive an empty attachment.

    Backfill-safe, UTC-anchored date window:
    - The report day is derived from (inputs.report_date, else (trigger.date ?? execution.startDate) minus one day) and rendered once into vars.report_day. The same value drives the SQL window, the email subject, and the log line, so a backfill or replay always reports the day it is meant to.
    - The SQL binds that day as a :day parameter (prepared-statement bound, never string-concatenated) and builds the window with FROM_TZ(... 'UTC') instead of SYSDATE. This anchors "the report day" to UTC rather than the Oracle server clock, removing the off-by-a-day risk on non-UTC database servers.
    - To re-run a past day, start the flow from the UI with report_date set; missed scheduled runs can likewise be backfilled from the Triggers tab.

    Reliability:
    - daily_sales_report and email_report retry (constant, 3 attempts, PT1M) so a transient Oracle connect failure or a single SMTP blip does not kill the morning report on the first try. The MailSend session timeout is raised to 30s for slow relays.
    - A flow-level errors block posts a Slack alert (with the execution id) on failure, so a missed report is noticed instead of silently skipped.
    - concurrency.limit is 1; overlapping runs do not matter for a read-only report, but this keeps backfills from contending.

    Scale envelope:
    - This pattern assumes a small aggregate result (a handful of rows per region per day) attached to an email. If you widen the SQL to row-level detail, a multi-MB or GB CSV could be rejected by the mail relay; in that case add a row/size guard or deliver to internal storage / object storage and email a link instead of an attachment.

    Prerequisites:
    - A reachable Oracle Database instance. The JDBC URL uses the thin driver service form: jdbc:oracle:thin:@//host:1521/service.
    - An orders table (with a created_at stored in or comparable against UTC) and a customers table to aggregate and join.
    - An SMTP server reachable from the Kestra workers (this flow uses SMTP over STARTTLS on port 587).

    Secrets (set these as Kestra secrets, never inline):
    - ORACLE_USERNAME: the Oracle database user used to run the report query.
    - ORACLE_PASSWORD: the password for that Oracle database user.
    - SMTP_HOST: the hostname of the SMTP server used to send the report.
    - SMTP_USERNAME: the username used to authenticate to the SMTP server.
    - SMTP_PASSWORD: the password used to authenticate to the SMTP server.
    - REPORT_RECIPIENTS: semicolon-delimited recipient email addresses for the report.
    - SLACK_WEBHOOK: the Slack Incoming Webhook URL the failure alert is posted to.

    Quick start:
    1. Create the ORACLE_USERNAME, ORACLE_PASSWORD, SMTP_HOST, SMTP_USERNAME, SMTP_PASSWORD, REPORT_RECIPIENTS, and SLACK_WEBHOOK secrets.
    2. Update the oracle_url variable and, if needed, the from_address input default to match your environment.
    3. Adjust the report SQL or the cron expression as needed; confirm created_at is stored in or comparable against UTC.
    4. Enable the flow; it will run on the schedule. To backfill a day, run it manually with report_date set.

    Expected outputs:
    - Stored ION report URI: {{ outputs.daily_sales_report.uri }}
    - Number of report rows: {{ outputs.daily_sales_report.size }}
    - Generated CSV attachment URI (only when data exists): {{ outputs.report_to_csv.uri }}

    Documentation:
    - Oracle plugin: https://kestra.io/plugins/plugin-jdbc-oracle
    - IonToCsv task: https://kestra.io/plugins/plugin-serdes/csv/io.kestra.plugin.serdes.csv.iontocsv
    - MailSend task: https://kestra.io/plugins/plugin-notifications/io.kestra.plugin.email.mailsend
  tags:
    - Data
  ee: false
  demo: false
  metaDescription: Schedule a UTC-anchored backfillable Oracle report, convert it to CSV, and email it, skipping the send when there is no data.
