flows/proxmox-node-drain.yaml
id: proxmox-node-drain
namespace: company.team
description: |
  Drain a Proxmox VE node by live-migrating its VMs to another node before
  maintenance. List the cluster resources, pause for an operator to confirm,
  then migrate each VM to the target node and wait for completion.

inputs:
  - id: source_node
    type: STRING
    defaults: pve1
    description: Node being drained, shown for context in the listing step.
  - id: target_node
    type: STRING
    defaults: pve2
    description: Destination node that receives the migrated VMs.
  - id: vm_names
    type: ARRAY
    itemType: STRING
    description: VM names or VMIDs to migrate off the source node.
  - id: approval_timeout
    type: DURATION
    defaults: PT1H
    description: How long to wait for the operator to approve the drain.

tasks:
  - id: list_cluster_vms
    type: io.kestra.plugin.proxmox.cluster.ListResources
    description: List the cluster VMs so the operator can confirm the drain scope.
    typeFilter: vm

  - id: confirm_drain
    type: io.kestra.plugin.core.flow.Pause
    description: Wait for an operator to approve draining the source node.
    pauseDuration: "{{ inputs.approval_timeout }}"

  - id: migrate_vms
    type: io.kestra.plugin.core.flow.ForEach
    description: Live-migrate each VM to the target node, one at a time.
    values: "{{ inputs.vm_names }}"
    concurrencyLimit: 1
    tasks:
      - id: migrate
        type: io.kestra.plugin.proxmox.vm.Migrate
        description: Migrate one VM to the target node and wait for the task to finish.
        vmName: "{{ taskrun.value }}"
        targetNode: "{{ inputs.target_node }}"

pluginDefaults:
  - type: io.kestra.plugin.proxmox.cluster.ListResources
    values:
      host: "{{ secret('PROXMOX_HOST') }}"
      node: "{{ secret('PROXMOX_NODE') }}"
      username: "{{ secret('PROXMOX_USERNAME') }}"
      password: "{{ secret('PROXMOX_PASSWORD') }}"
  - type: io.kestra.plugin.proxmox.vm.Migrate
    values:
      host: "{{ secret('PROXMOX_HOST') }}"
      node: "{{ secret('PROXMOX_NODE') }}"
      username: "{{ secret('PROXMOX_USERNAME') }}"
      password: "{{ secret('PROXMOX_PASSWORD') }}"

extend:
  shortDescription: List a Proxmox VE node's VMs, pause for approval, then live-migrate each one to a target node before maintenance.
  title: Drain a Proxmox VE Node with Approved Live Migration
  metaTitle: Drain a Proxmox VE Node with Approved Live Migration
  description: |
    This blueprint prepares a Proxmox VE node for maintenance by moving its
    virtual machines elsewhere. It lists the cluster VMs for context, pauses so
    an operator can approve the drain, then live-migrates each VM in the input
    list to the target node, one at a time, waiting for each migration to
    complete before starting the next.

    Prerequisites:
      - Secrets:
        - PROXMOX_HOST: Proxmox VE host or IP (no scheme, no port).
        - PROXMOX_NODE: Cluster node name used to reach the API (for example, pve1).
        - PROXMOX_USERNAME: PAM or PVE user in the form user@realm (for example, root@pam).
        - PROXMOX_PASSWORD: Password for ticket-based authentication.
      - Shared storage or migration networking that allows live migration between the nodes.

    Quick start:
      1. Set the four secrets above in your Kestra namespace.
      2. Run the flow with source_node, target_node, and the vm_names to migrate.
      3. Approve the Pause to start migrations; each VM moves to the target node in turn.

    Outputs:
      - outputs.list_cluster_vms: the cluster VM resources returned by Proxmox.
      - outputs.migrate_vms: per-iteration migration task results.

    Notes:
      - Migrations run with concurrencyLimit 1 to avoid saturating the migration network.
      - Provide vm_names explicitly so the drain scope is reviewed before it runs.
  tags:
    - Infrastructure
  ee: false
  demo: false
  metaDescription: Live-migrate a Proxmox VE node's VMs to another node behind an approval gate, one at a time, before maintenance.
