flows/read-excel-spreadsheet.yaml
id: read-excel-spreadsheet
namespace: company.team

tasks:
  - id: download_spreadsheet
    type: io.kestra.plugin.core.http.Download
    uri: "{{ inputs.file_url }}"

  - id: parse_spreadsheet
    type: io.kestra.plugin.scripts.python.Script
    script: |
      import json
      import csv
      import io
      from kestra import Kestra

      file_path = "{{ outputs.download_spreadsheet.uri }}"

      # Detect file type and parse accordingly
      if file_path.endswith(".csv"):
          with open(file_path, "r", encoding="utf-8-sig") as f:
              reader = csv.DictReader(f)
              rows = [row for row in reader]
      else:
          # For Excel files (.xls, .xlsx), use openpyxl
          from openpyxl import load_workbook
          wb = load_workbook(file_path, data_only=True)
          ws = wb.active
          data = list(ws.iter_rows(values_only=True))
          if len(data) > 1:
              headers = [str(h) if h else f"col_{i}" for i, h in enumerate(data[0])]
              rows = [dict(zip(headers, row)) for row in data[1:]]
          else:
              rows = []

      Kestra.outputs({
          "row_count": len(rows),
          "rows_json": json.dumps(rows, default=str)
      })

inputs:
  - id: file_url
    type: STRING
    description: URL or internal URI of the spreadsheet file to read
    defaults: "https://example.com/sample_spreadsheet.xlsx"

extend:
  title: Read and Process an Excel Spreadsheet
  metaTitle: Read and Process an Excel Spreadsheet
  shortDescription: >-
    Load an Excel or CSV file from a local path or remote URL, parse its
    contents, and output the rows as structured data for downstream tasks.
  description: |
    **Read a spreadsheet file into structured row data that can be used by subsequent tasks in your workflow.**

    1. A `io.kestra.plugin.core.http.Download` task fetches the spreadsheet file from a configurable URL or local storage path
    2. A `io.kestra.plugin.scripts.python.Script` task reads the downloaded file using the openpyxl or csv library, parses headers and rows, and outputs the data as a JSON list

    Ideal for:
    - **Data engineers** who need to ingest Excel or CSV files as the first step of an ETL pipeline
    - **Business analysts** automating the import of regularly updated spreadsheet reports
    - **Teams** building workflows that react to uploaded spreadsheet files and transform them into actionable data
  tags:
    - Data
    - Getting Started
  ee: false
  demo: false
  metaDescription: >-
    Download an Excel or CSV spreadsheet, parse its contents into structured
    row data, and make it available for downstream processing in your flow.

