flows/seo-keyword-search-volume.yaml
id: seo-keyword-search-volume
namespace: company.team
tasks:
  - id: set_keywords
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra

      keywords = [
          "workflow automation software",
          "enterprise workflow automation",
          "finance automation software",
          "saas automation platform",
          "automation roi calculator",
          "hr process automation",
          "data synchronization software",
          "scalable business operations",
          "lead generation automation",
          "automation consulting services",
          "marketing automation tools",
          "custom automation solutions",
          "ecommerce automation solutions",
          "business process automation",
          "small business automation",
          "no code automation",
          "crm automation integration",
          "workflow orchestration platform",
          "api integration automation",
          "task scheduling software"
      ]

      Kestra.outputs({"keywords": keywords})
  - id: get_search_data
    type: io.kestra.plugin.core.http.Request
    uri: "https://googleads.googleapis.com/v16/customers/{{ secret('GOOGLE_ADS_CUSTOMER_ID') }}:generateKeywordHistoricalMetrics"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('GOOGLE_ADS_ACCESS_TOKEN') }}"
      developer-token: "{{ secret('GOOGLE_ADS_DEVELOPER_TOKEN') }}"
      Content-Type: application/json
    body: |
      {
        "keywords": {{ outputs.set_keywords.vars.keywords }},
        "language": "languageConstants/1000",
        "geoTargetConstants": ["geoTargetConstants/2840"]
      }
  - id: split_out_by_keyword
    type: io.kestra.plugin.scripts.python.Script
    script: |
      from kestra import Kestra
      import json

      # Parse the API response and extract per-keyword metrics
      # Each result contains: keyword, avg_monthly_searches, competition, trend_data
      # TODO: Replace with actual response parsing once API credentials are configured

      results = []
      # Example structure:
      # for item in api_response["results"]:
      #     results.append({
      #         "keyword": item["text"],
      #         "avg_monthly_searches": item["keywordMetrics"]["avgMonthlySearches"],
      #         "competition": item["keywordMetrics"]["competition"],
      #     })

      Kestra.outputs({"keyword_metrics": results})

extend:
  title: Generate SEO Keyword Search Volume Data
  metaTitle: SEO Keyword Search Volume via Google API
  shortDescription: >-
    Retrieve search volume, historical trends, and competition metrics for up to
    20 keywords using the Google Ads Keyword Planner API.
  description: |
    **Fetch keyword search volume and competition data from Google Ads to power your SEO strategy.**

    1. A `io.kestra.plugin.scripts.python.Script` task defines up to 20 target keywords as a structured list
    2. A `io.kestra.plugin.core.http.Request` task sends the keywords to the Google Ads Keyword Planner API and retrieves historical search metrics
    3. A second `io.kestra.plugin.scripts.python.Script` task splits the API response into individual keyword records with monthly volume, competition level, and trend data

    Ideal for:
    - **SEO professionals** who need accurate search volume data to prioritize keyword targets
    - **Content strategists** planning editorial calendars around seasonal search trends
    - **Marketing analysts** benchmarking keyword difficulty and competition for campaign planning
  tags:
    - Business
    - Data
  ee: false
  demo: false
  metaDescription: >-
    Pull keyword search volume, competition scores, and historical trends from
    the Google Ads Keyword Planner API for up to 20 keywords at a time.

