flows/servicenow-change-request-runbook.yaml
id: servicenow-change-request-runbook
namespace: company.team
description: |
  Execute a runbook when a ServiceNow change request is approved. A webhook fires
  with the change sys_id; the flow marks it in progress, runs the implementation
  runbook as a subflow, marks it complete, and notifies Slack.

inputs:
  - id: change_sys_id
    type: STRING
    description: sys_id of the approved change request to implement.
  - id: runbook_flow_id
    type: STRING
    defaults: terraform-ansible-argocd-chain
    description: Flow ID of the implementation runbook to run.

tasks:
  - id: mark_in_progress
    type: io.kestra.plugin.servicenow.Update
    description: Move the change request to Implement / in progress.
    table: change_request
    sysId: "{{ inputs.change_sys_id }}"
    data:
      state: "-1"
      work_notes: "Implementation started by Kestra execution {{ execution.id }}."

  - id: run_runbook
    type: io.kestra.plugin.core.flow.Subflow
    description: Run the implementation runbook.
    namespace: company.team
    flowId: "{{ inputs.runbook_flow_id }}"
    wait: true

  - id: mark_complete
    type: io.kestra.plugin.servicenow.Update
    description: Move the change request to Review / closed complete.
    table: change_request
    sysId: "{{ inputs.change_sys_id }}"
    data:
      state: "0"
      work_notes: "Implementation completed by Kestra execution {{ execution.id }}."

  - id: notify
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Report the change implementation to Slack.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "Change {{ inputs.change_sys_id }} implemented and closed by Kestra."
      }

pluginDefaults:
  - type: io.kestra.plugin.servicenow.Update
    values:
      domain: "{{ secret('SN_DOMAIN') }}"
      username: "{{ secret('SN_USERNAME') }}"
      password: "{{ secret('SN_PASSWORD') }}"

triggers:
  - id: on_change_approved
    type: io.kestra.plugin.core.trigger.Webhook
    description: ServiceNow posts here when a change request is approved.
    key: "{{ secret('SN_CHANGE_WEBHOOK_KEY') }}"

extend:
  shortDescription: An approved ServiceNow change runs a runbook subflow and updates the change record state.
  title: Run a Runbook on ServiceNow Change Approval
  metaTitle: Run a Runbook on ServiceNow Change Approval
  description: |
    This blueprint closes the loop between ITSM and execution. When a ServiceNow
    change request is approved it calls the webhook; the flow marks the change in
    progress, runs the implementation runbook as a subflow, marks the change
    complete, and notifies Slack. The change record reflects reality automatically.

    Prerequisites:
      - Secrets:
        - SN_DOMAIN, SN_USERNAME, SN_PASSWORD: ServiceNow instance and credentials.
        - SN_CHANGE_WEBHOOK_KEY: key guarding the webhook trigger.
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.
      - An implementation runbook flow to call (defaults to the Terraform/Ansible/Argo CD chain).

    Quick start:
      1. Set the secrets above in your Kestra namespace.
      2. Configure a ServiceNow business rule to POST the change sys_id on approval.
      3. Point runbook_flow_id at the flow that implements the change.

    Outputs:
      - outputs.run_runbook: the subflow execution result.
      - outputs.mark_complete.result: the updated change record.

    Notes:
      - State values (-1, 0) follow ServiceNow change_request states; adjust to your instance's model.
      - If the runbook fails, the change is left in progress so the failure is visible in ServiceNow.
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: An approved ServiceNow change runs a runbook subflow and updates the change request state, with Slack reporting.
