flows/slack-notify-subflow.yaml
id: slack-notify-subflow
namespace: company.team
description: |
  A reusable Slack notification flow. Call it as a subflow from any pipeline to
  post a consistently formatted message, so notification logic lives in one place
  instead of being copied into every flow.

inputs:
  - id: message
    type: STRING
    description: The message body to post to Slack.
  - id: status
    type: STRING
    defaults: info
    description: "Status label used as a prefix, for example: success, warning, failure, info."
  - id: source_flow
    type: STRING
    defaults: unknown
    description: Identifier of the calling flow, for traceability.

tasks:
  - id: post_message
    type: io.kestra.plugin.slack.notifications.SlackIncomingWebhook
    description: Post the formatted message to Slack.
    url: "{{ secret('SLACK_WEBHOOK_URL') }}"
    payload: |
      {
        "text": "[{{ inputs.status | upper }}] {{ inputs.source_flow }}: {{ inputs.message }}"
      }

extend:
  shortDescription: A reusable subflow that posts a consistently formatted Slack message for any calling pipeline.
  title: Reusable Slack Notification Subflow
  metaTitle: Reusable Slack Notification Subflow
  description: |
    This blueprint centralizes Slack notifications. Instead of repeating webhook
    logic in every pipeline, call this flow as a subflow and pass a message, a
    status, and the source flow name; it posts a single, consistently formatted
    message. Update the formatting once here and every caller benefits.

    Prerequisites:
      - Secrets:
        - SLACK_WEBHOOK_URL: Slack incoming webhook URL.

    Quick start:
      1. Set SLACK_WEBHOOK_URL in your Kestra namespace.
      2. From any flow, add a Subflow task calling this flow and pass message, status, and source_flow.
      3. Adjust the payload template to match your Slack formatting standard.

    Example caller:
      - id: notify
        type: io.kestra.plugin.core.flow.Subflow
        namespace: company.team
        flowId: slack-notify-subflow
        inputs:
          message: "Pipeline finished"
          status: success
          source_flow: "{{ flow.id }}"

    Outputs:
      - outputs.post_message: the Slack webhook response.

    Notes:
      - Keep all Slack formatting in this one flow so callers stay simple.
      - Swap the incoming webhook for a Slack app token task if you need richer message features.
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: A reusable subflow that posts a consistently formatted Slack message on behalf of any calling pipeline.
