flows/tencent-qq-approval-notification.yaml
id: tencent-qq-approval-notification
namespace: company.team

labels:
  purpose: approval
  channel: qq

inputs:
  - id: change_summary
    type: STRING
    defaults: Deploy release 2026.06 to production
    description: Short description of the change that requires manual approval.

  - id: requested_by
    type: STRING
    defaults: data-platform-team
    description: Person or team requesting the approval.

  - id: approver_recipients
    type: ARRAY
    itemType: STRING
    defaults: ["approvers-group"]
    description: QQ group or user identifiers that should receive approval notifications.

  - id: kestra_ui_url
    type: STRING
    defaults: http://localhost:8080
    description: Base URL of your Kestra instance, used to build the Resume link for approvers.

concurrency:
  limit: 1

pluginDefaults:
  - type: io.kestra.plugin.tencent.qq
    values:
      url: "{{ secret('TENCENT_IM_URL') }}"
      token: "{{ secret('TENCENT_IM_TOKEN') }}"

tasks:
  - id: notify_pending_approval
    type: io.kestra.plugin.tencent.qq.QQIncomingWebhook
    description: Tells the approver QQ group that an approval is pending and links to the Resume button.
    timeout: PT30S
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    payload: |
      {
        "To_Account": {{ inputs.approver_recipients | toJson }},
        "MsgType": "TIMTextElem",
        "MsgContent": {
          "Text": {{ ("Approval pending [" ~ execution.id ~ "]: " ~ inputs.change_summary ~ " (requested by " ~ inputs.requested_by ~ "). Approve or reject in Kestra: " ~ inputs.kestra_ui_url ~ "/ui/executions/" ~ flow.namespace ~ "/" ~ flow.id ~ "/" ~ execution.id) | toJson }}
        }
      }

  - id: wait_for_approval
    type: io.kestra.plugin.core.flow.Pause
    description: Pauses the execution until an approver resumes it with a decision.
    pauseDuration: P2D
    behavior: FAIL
    onResume:
      - id: approved
        type: BOOLEAN
        defaults: false
        description: Whether the change is approved. Defaults to false so approval requires an explicit affirmative.
      - id: reason
        type: STRING
        defaults: ""
        description: Reason for the approval or rejection decision.
    errors:
      - id: notify_expired
        type: io.kestra.plugin.tencent.qq.QQIncomingWebhook
        description: Tells the approver group that the request expired with no decision.
        timeout: PT30S
        retry:
          type: constant
          interval: PT10S
          maxAttempt: 3
        payload: |
          {
            "To_Account": {{ inputs.approver_recipients | toJson }},
            "MsgType": "TIMTextElem",
            "MsgContent": {
              "Text": {{ ("Approval request expired [" ~ execution.id ~ "]: '" ~ inputs.change_summary ~ "' received no decision within the timeout and was not approved.") | toJson }}
            }
          }

  - id: notify_outcome
    type: io.kestra.plugin.tencent.qq.QQIncomingWebhook
    description: Posts the approval or rejection outcome back to the approver QQ group.
    timeout: PT30S
    retry:
      type: constant
      interval: PT10S
      maxAttempt: 3
    payload: |
      {
        "To_Account": {{ inputs.approver_recipients | toJson }},
        "MsgType": "TIMTextElem",
        "MsgContent": {
          "Text": {{ ("Decision [" ~ execution.id ~ "] for '" ~ inputs.change_summary ~ "': " ~ (outputs.wait_for_approval.onResume.approved ? "APPROVED" : "REJECTED") ~ ". Reason: " ~ outputs.wait_for_approval.onResume.reason) | toJson }}
        }
      }

extend:
  shortDescription: Notify a QQ approver group that an approval is pending, pause for a human decision, then post the outcome (or an expiry notice).
  title: Human-in-the-loop approval with QQ notifications
  metaTitle: QQ approval notifications with Pause
  description: |
    This flow implements a human-in-the-loop approval gate with Tencent Cloud IM / QQ notifications on
    both sides of the decision. First, the `QQIncomingWebhook` task messages an approver QQ group that an
    approval is pending and includes a direct link to the Resume button in the Kestra UI. The
    `Pause` task then halts the execution until an approver resumes it and supplies the `approved` and
    `reason` inputs. Finally, a second `QQIncomingWebhook` task posts the recorded decision back to the
    same group.

    The Pause task is configured with `pauseDuration: P2D` and `behavior: FAIL`, so if no one acts within
    two days the execution fails rather than hanging indefinitely. Approvers can resume the execution from
    the UI, or via the `/executions/{id}/resume` API.

    Reliability and safety choices:
    - Both critical-path notifications (`notify_pending_approval` and `notify_outcome`) have a `retry`
      (constant, three attempts) and a `timeout: PT30S`. The pending notification is what makes the Pause
      actionable, so it must not be silently lost: if it cannot be delivered after retries the run fails
      fast instead of pausing on an unseen request.
    - Because `behavior: FAIL` skips downstream tasks on a P2D timeout, the Pause task carries its own
      `errors` block (`notify_expired`) that posts a "request expired, no decision taken" message to the
      same QQ group. Without this, a timed-out approval would leave the group with silence after the
      pending ping.
    - `approved` defaults to `false`, so a careless Resume with default inputs rejects rather than
      auto-approving a production change. Treat the gate as fail-closed. Real authorization (who may
      resume an execution) should be enforced with Kestra EE RBAC; the Pause input is the decision
      record, not the access control.
    - Every interpolated free-text value (`change_summary`, `requested_by`, `reason`) is concatenated
      into a single string and passed through `| toJson`, so a quote, backslash, or newline in those
      user-supplied inputs cannot break or inject into the JSON payload.
    - Each message carries the execution id as a correlation token (`[{{ execution.id }}]`), so when two
      deploys request approval at once, approvers can match each pending ping, outcome, and expiry notice
      to the right execution.
    - `concurrency: { limit: 1 }` is set; remove it if you intend to run several independent approvals in
      parallel (the correlation token keeps them distinguishable).

    Connection reuse:
    - `pluginDefaults` declare the QQ `url` and `token` once for all `io.kestra.plugin.tencent.qq` tasks,
      so the pending, outcome, and expiry notifications cannot drift to different endpoints.

    Prerequisites:
    - A Tencent Cloud IM / QQ application with the REST API enabled and a valid `UserSig` signature.
    - The Tencent Cloud IM `sendmsg` REST endpoint URL for your SDKAppID.
    - One or more QQ group or user identifiers for the approver audience.

    Secrets (never hardcode values):
    - `TENCENT_IM_URL`: the Tencent Cloud IM REST endpoint used to send messages, for example the
      `v4/openim/sendmsg` URL including your SDKAppID and admin identifier.
    - `TENCENT_IM_TOKEN`: the Tencent Cloud IM authentication token or `UserSig` signature.

    Quick start:
    1. Add the `TENCENT_IM_URL` and `TENCENT_IM_TOKEN` secrets to your Kestra instance.
    2. Set `approver_recipients` to the QQ identifiers of your approvers.
    3. Set `kestra_ui_url` to your instance base URL so the Resume link resolves correctly.
    4. Deploy and execute the flow; the approver group receives a pending-approval message.
    5. Open the execution, click Resume, set `approved` and `reason`, and the outcome message is sent. If
       no one acts within two days, the group receives an expiry message instead.

    Expected outputs:
    The Pause task exposes the collected decision at `{{ outputs.wait_for_approval.onResume.approved }}`
    and `{{ outputs.wait_for_approval.onResume.reason }}`, which the outcome notification renders. The
    `QQIncomingWebhook` tasks do not expose file outputs; confirm the messages from the Logs tab of the
    `notify_pending_approval`, `notify_outcome`, and (on timeout) `notify_expired` task runs.

    Documentation:
    - Tencent plugin tasks: https://kestra.io/plugins/plugin-tencent
    - Pause task and human-in-the-loop: https://kestra.io/docs/workflow-components/tasks/flow/pause
    - Tencent Cloud IM REST API: https://www.tencentcloud.com/document/product/1047
  tags:
    - Business
  ee: false
  demo: false
  metaDescription: Notify a QQ approver group that an approval is pending, pause for a human decision, then post the outcome or an expiry notice.
