flows/workflow-error-alerts-telegram.yaml
id: workflow-error-alerts-telegram
namespace: company.team
tasks:
  - id: format_error_message
    type: io.kestra.plugin.scripts.python.Script
    description: "Builds a human-readable error message with the flow name and execution link."
    script: |
      from kestra import Kestra

      flow_name = "{{ flow.id }}"
      namespace = "{{ flow.namespace }}"
      execution_id = "{{ execution.id }}"

      message = (
          f"Warning: Flow `{namespace}.{flow_name}` failed!\n"
          f"Execution: {execution_id}\n"
          f"Check the execution in the Kestra UI for details."
      )

      print(message)
      Kestra.outputs({"message": message})

  - id: send_telegram_alert
    type: io.kestra.plugin.core.http.Request
    description: "Sends the error alert to a Telegram chat via bot API."
    uri: "https://api.telegram.org/bot{{ secret('TELEGRAM_BOT_TOKEN') }}/sendMessage"
    method: POST
    contentType: application/json
    body: |
      {
        "chat_id": "{{ secret('TELEGRAM_CHAT_ID') }}",
        "text": "{{ outputs.format_error_message.vars.message }}",
        "parse_mode": "Markdown"
      }

extend:
  title: "Send Workflow Error Alerts to Telegram"
  metaTitle: "Kestra Workflow Error Alerts to Telegram"
  shortDescription: >-
    Sends a Telegram notification whenever a Kestra flow execution fails,
    including the flow name and a direct link to the failed execution.
  description: |
    **Receive instant Telegram alerts when any Kestra flow fails, with the flow name, namespace, and a direct execution link for fast debugging.**

    1. A `io.kestra.plugin.scripts.python.Script` task formats a human-readable error message containing the failed flow's namespace, flow ID, and execution ID
    2. A `io.kestra.plugin.core.http.Request` task calls the Telegram Bot API to send the formatted message to your chosen chat or group

    To use this as a global error handler, attach it as an `errors` task block inside any Kestra flow — or configure it as a system-level error flow in your Kestra namespace settings so it fires automatically on every failed execution across your organization.

    The message template is fully customizable: add the execution start time with `{{ execution.startDate }}`, the triggering task ID with `{{ task.id }}`, or a direct deep link to the Kestra UI execution page by constructing `{{ vars.kestraUrl }}/ui/executions/{{ execution.id }}`.

    Ideal for:
    - **DevOps and platform engineers** who need real-time pipeline failure notifications on mobile without setting up a dedicated alerting system
    - **Data engineering teams** monitoring scheduled ETL flows and wanting instant triage links when a nightly job breaks
    - **On-call engineers** who need a lightweight alternative to PagerDuty for non-critical workflow failures
  tags:
    - System
    - Core
  ee: false
  demo: false
  metaDescription: >-
    Kestra error-handling flow that sends instant Telegram alerts with the flow
    name, namespace, and execution link whenever a workflow fails in production.

