flows/workflow-error-alerts-telegram.yaml
id: workflow-error-alerts-telegram
namespace: company.team
tasks:
  - id: format_error_message
    type: io.kestra.plugin.scripts.python.Script
    description: "Builds a human-readable error message with the flow name and execution link."
    script: |
      from kestra import Kestra

      flow_name = "{{ flow.id }}"
      namespace = "{{ flow.namespace }}"
      execution_id = "{{ execution.id }}"

      message = (
          f"Warning: Flow `{namespace}.{flow_name}` failed!\n"
          f"Execution: {execution_id}\n"
          f"Check the execution in the Kestra UI for details."
      )

      print(message)
      Kestra.outputs({"message": message})

  - id: send_telegram_alert
    type: io.kestra.plugin.core.http.Request
    description: "Sends the error alert to a Telegram chat via bot API."
    uri: "https://api.telegram.org/bot{{ secret('TELEGRAM_BOT_TOKEN') }}/sendMessage"
    method: POST
    contentType: application/json
    body: |
      {
        "chat_id": "{{ secret('TELEGRAM_CHAT_ID') }}",
        "text": "{{ outputs.format_error_message.vars.message }}",
        "parse_mode": "Markdown"
      }

extend:
  title: "Send Workflow Error Alerts to Telegram"
  metaTitle: "Kestra Workflow Error Alerts to Telegram"
  shortDescription: >-
    Sends a Telegram notification whenever a Kestra flow execution fails,
    including the flow name and a direct link to the failed execution.
  description: |
    **Receive instant Telegram alerts when any Kestra flow fails, with a direct link to the execution for fast debugging.**

    1. A `io.kestra.plugin.scripts.python.Script` task formats an error message containing the failed flow name and execution URL
    2. A `io.kestra.plugin.core.http.Request` task sends the formatted message to your Telegram chat

    Ideal for:
    - **DevOps engineers** who need real-time failure notifications on mobile
    - **Platform teams** monitoring production Kestra flows and wanting quick triage links
  tags:
    - System
    - Core
  ee: false
  demo: false
  metaDescription: >-
    Kestra error handling flow that sends Telegram alerts with execution links
    whenever a workflow fails in production.

