flows/zapier-trigger-zap.yaml
id: zapier-trigger-zap
namespace: company.team

inputs:
  - id: event_name
    type: STRING
    description: Name of the event to send to Zapier
    defaults: workflow_completed
  - id: message
    type: STRING
    description: Custom message to include in the payload
    defaults: Hello from Kestra!

tasks:
  - id: trigger_zap
    type: io.kestra.plugin.zapier.TriggerZap
    description: Send an event payload to a Zapier Catch Hook to trigger a Zap.
    url: "{{ secret('ZAPIER_WEBHOOK_URL') }}"
    method: POST
    content:
      event: "{{ inputs.event_name }}"
      message: "{{ inputs.message }}"
      source: kestra
      namespace: "{{ flow.namespace }}"
      flow: "{{ flow.id }}"
      execution: "{{ execution.id }}"

extend:
  shortDescription: "Trigger a Zapier Zap from Kestra via a webhook to automate cross-platform workflows."
  title: Trigger a Zapier Zap
  description: |
    This blueprint shows how to trigger a Zapier Zap from Kestra by
    sending a JSON payload to a Zapier Catch Hook URL. This lets you
    connect Kestra workflows to thousands of apps available in Zapier.

    The task sends event metadata and a custom message to Zapier.
    You can extend the payload with any data your Zap needs.

    Prerequisites:
      - Secrets:
        - ZAPIER_WEBHOOK_URL: A Zapier Catch Hook URL (from a "Webhooks by Zapier" trigger).
      - Services:
        - A Zapier account with a Zap configured to use Webhooks by Zapier as its trigger.

    Expected outputs:
      - `{{ outputs.trigger_zap.status }}`: HTTP status code (200 on success).
      - `{{ outputs.trigger_zap.body }}`: Response body from Zapier.
      - `{{ outputs.trigger_zap.attemptId }}`: Zapier attempt tracking ID.

  tags:
    - Business
  ee: false
  demo: false
  meta_description: Trigger a Zapier Zap from Kestra via a webhook.
